<template name="aijihuiCityDashboard">
    <!-- Content Wrapper. Contains page content -->
    <!--<div class="content-wrapper">-->
        <!-- Main content -->
        <section class="content"  style="background-color: white">

            <!-- Your Page Content Here -->
            <div class="template-dashboard content body">
                <div class="small-box bg-light-blue">
                    <div class="inner">
                        <h3>{{todayTradeStats.tradeNum}}
                        </h3>

                        <p>{{todayTradeStats.date}} 订单提交量</p>
                        <p>(废旧机个数(排取消){{todayTradeStats.junkTradeNum}})</p>
                        <p>(取消订单提交个数{{todayTradeStats.cancelTradeNum}})</p>
                    </div>
                </div>
                <div class="row">
                    <div id="venderTradeCityMixedChart" class="col-md-12 col-sm-12 col-xs-12"
                         style="height:400px;margin-top: 3%">
                    </div>
                </div>
                <div class="row">
                    <div class="template-dashboard content body">
                        <div class="small-box bg-light-blue">
                            <div class="inner">
                                <h3>{{todayTradeStats.tradeAmount}}
                                </h3>

                                <p>{{todayTradeStats.date}} 订单提交金额</p>
                                <p>(废旧机提交金额(排取消){{todayTradeStats.junkTradeAmount}})</p>
                                <p>(取消订单提交金额(排取消){{todayTradeStats.cancelTradeAmount}})</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="venderTradeAmountCityMixedChart" class="col-md-12 col-sm-12 col-xs-12"
                         style="height:400px;margin-top: 3%">
                    </div>

                </div>

                <div class="row">
                    <div class="template-dashboard content body">
                        <div class="small-box bg-light-blue">
                            <div class="inner">
                                <h3>{{todayTradeStats.dealNum}}
                                </h3>

                                <p>{{todayTradeStats.date}} 订单成交量</p>
                                <p>(废旧机个数{{todayTradeStats.junkDealNum}})</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="venderTradeDealCityMixedChart" class="col-md-12 col-sm-12 col-xs-12"
                         style="height:400px;margin-top: 3%">
                    </div>

                </div>

                <div class="row">
                <div class="template-dashboard content body">
                    <div class="small-box bg-light-blue">
                        <div class="inner">
                            <h3>{{todayTradeStats.dealAmount}}
                            </h3>

                            <p>{{todayTradeStats.date}} 爱机汇订单成交金额</p>
                            <p>(废旧机成交金额{{todayTradeStats.junkDealAmount}})</p>
                        </div>
                    </div>
                </div>
                </div>

                <div class="row">
                <div id="venderTradeDealAmountCityMixedChart" class="col-md-12 col-sm-12 col-xs-12"
                     style="height:400px;margin-top: 3%">
                </div>
                </div>
            </div>

        </section><!-- /.content -->
    <!--</div>&lt;!&ndash; /.content-wrapper &ndash;&gt;-->
</template>
