<template name="divineFlow">
    <style>
        .spa{
            letter-spacing: 3px;
        }
        .for-num {
            font-size: 18px;
            font-weight: bold;
        }

        .button-add{
            margin-top:20px;font-size:15px;color:#fff;border:1px solid #47A3D1;outline:none;background:#47A3D1;width:150px;height:30px;
        }

        .button-add:hover{
            margin-top:20px;font-size:15px;color:#fff;border:1px solid #2bb7ff;outline:none;background:#2bb7ff;width:150px;height:30px;
        }

        .ms-choice{
            height: 32px;
            line-height: 32px;
        }

        .ms-search{
            min-height: 32px;
        }

        .ms-search input{
            min-height: 32px;
        }

        @media (min-width: 768px){
            .re-modal-dialog {
                width: 55%;
                margin: 30px auto;
            }
        }
        @media screen and (min-width:1600px) {
            .re-modal-content{
                overflow-y:auto;max-height:700px;
            }

            .sek{
                height: 32px;width:80%;border-radius: 4px;font-size:12px;
            }

            .sek-input{
                height: 32px;width:90.5%;border-radius: 4px;font-size:12px;
            }

            .seek{
                width:90.5%;
                height: 150px;
            }
        }

        @media screen and (max-width:1600px) {
            .re-modal-content{
                overflow-y:auto;max-height:500px;
            }
            .sek{
                height: 32px;width:70%;border-radius: 4px;font-size:12px;
            }

            .sek-input{
                height: 32px;width:86.2%;border-radius: 4px;font-size:12px;
            }

            .seek{
                width:85.6%;
                height: 150px;
            }
        }

    </style>
    <div class="content">
        <section class="content" style="background:#eee;">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-solid">
                        <div class="box-header">
                            <div class="box-tools" style="position:relative;width:100%;">
                                <h5 class="description-header" style="width:200px;margin:0 auto;font-weight:BOLD;font-size:20px">神策页面维护平台</h5>
                            </div>
                        </div>

                        <div class="box-body">
                            <div class="chart tab-pane active" style="position: relative; ">
                                <div class="row" style="padding-top:5px;width:100%;margin:0 auto;">
                                    <div class="col-md-3" style="padding-top:5px;padding-bottom:5px;">
                                        <span style="font-size:12px;">　　服务：</span>
                                        <select id="service" class="service sek" my-init="true">
                                            <!--<option value="0">不限</option>-->
                                        </select>
                                    </div>

                                    <div class="col-md-3" style="padding-top:5px;padding-bottom:5px;">
                                        <span style="font-size:12px;">　　平台：</span>
                                        <select id="platform" class="platform sek" my-init="true">
                                        </select>
                                    </div>

                                    <div class="col-md-3" style="padding-top:5px;padding-bottom:5px;">
                                        <span style="font-size:12px;">　　应用：</span>
                                        <select id="app" class="app sek" my-init="true">
                                        </select>
                                    </div>

                                    <div class="col-md-3" style="padding-top:5px;padding-bottom:5px;">
                                        <span style="font-size:12px;">页面类型：</span>
                                        <select id="category" class="category sek" my-init="true">
                                        </select>
                                    </div>
                                </div>

                                <div class="row" style="padding-top:5px;width:100%;margin:0 auto;">
                                    <div class="col-md-6" style="padding-top:5px;padding-bottom:5px;">
                                        <span style="font-size:12px;">页面链接：</span>
                                        <input id="link" class="link sek-input" my-init="true"/>
                                    </div>

                                    <div class="col-md-6" style="padding-top:5px;padding-bottom:5px;">
                                        <span style="font-size:12px;">页面名称：</span>
                                        <input id="name" class="name sek-input" my-init="true"/>
                                    </div>
                                </div>


                                <div class="row" style="padding-top:60px;width:100%;margin:0 auto;">
                                    <div class="col-md-12">
                                        <input type="button" id="addBtn" value="新增" class="button-add"/>
                                    </div>
                                </div>

                                <div class="row" style="width:100%;margin:0 auto;">
                                    <div class="col-md-12" id="page-table-panel">
                                        <table id="page-table" class="table table-striped"
                                               data-toggle="table"
                                               data-show-export="true"
                                               data-pagination="true"
                                               data-click-to-select="true">
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 弹框 -->
            <div>
                <div class="modal fade" id="myWarnModal" tabindex="-1" role="dialog" aria-labelledby="myWarnModalLabel" aria-hidden="true">
                    <div class="modal-dialog re-modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                                </button>
                                <h4 class="modal-title" id="myWarnModalLabel">

                                </h4>
                            </div>
                            <div class="modal-body re-modal-content">
                                <!--content开始-->
                                <div name="showContent">
                                    <div class="row" style="width:100%;position:relative;margin:0 auto;background:#f9f9f9;padding-top:10px;">
                                        <div class="col-md-12">
                                            <div class="box box-solid">
                                                <div class="box-header with-border">
                                                    <h3 class="box-title spa"></h3>
                                                </div>
                                                <div class="box-body no-padding">
                                                    <div class="row" style="padding-top:5px;width:100%;margin:0 auto;">
                                                        <div class="col-md-6" style="padding-top:5px;padding-bottom:5px;">
                                                            <span style="font-size:12px;">　　服务：</span>
                                                            <select disabled name="service" class="sek" style="background:#eee;"></select>
                                                        </div>

                                                        <div class="col-md-6" style="padding-top:5px;padding-bottom:5px;">
                                                            <span style="font-size:12px;">　　平台：</span>
                                                            <select disabled name="platform" class="sek" style="background:#eee;"></select>
                                                        </div>
                                                    </div>

                                                    <div class="row" style="padding-top:5px;width:100%;margin:0 auto;">
                                                        <div class="col-md-6" style="padding-top:5px;padding-bottom:5px;">
                                                            <span style="font-size:12px;">　　应用：</span>
                                                            <select disabled name="app" class="sek" style="background:#eee;"></select>
                                                        </div>

                                                        <div class="col-md-6" style="padding-top:5px;padding-bottom:5px;">
                                                            <span style="font-size:12px;">页面类型：</span>
                                                            <select name="category" class="sek"></select>
                                                        </div>
                                                    </div>

                                                    <div class="row" style="padding-top:5px;width:100%;margin:0 auto;">
                                                        <div class="col-md-6" style="padding-top:5px;padding-bottom:5px;">
                                                            <span style="font-size:12px;">页面链接：</span>
                                                            <input disabled name="pageLink" class="sek" style="background:#eee;"/>
                                                        </div>

                                                        <div class="col-md-6" style="padding-top:5px;padding-bottom:5px;">
                                                            <span style="font-size:12px;">页面名称：</span>
                                                            <input name="pageName" class="sek"/>
                                                        </div>
                                                    </div>

                                                    <!--<div class="row" style="padding-top:5px;width:100%;margin:0 auto;">
                                                        <div class="col-md-6" style="padding-top:5px;padding-bottom:5px;">
                                                            <span style="font-size:12px;">　浏览量：</span>
                                                            <input onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"
                                                                   onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'0')}else{this.value=this.value.replace(/\D/g,'')}"
                                                                   name="pagePV" class="sek"/>
                                                        </div>
                                                    </div>-->

                                                    <div class="row" style="padding-top:5px;width:100%;margin:0 auto;">
                                                        <div class="col-md-12" style="padding-top:5px;padding-bottom:5px;">
                                                            <span style="font-size:12px;position:relative;top:-135px;">页面备注：</span>
                                                            <textarea name="pageRemarks" class="seek"></textarea>
                                                        </div>
                                                    </div>

                                                    <div class="row" style="padding-bottom:20px;width:100%;margin:0 auto;">
                                                        <div class="col-md-6" style="text-align:right;">
                                                            <input type="button" id="saveBtn" value="保存" class="button-add"/>

                                                            <input type="button" id="updateBtn" value="修改" class="button-add"/>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <input type="button" id="cancelBtn" data-dismiss="modal" value="取消" class="button-add"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <!-- loading -->
                <div class="modal fade" id="loading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop='static'>
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">提示</h4>
                            </div>
                            <div class="modal-body">
                                请稍候。。。<span id="result"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>
