spring:
  datasource:
    url: jdbc:mysql://10.81.44.187:3306/watcher?useUnicode=true&characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull&allowMultiQueries=true
    username: root
    password: root
  redis:
    host: 10.81.44.187
    password: 123456
    database: 14

server:
  port: 8112

cas:
  server:
    host: http://sso.ob.aihuishou.com:8080/casservice
    login: http://sso.ob.aihuishou.com:8080/casservice/login
    logout: http://sso.ob.aihuishou.com:8080/casservice/logout?service=http://10.25.169.133:8112
  client:
    host: http://10.25.169.133:8112
