spring:
  datasource:
    url: jdbc:mysql://10.81.44.187:3306/watcher?useUnicode=true&characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull&allowMultiQueries=true
    username: root
    password: root
  redis:
    host: 10.81.44.187
    password: 123456
    database: 14
  thymeleaf:
    servlet:
      content-type: text/html
    cache: false
    prefix: classpath:/templates/
    check-template-location: true
    suffix: .html
    encoding: UTF-8
    mode: HTML

server:
  port: 8080

cas:
  server:
    host: http://sso.ob.aihuishou.com:8080/casservice
    login: http://sso.ob.aihuishou.com:8080/casservice/login
    logout: http://sso.ob.aihuishou.com:8080/casservice/logout?service=http://127.0.0.1:8080
  client:
    host: http://127.0.0.1:8080

watcher:
  templates: /project/watcher-manager/watcher-manager/target/classes
