spring:
  datasource:
    url: jdbc:mysql://192.168.5.63:3306/watcher?useUnicode=true&characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull&allowMultiQueries=true
    username: root
    password: root
  redis:
    host: 192.168.5.63
    password: 123456
    database: 14

server:
  port: 8080

cas:
  server:
    logout: http://:8080/casservice/logout?service= https://watcher-test.intra.aihuishou.com
  client:
    host:  https://
davinci:
  host: https://