spring:
  datasource:
    url: jdbc:mysql://10.81.44.187:3306/watcher?useUnicode=true&characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull&allowMultiQueries=true
    username: root
    password: root
  gp-datasource:
      url:
      username: rpt
      driver-class-name: org.postgresql.Driver
      type: com.alibaba.druid.pool.DruidDataSource
  redis:
    host: 10.181.13.126
    password: root
    database: 14
  thymeleaf:
    servlet:
      content-type: text/html
    cache: false
    prefix: classpath:/templates/
    check-template-location: true
    suffix: .html
    encoding: UTF-8
    mode: HTML

server:
  port: 8080

cas:
  server:
    host: http://:8080/casservice
    login: http://:8080/casservice/login
    logout: http://:8080/casservice/logout?service=http://127.0.0.1:8080
  client:
    host: http://127.0.0.1:8080

watcher:
  templates: D:\workspace\IntelliJ\refact\watcher-manager\watcher-manager\target\classes\

proxy:
    watcher:
        target_url: http://:8808

redirect:
  cookie:
    domain: 127.0.0.1

davinci:
  host: https://