<template name="growthIndexMonitor">
    <div class="content">
        <div class="template-datareport content body">
            <div class="row">

                <div class="col-md-12 col-xs-12">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs row">
                            <li class="active col-md-2 col-xs-12"><a href="#product" data-toggle="tab">流量漏斗</a></li>
                            <li class=" col-md-2 col-xs-12" ><a href="#o2o" data-toggle="tab">O2O动态订单</a></li>
                            <li class="col-md-2 col-xs-12"><a href="#ondoor" data-toggle="tab" >上门动态订单</a></li>
                            <li class="col-md-2 col-xs-12"><a href="#logistics" data-toggle="tab">快递动态订单</a></li>
                            <!--<li class="pull-right col-md-3 col-xs-12">
                                <a href="#" class="text-muted">
                                    <button type="button" class="btn btn-primary reportRangeOutlets "
                                            style="margin-left: 3%">
                                        <i class="fa fa-calendar"></i>
                                        <span class="dateSelectLabel"></span>
                                        <i class="fa fa-caret-down"></i>
                                    </button>
                                </a>
                            </li>-->
                        </ul>
                        <div class="tab-content">

                            <div class=" tab-pane" id="o2o">
                                <div style="position:absolute;top:150px;left: 50%;" id="o2oloading">
                                    <img src="/images/loading.gif">
                                </div>
                                <div class="row" id="o2oContent">
                                    <div class="col-md-12 col-xs-12">
                                        <div>
                                            <div class="breadcrumb-navs">
                                                <ol class="quote-step">
                                                    <li>订单</li>
                                                    <li>到店</li>
                                                    <li>成交</li>
                                                    <li>入库</li>
                                                    <li>调拨出库</li>
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-xs-12 option">
                                        <span>请选择区域:</span>
                                        <select  class="o2oArea " multiple="multiple" style="width:200px;border-radius: 4px;padding: 6px 12px;">
                                            <option value="华北大区">华北大区</option>
                                            <option value="华东大区">华东大区</option>
                                            <option value="华南大区">华南大区</option>
                                            <option value="华西大区">华西大区</option>
                                            <option value="其它">小米之家</option>
                                        </select>

                                        <span>请选择城市:</span>
                                        <select  class="o2oCity " multiple="multiple" style="width:200px;border-radius: 4px;padding: 6px 12px;">
                                        </select>
                                        <button class="btn btn-primary search">查询</button>

                                    </div>
                                    <div class="col-md-12 col-xs-12">
                                        <div id="dynamicO2OChart" style="height: 400px"></div>
                                    </div>

                                    <div class="col-md-12 col-xs-12">
                                        <div id="dynamicO2OLineChart" style="height: 400px"></div>
                                    </div>
                                    <div class="col-md-12 col-xs-12">
                                        <table id="o2oTable" data-toggle="table"
                                               data-show-export="true"
                                               data-pagination="true">
                                            <thead>
                                        <tr>
                                            <th data-field="date">周期</th>
                                            <th data-field="trade_create_cnt">订单量</th>
                                            <th data-field="onshop_cnt">到店量</th>
                                            <th data-field="success_cnt">成交量</th>
                                            <th data-field="inwarehouse_cnt">入库量</th>
                                            <th data-field="outwarehouse_cnt">调拨出库量</th>
                                        </tr>
                                        </thead>
                                        </table>
                                    </div>

                                </div>
                            </div>
                            <div class=" tab-pane" id="ondoor">
                                <div style="position:absolute;top:150px;left: 50%;" id="ondoorloading">
                                    <img src="/images/loading.gif">
                                </div>
                                <div class="row" id="ondoorContent">
                                    <div class="col-md-12 col-xs-12">
                                        <div>
                                            <div class="breadcrumb-navs">
                                                <ol class="quote-step">
                                                    <li>上门提交</li>
                                                    <li>客服派单</li>
                                                    <li>督导派单</li>
                                                    <li>上门</li>
                                                    <li>成交</li>
                                                    <li>入库</li>
                                                    <li>调拨出库</li>
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-xs-12 option">
                                        <span>请选择区域:</span>
                                        <select  class="ondoorArea " multiple="multiple" style="width:200px;border-radius: 4px;padding: 6px 12px;">
                                            <option value="华北大区">华北大区</option>
                                            <option value="华东大区">华东大区</option>
                                            <option value="华南大区">华南大区</option>
                                            <option value="华西大区">华西大区</option>
                                            <option value="其它">京东超上门</option>
                                        </select>

                                        <span>请选择城市:</span>
                                        <select  class="ondoorCity " multiple="multiple" style="width:200px;border-radius: 4px;padding: 6px 12px;">
                                        </select>
                                        <button class="btn btn-primary search">查询</button>

                                    </div>
                                    <div class="col-md-12 col-xs-12">
                                        <div id="dynamicOndoorChart" style="height: 400px"></div>
                                    </div>

                                    <div class="col-md-12 col-xs-12">
                                        <div id="dynamicOndoorLineChart" style="height: 400px"></div>
                                    </div>
                                    <div class="col-md-12 col-xs-12">
                                        <table id="ondoorTable" data-toggle="table"
                                               data-show-export="true"
                                               data-pagination="true">
                                            <thead>
                                            <tr>
                                                <th data-field="date">周期</th>
                                                <th data-field="trade_create_cnt">提交量</th>
                                                <th data-field="customer_cnt">客服派单量</th>
                                                <th data-field="supervisor_cnt">督导派单量</th>
                                                <th data-field="ondoor_cnt">上门量</th>
                                                <th data-field="success_cnt">成交量</th>
                                                <th data-field="inwarehouse_cnt">入库量</th>
                                                <th data-field="outwarehouse_cnt">调拨出库量</th>
                                            </tr>
                                            </thead>
                                        </table>
                                    </div>

                                </div>
                            </div>
                            <div class=" tab-pane" id="logistics">
                                <div style="position:absolute;top:150px;left: 50%;" id="logisticsloading">
                                    <img src="/images/loading.gif">
                                </div>
                                <div class="row" id="logisticsContent">
                                    <div class="col-md-12 col-xs-12">
                                        <div>
                                            <div class="breadcrumb-navs">
                                                <ol class="quote-step">
                                                    <li>快递提交</li>
                                                    <li>快递到货</li>
                                                    <li>质检接收</li>
                                                    <li>质检</li>
                                                    <li>成交</li>
                                                    <li>入库</li>
                                                    <li>出库</li>
                                                    <li>质检未入库未退货</li>
                                                    <li>退货</li>
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-xs-12">
                                        <select style="border-radius: 4px;padding: 6px 12px;" id="channel">
                                            <option value="">总数</option>
                                            <option value="BD">BD</option>
                                            <option value="自有">自有</option>
                                            <!--<option value="爱机汇">爱机汇</option>-->
                                            <option value="其它">其它</option>
                                            <!--<option value="">总数</option>
                                            <option value="0">官网</option>
                                            <option value="-2">官网(M版)</option>
                                            <option value="48">京东手机</option>
                                            <option value="52">京东3C</option>
                                            <option value="36">一号店合作</option>
                                            <option value="61">小米</option>
                                            <option value="62">腾讯</option>
                                            <option value="63">三星</option>
                                            <option value="64">小合作方</option>
                                            <option value="73">锤子</option>-->
                                        </select>
                                        <div class="col-md-12 col-xs-12">
                                            <div id="dynamicLogisticsChart" style="height: 400px"></div>
                                        </div>

                                        <div class="col-md-12 col-xs-12">
                                            <div id="dynamicLogisticsLineChart" style="height: 400px"></div>
                                        </div>
                                        <div class="col-md-12 col-xs-12">
                                            <table id="logisticsTable" data-toggle="table"
                                                   data-show-export="true"
                                                   data-pagination="true">
                                                <thead>
                                                <tr>
                                                    <th data-field="date">周期</th>
                                                    <th data-field="trade_create_cnt">提交量</th>
                                                    <th data-field="receipt_cnt">快递到货量</th>
                                                    <th data-field="inspection_receive_cnt">质检接收量</th>
                                                    <th data-field="inspection_cnt">质检量</th>
                                                    <th data-field="success_cnt">成交量</th>
                                                    <th data-field="inwarehouse_cnt">入库量</th>
                                                    <th data-field="outwarehouse_cnt">出库量</th>
                                                    <th data-field="retrieve_cnt">退货量</th>
                                                    <th data-field="stay_in_inspection_cnt">质检未入库未退货</th>
                                                </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>


                                </div>
                            </div>

                            <div class="active tab-pane" id="product">
                                <div style="position:absolute;top:150px;left: 50%;" id="productloading">
                                    <img src="/images/loading.gif">
                                </div>
                                <div class="row" id="productContent">
                                    <div class="col-md-12 col-xs-12">
                                        <div class="col-md-12 col-xs-12">
                                            <div>
                                                <div class="breadcrumb-navs">
                                                    <ol class="quote-step">
                                                        <li>总访问</li>
                                                        <li>询价</li>
                                                        <li>询价完成</li>
                                                        <li>选择回收方式</li>
                                                        <li>提交成功</li>
                                                        <li>门店回收</li>
                                                    </ol>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-xs-12 option">
                                            <span>请选择区域:</span>
                                            <select  class="productArea " multiple="multiple" style="width:200px;border-radius: 4px;padding: 6px 12px;">
                                                <option value="华北大区">华北大区</option>
                                                <option value="华东大区">华东大区</option>
                                                <option value="华南大区">华南大区</option>
                                                <option value="华西大区">华西大区</option>
                                                <option value="物流">物流</option>
                                            </select>

                                            <span>请选择城市:</span>
                                            <select  class="productCity " multiple="multiple" style="width:200px;border-radius: 4px;padding: 6px 12px;">
                                            </select>
                                            <button class="btn btn-primary search">查询</button>

                                        </div>
                                        <div class="col-md-12 col-xs-12">
                                            <div id="dynamicProductChart" style="height: 400px"></div>
                                        </div>

                                        <div class="col-md-12 col-xs-12">
                                            <div id="dynamicProductLineChart" style="height: 400px"></div>
                                        </div>
                                        <div class="col-md-12 col-xs-12">
                                            <table id="productTable" data-toggle="table"
                                                   data-show-export="true"
                                                   data-pagination="true">
                                                <thead>
                                                <tr>
                                                    <th data-field="date">周期</th>
                                                    <th data-field="uv">总访客数</th>
                                                    <th data-field="inquiry_uv">询价访客数</th>
                                                    <th data-field="inquiry_success_uv">询价完成访客数</th>
                                                    <th data-field="recycle_uv">选择回收方式访客数</th>
                                                    <th data-field="submit_success_uv">提交成功访客数</th>
                                                    <th data-field="shop_recycle_uv">门店回收访客数</th>
                                                </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>



            </div>
        </div>
</template>