<template name="appinstall">
    <!-- Content Wrapper. Contains page content -->
    <div class="content">
        <section class="content-header">
            <h1>
                App安装
                <small></small>
            </h1>
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="template-appinstall content body">
                <div class="row" style="margin-bottom: 20px">
                    <a href="itms-services://?action=download-manifest&url=https://raw.githubusercontent.com/hsh075623201/Watcher/master/qiyi.plist">
                        <button type="button" class="btn btn-primary" style="margin-right: 5px;">
                            <i class="fa fa-apple" style="margin-right: 10px;"></i>iOS版
                        </button>
                    </a>
                    <a href="https://github.com/hsh075623201/Watcher/raw/master/Watcher.apk">
                        <button type="button" class="btn btn-primary" style="margin-right: 5px;">
                            <i class="fa fa-android" style="margin-right: 10px;"></i>Android版
                        </button>
                    </a>
                </div>
                <div class="row">
                    <span>Note: iOS版本安装完成以后，需要在"设置 -> 通用 -> 设备管理"，里点击"ShangHai Yue Yi Network Information Technology Co. Ltd" 并点击信任该开发者。</span>
                </div>
            </div>
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
</template>