<template name="VenderGroupOrderStatistics">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">

            <!-- Your Page Content Here -->

            <div id="chartContent" class="template-dashboard content body">
                <span style="color:red">注：</span><span>不填即查询所有数据。</span>
                <!--<span style="color:red">注：</span><span>只包含官网和M版流量</span>-->
                <div class="row desktop-only c-border">
                    <div class=" col-md-12 col-sm-12 col-xs-12 ">
                        <span>请选择查看时间:</span>
                        <button type="button" class="daily btn btn-default webTrafficFunnelDate"  style="border: 1px gray solid;width:240px;background-color:white">
                            <i class="fa fa-calendar"></i>
                            <span class="dateSelectLabel"></span>
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <span>产单个数>=:</span>
                        <input type="text" class="cnt" value="0" placeholder="0" style="margin-left: 28px;width:150px;border-radius: 4px;padding: 6px 12px;" />
                        <span>单</span>
                        <span>订单维度:</span>
                        <select  class="orderFlag" style="width: 150px;height: 34px;border-radius: 4px;padding: 6px 12px;">
                            <option value="提交">订单提交</option>
                            <option value="成交">订单成交</option>
                        </select>
                        <button class="btn btn-primary search">查询</button>
                        <!--<a href="#" class="glyphicon glyphicon-question-sign pull-right" style="margin-top:1%;margin-bottom: 1%;" data-toggle="tooltip"-->
                           <!--title="说明：&#10;不填即查询所有数据"></a>-->
                    </div>
                    <div class=" col-md-12 col-sm-12 col-xs-12 ">

                    </div>

                </div>
                <div >

                    <label style="margin-top:20px">总账户产单数据</label>
                    <div id="ftable" class="row" style="margin-top: 15px;border: 1px solid gray">
                        <div style="text-align: center;margin-top: 150px" id="loading1">
                            <img src="/images/loading.gif">
                        </div>
                    <div id="rightf" class="col-md-12 col-sm-12 col-xs-12" style="">
                        <button type="button" class="exportVenderParent pull-right" style="border-radius: 4px;padding: 6px 12px; background-color:#3c8dbc; border-color:
transparent; color:white; height:34px; margin-left: 3%">导出总账户数据</button>
                        <table id="venderTable"
                               data-toggle="table"
                               data-pagination="true"
                               data-click-to-select="true"
                        >
                            <thead>
                                <tr>
                                    <th data-field="vender_parent_name" data-sortable="true">客户名称</th>
                                    <th data-field="vender_parent_key" data-sortable="true">客户id</th>
                                    <th data-field="level" data-sortable="true">客户级别</th>
                                    <th data-field="vender_province_name" data-sortable="true">客户所在省份</th>
                                    <th data-field="venerGroupKey" data-sortable="true">所属代理商</th>
                                    <th data-field="contact_name" data-sortable="true">联系人</th>
                                    <th data-field="vender_mobile_txt" data-sortable="true">手机号码</th>
                                    <th data-field="cnt" data-sortable="true">订单数</th>
                                    <th data-field="num" data-sortable="true">订单金额</th>
                                </tr>
                            </thead>


                        </table>

                    </div>
                </div>

                </div>

                <div class="row desktop-only c-border">
                    <div class=" col-md-12 col-sm-12 col-xs-12 ">
                        <span>请选择查看时间:</span>
                        <button type="button" class="daily btn btn-default webTrafficFunnelDateGroup"  style="border: 1px gray solid;width:240px;background-color:white">
                            <i class="fa fa-calendar"></i>
                            <span class="dateSelectLabelGroup"></span>
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <span>产单个数>=:</span>
                        <input type="text" class="cntGroup" value="0" placeholder="0" style="margin-left: 28px;width:150px;border-radius: 4px;padding: 6px 12px;" />
                        <span>单</span>
                        <span>订单维度:</span>
                        <select  class="orderFlagGroup" style="width: 150px;height: 34px;border-radius: 4px;padding: 6px 12px;">
                            <option value="提交">订单提交</option>
                            <option value="成交">订单成交</option>
                        </select>
                        <button class="btn btn-primary searchGroup">查询</button>
                        <!--<a href="#" class="glyphicon glyphicon-question-sign pull-right" style="margin-top:1%;margin-bottom: 1%;" data-toggle="tooltip"-->
                           <!--title="说明：&#10;不填即查询所有数据"></a>-->
                    </div>
                    <div class=" col-md-12 col-sm-12 col-xs-12 ">

                    </div>

                </div>
                <label style="margin-top:20px">门店产单数据</label>
                <div id="dtable" class="row" style="margin-top: 40px;border: 1px solid gray">
                    <div style="text-align: center;margin-top: 150px" id="loading2">
                        <img src="/images/loading.gif">
                    </div>
                    <div id="rightd" class="col-md-12 col-sm-12 col-xs-12" style="">
                        <button type="button" class="exportVenderGroup pull-right" style="border-radius: 4px;padding: 6px 12px; background-color:#3c8dbc; border-color:
transparent; color:white; height:34px; margin-left: 3%">导出门店数据</button>
                        <table id="groupTable"
                               data-toggle="table"
                               data-pagination="true"
                               data-click-to-select="true"
                        >
                            <thead>
                            <tr>
                                <th data-field="venerGroupName" data-sortable="true">门店名称</th>
                                <th data-field="venerGroupKey" data-sortable="true">门店id</th>
                                <th data-field="vender_group_status_name" data-sortable="true">门店状态</th>
                                <th data-field="vender_province_name" data-sortable="true">门店所在省份</th>
                                <th data-field="vender_parent_name" data-sortable="true">所属客户</th>
                                <th data-field="vender_parent_key" data-sortable="true">客户id</th>
                                <th data-field="level" data-sortable="true">客户级别</th>
                                <th data-field="grouper" data-sortable="true">店长</th>
                                <th data-field="vender_mobile_txt" data-sortable="true">手机号码</th>
                                <th data-field="cnt" data-sortable="true">订单数</th>
                                <th data-field="num" data-sortable="true">订单金额</th>
                            </tr>
                            </thead>


                        </table>

                    </div>
                </div>
                <div class="row" style="margin-top: 3%">
                    <div class="rte col-md-12 col-sm-12 col-xs-12">
                        <table id="marketingWebTrafficDataTable" class="display compact cell-border" cellspacing="0"
                               width="100%"></table>
                    </div>
                </div>

            </div>

        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
</template>