<template name="VenderPermissionInspectionMistakeDataInfo">
    <!-- Content Wrapper. Contains page content -->
    <div class="content">
        <!-- Main content -->
        <section class="content">

            <!-- Your Page Content Here -->

            <div id="chartContent" class="template-dashboard content body">
                <span style="color:red">注：</span><span>炸弹机即无法开机；拆修：屏幕拆修和主板拆修；进水。</span>
                <!--<span style="color:red">注：</span><span>只包含官网和M版流量</span>-->
                <div class="row desktop-only c-border">
                    <div class=" col-md-12 col-sm-12 col-xs-12 ">
                        <span>请选择查看时间:</span>
                        <!--<select  class="dateType" style="width: 120px;height: 34px;border-radius: 4px;padding: 6px 12px;">-->
                            <!--<option value="daily">按日期选择</option>-->
                            <!--<option value="weekly">按周选择</option>-->
                            <!--<option value="monthly">按月选择</option>-->
                        <!--</select>-->
                        <button type="button" class="daily btn btn-default webTrafficFunnelDate"  style="border: 1px gray solid;width:240px;background-color:white">
                            <i class="fa fa-calendar"></i>
                            <span class="dateSelectLabel"></span>
                            <i class="fa fa-caret-down"></i>
                        </button>

                        <!--<a href="#" class="glyphicon glyphicon-question-sign pull-right" style="margin-top:1%;margin-bottom: 1%;" data-toggle="tooltip"-->
                           <!--title="说明：炸弹机即无法开机；拆修：屏幕拆修和主板拆修；进水。-->
                           <!--"></a>-->
                        <!--<span>选择网址名:</span>-->
                        <!--<select class="siteName" style="margin-left: 28px;width:150px;border-radius: 4px;padding: 6px 12px;">-->

                        <!--</select>-->
                        <!--<button class="btn btn-primary search">查询</button>-->

                    </div>
                    <div class=" col-md-12 col-sm-12 col-xs-12 ">

                    </div>

                </div>
                <div class="row mobile-only desktop-none">
                    <div>
                        <span>请选择查看时间:</span>
                        <!--<select  class="dateType" style=";width:200px;border-radius: 4px;padding: 6px 12px;">-->
                            <!--<option value="daily">按日期选择</option>-->
                            <!--&lt;!&ndash;<option value="weekly">按周选择</option>&ndash;&gt;-->
                            <!--&lt;!&ndash;<option value="monthly">按月选择</option>&ndash;&gt;-->
                        <!--</select>-->
                    </div>
                    <div>
                        <span>请选择起始时间:</span>
                        <button type="button" style="border: 1px gray solid;width:200px;background-color:white" class="daily btn btn-default campaignStartDatePicker">
                            <i class="fa fa-calendar"></i>
                            <span class="startDateSelectLabel"></span>
                            <i class="fa fa-caret-down" style="margin-left: 78px"></i>
                        </button>
                        <select  class="weekly startWeek" style="width:200px;border-radius: 4px;padding: 6px 12px;">

                        </select>
                    </div>
                    <div>
                        <span>请选择结束时间:</span>
                        <button type="button" style="border: 1px gray solid;width:200px;background-color:white" class="daily btn btn-default campaignEndDatePicker">
                            <i class="fa fa-calendar"></i>
                            <span class="endDateSelectLabel"></span>
                            <i class="fa fa-caret-down" style="margin-left: 78px"></i>
                        </button>
                        <select  class="weekly endWeek" style="width:200px;border-radius: 4px;padding: 6px 12px;">

                            <!--<div class="">-->
                                <!--<span>请选择网址名:</span>-->
                                <!--<select  class="siteName" style="margin-left: 28px;width:200px;border-radius: 4px;padding: 6px 12px;">-->

                                <!--</select>-->
                            <!--</div>-->

                            <!--<div>-->
                                <!--<button class="btn btn-primary search">查询</button>-->
                            <!--</div>-->

                        </select>
                    </div>
                </div>
                <div >

                    <label style="margin-top:20px">炸弹机门店</label>
                    <div id="dtable" class="row" style="margin-top: 15px;border: 1px solid gray">
                        <div style="text-align: center;margin-top: 150px" id="loading4">
                            <img src="/images/loading.gif">
                        </div>
                        <div id="rightd" class="col-md-12 col-sm-12 col-xs-12" style="">
                            <table id="tabled"
                                   data-toggle="table"
                                   data-show-export="true"
                                   data-pagination="true"
                                   data-click-to-select="true"
                            >


                            </table>

                        </div>
                    </div>

                </div>

                <div >

                    <label style="margin-top:20px">拆修门店</label>
                    <div id="etable" class="row" style="margin-top: 15px;border: 1px solid gray">
                        <div style="text-align: center;margin-top: 150px" id="loading5">
                            <img src="/images/loading.gif">
                        </div>
                        <div id="righte" class="col-md-12 col-sm-12 col-xs-12" style="">
                            <table id="tablee"
                                   data-toggle="table"
                                   data-show-export="true"
                                   data-pagination="true"
                                   data-click-to-select="true"
                            >


                            </table>

                        </div>
                    </div>

                </div>

                <div >

                    <label style="margin-top:20px">进水门店</label>
                    <div id="ftable" class="row" style="margin-top: 15px;border: 1px solid gray">
                        <div style="text-align: center;margin-top: 150px" id="loading6">
                            <img src="/images/loading.gif">
                        </div>
                        <div id="rightf" class="col-md-12 col-sm-12 col-xs-12" style="">
                            <table id="tablef"
                                   data-toggle="table"
                                   data-show-export="true"
                                   data-pagination="true"
                                   data-click-to-select="true"
                            >


                            </table>

                        </div>
                    </div>

                </div>

                <div >

                    <label style="margin-top:20px">炸弹机客户</label>
                    <div id="atable" class="row" style="margin-top: 15px;border: 1px solid gray">
                        <div style="text-align: center;margin-top: 150px" id="loading1">
                            <img src="/images/loading.gif">
                        </div>
                        <div id="righta" class="col-md-12 col-sm-12 col-xs-12" style="">
                            <table id="tablea"
                                   data-toggle="table"
                                   data-show-export="true"
                                   data-pagination="true"
                                   data-click-to-select="true"
                            >


                            </table>

                        </div>
                    </div>

                </div>
                <div >

                    <label style="margin-top:20px">拆修客户</label>
                    <div id="btable" class="row" style="margin-top: 15px;border: 1px solid gray">
                        <div style="text-align: center;margin-top: 150px" id="loading2">
                            <img src="/images/loading.gif">
                        </div>
                        <div id="rightb" class="col-md-12 col-sm-12 col-xs-12" style="">
                            <table id="tableb"
                                   data-toggle="table"
                                   data-show-export="true"
                                   data-pagination="true"
                                   data-click-to-select="true"
                            >


                            </table>

                        </div>
                    </div>

                </div>

                <div >

                    <label style="margin-top:20px">进水客户</label>
                    <div id="ctable" class="row" style="margin-top: 15px;border: 1px solid gray">
                        <div style="text-align: center;margin-top: 150px" id="loading3">
                            <img src="/images/loading.gif">
                        </div>
                        <div id="rightc" class="col-md-12 col-sm-12 col-xs-12" style="">
                            <table id="tablec"
                                   data-toggle="table"
                                   data-show-export="true"
                                   data-pagination="true"
                                   data-click-to-select="true"
                            >


                            </table>

                        </div>
                    </div>

                </div>

            </div>

        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
</template>