<template name="VenderPermissionControlSalesKpiInfoControl">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">

            <!-- Your Page Content Here -->

            <div id="chartContent" class="template-dashboard content body">
                <span style="color:red">注：</span><span>因取消订单业务导致每日需重跑历史数据以修正取消的订单数，由于数据量的限制，页面中统一只保证近两个月订单数据的准确性。</span>
                <!--<span style="color:red">注：</span><span>只包含官网和M版流量</span>-->
                <div class="row desktop-only c-border">
                    <div class=" col-md-12 col-sm-12 col-xs-12 ">
                        <span>请选择查看时间:</span>
                        <!--<select  class="dateType" style="width: 120px;height: 34px;border-radius: 4px;padding: 6px 12px;">-->
                        <!--<option value="daily">按日期选择</option>-->
                        <!--<option value="weekly">按周选择</option>-->
                        <!--<option value="monthly">按月选择</option>-->
                        <!--</select>-->
                        <button type="button" class="daily btn btn-default webTrafficFunnelDate"  style="border: 1px gray solid;width:240px;background-color:white">
                            <i class="fa fa-calendar"></i>
                            <span class="dateSelectLabel"></span>
                            <i class="fa fa-caret-down"></i>
                        </button>

                        <!--<a href="#" class="glyphicon glyphicon-question-sign pull-right" style="margin-top:1%;margin-bottom: 1%;" data-toggle="tooltip"-->
                           <!--title="说明：&#10;因取消订单业务导致每日需重跑历史数据以修正取消的订单数，&#10;由于数据量的限制，页面中统一只保证近两个月订单数据的准确性。"></a>-->
                        <!--<span>选择网址名:</span>-->
                        <!--<select class="siteName" style="margin-left: 28px;width:150px;border-radius: 4px;padding: 6px 12px;">-->

                        <!--</select>-->
                        <!--<button class="btn btn-primary search">查询</button>-->

                    </div>
                    <div class=" col-md-12 col-sm-12 col-xs-12 ">

                    </div>

                </div>
                <div class="row mobile-only desktop-none">
                    <div>
                        <span>请选择查看时间:</span>
                        <!--<select  class="dateType" style=";width:200px;border-radius: 4px;padding: 6px 12px;">-->
                        <!--<option value="daily">按日期选择</option>-->
                        <!--&lt;!&ndash;<option value="weekly">按周选择</option>&ndash;&gt;-->
                        <!--&lt;!&ndash;<option value="monthly">按月选择</option>&ndash;&gt;-->
                        <!--</select>-->
                    </div>
                    <div>
                        <span>请选择起始时间:</span>
                        <button type="button" style="border: 1px gray solid;width:200px;background-color:white" class="daily btn btn-default campaignStartDatePicker">
                            <i class="fa fa-calendar"></i>
                            <span class="startDateSelectLabel"></span>
                            <i class="fa fa-caret-down" style="margin-left: 78px"></i>
                        </button>
                        <select  class="weekly startWeek" style="width:200px;border-radius: 4px;padding: 6px 12px;">

                        </select>
                    </div>
                    <div>
                        <span>请选择结束时间:</span>
                        <button type="button" style="border: 1px gray solid;width:200px;background-color:white" class="daily btn btn-default campaignEndDatePicker">
                            <i class="fa fa-calendar"></i>
                            <span class="endDateSelectLabel"></span>
                            <i class="fa fa-caret-down" style="margin-left: 78px"></i>
                        </button>
                        <select  class="weekly endWeek" style="width:200px;border-radius: 4px;padding: 6px 12px;">

                        </select>
                    </div>
                </div>
                <div >

                    <label style="margin-top:20px">总账户爱机汇质检错误统计</label>
                    <div id="atable" class="row" style="margin-top: 15px;border: 1px solid gray">
                        <div style="text-align: center;margin-top: 150px" id="loadinga">
                            <img src="/images/loading.gif">
                        </div>
                        <div id="righta" class="col-md-12 col-sm-12 col-xs-12" style="">
                            <table id="tablea"
                                   data-toggle="table"
                                   data-show-export="true"
                                   data-pagination="true"
                                   data-click-to-select="true"
                            >
                                <thead>
                                <tr>
                                    <th data-field="observer_account_user_name" data-sortable="true">销售人员名称</th>
                                    <th data-field="obId" data-sortable="true">员工id</th>
                                    <th data-field="coreCnt" data-sortable="true">核心门店数量</th>
                                    <th data-field="activeCnt" data-sortable="true">活跃门店数量</th>
                                    <th data-field="hasOrderCnt" data-sortable="true">产单门店数量</th>
                                    <th data-field="smallOrderCnt" data-sortable="true">小产单门店数量</th>
                                    <th data-field="silentGroupCnt" data-sortable="true">沉默门店数量</th>
                                    <th data-field="allGroupCnt" data-sortable="true">负责门店总数</th>
                                    <th data-field="submit_count" data-sortable="true">总计提交单量</th>
                                    <th data-field="success_count" data-sortable="true">总计成交单量</th>
                                </tr>
                                </thead>


                            </table>

                        </div>
                    </div>

                </div>
                <!--<div class="row" style="margin-top: 3%">-->
                    <!--<div class="rte col-md-12 col-sm-12 col-xs-12">-->
                        <!--<table id="marketingWebTrafficDataTable" class="display compact cell-border" cellspacing="0"-->
                               <!--width="100%"></table>-->
                    <!--</div>-->
                <!--</div>-->

            </div>

        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
</template>