<template name="addwhitelist">
    <div class="btn-group">
        <button id="addWhite" type="button" class="btn btn-primary btn-sm">加入白名单</button>
        <button type="button" class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a id="addPerson" href="#">将该人员加入白名单</a></li>
            <li><a id="addIP" href="#">将IP加入白名单</a></li>
        </ul>
    </div>
</template>