<template name="riskControlVenderProcessDetectionInfo">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">

            <!-- Your Page Content Here -->

            <div id="chartContent" class="template-dashboard content body">

                <!--<span style="color:red">注：</span><span>只包含官网和M版流量</span>-->
                <div class="row desktop-only c-border">
                    <div class=" col-md-12 col-sm-12 col-xs-12 ">
                        <span>请选择查看时间:</span>
                        <!--<select  class="dateType" style="width: 120px;height: 34px;border-radius: 4px;padding: 6px 12px;">-->
                            <!--<option value="daily">按日期选择</option>-->
                            <!--<option value="weekly">按周选择</option>-->
                            <!--<option value="monthly">按月选择</option>-->
                        <!--</select>-->
                        <button type="button" class="daily btn btn-default webTrafficFunnelDate"  style="border: 1px gray solid;width:240px;background-color:white">
                            <i class="fa fa-calendar"></i>
                            <span class="dateSelectLabel"></span>
                            <i class="fa fa-caret-down"></i>
                        </button>

                        <a href="#" class="glyphicon glyphicon-question-sign pull-right" style="margin-top:1%;margin-bottom: 1%;" data-toggle="tooltip"
                           title="说明：&#10;店员金蛋情况
a 、金蛋占比；比值 = 金蛋金额 / 提交价。
b 、解冻金蛋占比；比值 = 金蛋解冻金额 / 成交价。
以上比值皆是有金蛋的订单。"></a>
                        <!--<span>选择网址名:</span>-->
                        <!--<select class="siteName" style="margin-left: 28px;width:150px;border-radius: 4px;padding: 6px 12px;">-->

                        <!--</select>-->
                        <!--<button class="btn btn-primary search">查询</button>-->

                    </div>
                    <div class=" col-md-12 col-sm-12 col-xs-12 ">

                    </div>

                </div>
                <div class="row mobile-only desktop-none">
                    <div>
                        <span>请选择查看时间:</span>
                        <!--<select  class="dateType" style=";width:200px;border-radius: 4px;padding: 6px 12px;">-->
                            <!--<option value="daily">按日期选择</option>-->
                            <!--&lt;!&ndash;<option value="weekly">按周选择</option>&ndash;&gt;-->
                            <!--&lt;!&ndash;<option value="monthly">按月选择</option>&ndash;&gt;-->
                        <!--</select>-->
                    </div>
                    <div>
                        <span>请选择起始时间:</span>
                        <button type="button" style="border: 1px gray solid;width:200px;background-color:white" class="daily btn btn-default campaignStartDatePicker">
                            <i class="fa fa-calendar"></i>
                            <span class="startDateSelectLabel"></span>
                            <i class="fa fa-caret-down" style="margin-left: 78px"></i>
                        </button>
                        <select  class="weekly startWeek" style="width:200px;border-radius: 4px;padding: 6px 12px;">

                        </select>
                    </div>
                    <div>
                        <span>请选择结束时间:</span>
                        <button type="button" style="border: 1px gray solid;width:200px;background-color:white" class="daily btn btn-default campaignEndDatePicker">
                            <i class="fa fa-calendar"></i>
                            <span class="endDateSelectLabel"></span>
                            <i class="fa fa-caret-down" style="margin-left: 78px"></i>
                        </button>
                        <select  class="weekly endWeek" style="width:200px;border-radius: 4px;padding: 6px 12px;">

                            <!--<div class="">-->
                                <!--<span>请选择网址名:</span>-->
                                <!--<select  class="siteName" style="margin-left: 28px;width:200px;border-radius: 4px;padding: 6px 12px;">-->

                                <!--</select>-->
                            <!--</div>-->

                            <!--<div>-->
                                <!--<button class="btn btn-primary search">查询</button>-->
                            <!--</div>-->

                        </select>
                    </div>
                </div>

                <div >



                    <!--</div>-->
                    <label style="margin-top:20px">爱机汇流量检测</label>
                    <div id="dtable" class="row" style="margin-top: 15px;border: 1px solid gray">
                        <div style="text-align: center;margin-top: 150px" id="loading">
                            <img src="/images/loading.gif">
                        </div>
                        <div id="rightd" class="col-md-12 col-sm-12 col-xs-12" style="">
                            <table id="tabled"
                                   data-toggle="table"
                                   data-show-export="true"
                                   data-pagination="true"
                                   data-click-to-select="true"
                            >
                                <thead>
                                <tr>
                                    <th data-field="date" data-sortable="true">时间</th>
                                    <th data-field="venderParentActiveCnt" data-sortable="true">母账户活跃量</th>
                                    <th data-field="venderActiveCnt" data-sortable="true">子账户活跃量</th>
                                    <th data-field="inquiryVenderCnt" data-sortable="true">询过价的子账户数量</th>
                                    <th data-field="inquiryCnt" data-sortable="true">询价次数</th>
                                    <th data-field="inquiryNum" data-sortable="true">询价金额</th>
                                    <th data-field="inqueryCnt" data-sortable="true">剔除重复imei的询价次数</th>
                                    <th data-field="inqueryNum" data-sortable="true">剔除重复imei的询价金额(含废旧)</th>
                                    <th data-field="orderCnt" data-sortable="true">订单总数(含废旧)</th>
                                    <th data-field="orderNum" data-sortable="true">下单金额(含废旧)</th>
                                </tr>
                                </thead>


                            </table>

                        </div>
                    </div>

                </div>

            </div>

        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
</template>