<template name="VenderHistoryDataStatistics">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">

            <!-- Your Page Content Here -->

            <div class="template-dashboard content body">

                <div class="row c-border">
                    <!--<div class="tempExplain"><label id="templabel" style="margin-left: 1%;font-weight:bold;">注：用户在浏览过程中访问过活动页面，就算活动引来的量</label></div>-->
                    <div class=" col-md-12 col-sm-12 col-xs-12 ">
                        <span>请选择查看时间:</span>
                        <!--<select  class="dateType" style="width: 150px;height: 34px;border-radius: 4px;padding: 6px 12px;">-->
                            <!--<option value="daily">按日期选择</option>-->
                            <!--<option value="weekly">按周选择</option>-->
                            <!--<option value="monthly">按月选择</option>-->
                        <!--</select>-->
                        <button type="button" class="daily btn btn-default webTrafficFunnelDate"  style="border: 1px gray solid;width:240px;background-color:white">
                            <i class="fa fa-calendar"></i>
                            <span class="dateSelectLabel"></span>
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <span>请选择公司名称:</span>
                        <select  class="company c-mleft5" style="margin-left: 28px;width:150px;border-radius: 4px;padding: 6px 12px;">
                        </select>
                        <span class="storeOption">请选择门店:</span>
                        <select  class="store c-mleft5" style="margin-left: 28px;width:150px;border-radius: 4px;padding: 6px 12px;">
                        </select>
                        <span class="accountOption">请选择子账户:</span>
                        <select class="account c-mleft5" style="margin-left: 28px;width:150px;border-radius: 4px;padding: 6px 12px;">
                        </select>

                        <button class="btn btn-primary search">查询</button>
                        <a href="#" class="glyphicon glyphicon-question-sign pull-right" style="margin-top:1%;margin-bottom: 1%;" data-toggle="tooltip"
                           title="说明：
此处只提供查询，导数据请到mstr报表相应页
                            ——添加人：王登庭"></a>
                    </div>
                </div>


                <label style="margin-top:20px">总账户基本信息数据列表</label>
                <div id="tables" class="row" style="margin-top: 15px;border: 1px solid gray">
                    <div style="text-align: center;margin-top: 150px" id="loading">
                        <img src="/images/loading.gif">
                    </div>
                    <div id="right" class="col-md-12 col-sm-12 col-xs-12" style="">
                        <table id="table"
                               data-toggle="table"
                               data-pagination="true"
                               data-click-to-select="true"
                        >
                            <thead>
                            <tr>
                                <th data-field="vender_parent_name" data-sortable="true">总账户</th>
                                <th data-field="vender_group_name" data-sortable="true">门店</th>
                                <th data-field="vender_name" data-sortable="true">子账户</th>
                                <th data-field="submitCnt" data-sortable="true">累计订单提交量</th>
                                <th data-field="submitNum" data-sortable="true">累计订单提交金额</th>
                                <th data-field="validateCnt" data-sortable="true">累计验货数量</th>
                                <th data-field="validateNum" data-sortable="true">累计验货金额（成交价）</th>
                                <th data-field="profit" data-sortable="true">累计毛利额</th>
                                <th data-field="quotation_num" data-sortable="true">累计竞价金额</th>
                                <th data-field="shop_cnt" data-sortable="true">累计出货量</th>
                                <th data-field="special_remitted_num" data-sortable="true">特殊豁免金额</th>
                                <th data-field="success_amt" data-sortable="true">累计验货成功金额</th>
                                <th data-field="inspect_fail_amount_num" data-sortable="true">累计验货差异</th>
                                <th data-field="special_num" data-sortable="true">累计特殊补款</th>
                                <th data-field="fix_count" data-sortable="true">累计拆修量</th>
                                <th data-field="fix_amount" data-sortable="true">累计拆修金额</th>
                                <th data-field="wet_count" data-sortable="true">累计进水量</th>
                                <th data-field="wet_amount" data-sortable="true">累计进水金额</th>
                                <th data-field="display_count" data-sortable="true">累计炸弹机量</th>
                                <th data-field="display_amount" data-sortable="true">累计炸弹机金额</th>
                            </tr>
                            </thead>


                        </table>

                    </div>
                </div>

            </div>



        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
</template>
