<template name="currentMonthSellerAuthority">
    <style>

        /*数字区域加载动画css*/
        .spinner {
            width: 100px;
            text-align: center;
            margin: 0 auto;
        }

        .spinner > div {
            width: 10px;
            height: 10px;
            background-color: #747474;

            border-radius: 100%;
            display: inline-block;
            -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
            animation: bouncedelay 1.4s infinite ease-in-out;
            /* Prevent first frame from flickering when animation starts */
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
        }

        .spinner .bounce1 {
            -webkit-animation-delay: -0.32s;
            -moz-animation-delay: -0.32s;
            -ms-animation-delay: -0.32s;
            -o-animation-delay: -0.32s;
            animation-delay: -0.32s;
        }

        .spinner .bounce2 {
            -webkit-animation-delay: -0.16s;
            -moz-animation-delay: -0.16s;
            -ms-animation-delay: -0.16s;
            -o-animation-delay: -0.16s;
            animation-delay: -0.16s;
        }

        @-webkit-keyframes bouncedelay {
            0%, 80%, 100% { -webkit-transform: scale(0.0) }
            40% { -webkit-transform: scale(1.0) }
        }

        @-moz-keyframes bouncedelay {
            0%, 80%, 100% { -moz-transform: scale(0.0) }
            40% { -moz-transform: scale(1.0) }
        }

        @-ms-keyframes bouncedelay {
            0%, 80%, 100% { -ms-transform: scale(0.0) }
            40% { -ms-transform: scale(1.0) }
        }

        @-o-keyframes bouncedelay {
            0%, 80%, 100% { -o-transform: scale(0.0) }
            40% { -o-transform: scale(1.0) }
        }

        @keyframes bouncedelay {
            0%, 80%, 100% {
                transform: scale(0.0);
                -webkit-transform: scale(0.0);
                -moz-transform: scale(0.0);
                -ms-transform: scale(0.0);
                -o-transform: scale(0.0);
            } 40% {
                  transform: scale(1.0);
                  -webkit-transform: scale(1.0);
                  -moz-transform: scale(0.0);
                  -ms-transform: scale(0.0);
                  -o-transform: scale(0.0);
              }
        }



        .body-div-pro{
            border-top:1px solid #eee;border-top-width:5px;
        }

        .info-box-resize{
            height:45px;min-height:45px;
        }

        .info-box-icon-resize{
            height:45px;line-height:45px;
        }

        .bg-green-resize{
            background-color: #3c8dbc !important;
        }

        @media screen and (max-width:1600px) {
            .description-fo-title {
                font-size:10px;
                color: #3e3e3e;
                font-weight: BOLD;
            }
            .description-fo {
                font-size:12px;
                /*color:#999;*/
                font-weight: BOLD;
            }
            .box-title-resize {
                font-size:12px !important;
                font-weight: bold;
            }
            .box-subtitle-resize {
                font-size:12px !important;
                /*font-weight: bold;*/
            }
            .h1-resize{
                position:relative;font-size:12px;font-weight:600;width:180px;
            }
        }

        /*大于1600px*/
        /*数字区域加载动画css结束*/
        @media screen and (min-width:1600px) {
            .description-fo-title {
                font-size:14px;
                color:#3e3e3e;
                font-weight: BOLD;
            }

            .description-fo {
                font-size:18px;
                /*color: #259987;*/
                /*font-weight: BOLD;*/
                font-weight: bold;
            }
            .box-title-resize {
                font-size:18px !important;
                font-weight: bold;
            }
            .box-subtitle-resize {
                font-size:15px !important;
                /*font-weight: bold;*/
            }
            .h1-resize{
                position:relative;font-size:18px;font-weight:600;width:180px;
            }
        }

        @media (min-width: 768px){
            .re-modal-dialog {
                width: 65%;
                margin: 30px auto;
            }
        }
    </style>
    <div class="content" style="background:#eee;">
        <section class="content">
            <!-- 卖家下单 -->
            <div class="row" style="width:100%;margin:0 auto;">
                <div class="box box-widget">
                    <div class="box-header with-border">
                        <div class="row" style="width:100%;margin:0 auto;">
                            <ul class="nav ui-sortable-handle">
                                <li class="pull-left header">
                                    <img class="img-rounded" style="margin-left:-15px;margin-top:-6px;" src="/assets/icon/shugang_blue.png" width="30px" height="20px" alt=""/>
                                    <h3 class="box-title box-title-resize">卖家下单&nbsp;
                                        <span href="#" class="glyphicon glyphicon-question-sign" style="color:#3c8dbc;top:2px"
                                              data-toggle="tooltip" data-html="true"
                                              data-placement="top" title="卖家提交代拍单时填写的数据,去掉取消订单,去掉标品、备件库以及笔记本销售人员维护卖家产生的订单"></span>
                                    </h3>
                                </li>
                                <li class="pull-right header" style="background-color: #fff;top:2px;">
                                    <span>业务方:</span>
                                    <select style="background-color: #fff;" id="service-order" class="selectpicker" multiple
                                            data-live-search="true"
                                            data-width="150px"
                                            data-actions-box="true"
                                    >
                                    </select>
                                </li>
                                <li class="pull-right header">
                                    <h5 class="description-header box-subtitle-resize" style="text-align:right;margin-right:15px;">
                                        <span>更新时间:</span> <span id="cacheUpdateTime"></span>
                                    </h5>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="box-body" style="background:#eee;border:10px solid #fff;">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="box box-solid">
                                    <div class="box-header">
                                        <i class="fa fa-bar-chart-o"></i>
                                        <h3 class="box-title box-title-resize">概览</h3>
                                    </div>
                                    <div class="box-body body-div-pro">
                                        <div class="row">

                                            <div class="col-md-4 col-sm-4 col-xs-4 border-right" style="display: block;">
                                                <div class="description-block">
                                                    <span class="description-text"><span class="description-fo-title">指标</span></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4 col-sm-4 col-xs-4 border-right" style="display: block;">
                                                <div class="description-block">
                                                    <span class="description-text"><span class="description-fo-title">本月</span></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4 col-sm-4 col-xs-4 border-right" style="display: block;">
                                                <div class="description-block">
                                                    <span class="description-text"><span class="description-fo-title">上月同期</span></span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="box-body body-div-pro">
                                        <div class="row">
                                            <div class="col-md-4 col-sm-4 col-xs-4 border-right" style="display: block;">
                                                <div class="description-block">
                                                    <span class="description-text"><span class="description-fo-title">提交物品数量</span></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4 col-sm-4 col-xs-4 border-right" id="currentGoodsLoadingPanel" style="display: none;">
                                                <div class="description-block">
                                                    <div class="spinner">
                                                        <div class="bounce1"></div>
                                                        <div class="bounce2"></div>
                                                        <div class="bounce3"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-4 border-right" id="currentGoodsPanel" style="display: block;">
                                                <div class="description-block">
                                                    <span class="description-text"><span class="description-fo" id="currentGoodsNum">0</span></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4 col-sm-4 col-xs-4 border-right" id="lastGoodsLoadingPanel" style="display: none;">
                                                <div class="description-block">
                                                    <div class="spinner">
                                                        <div class="bounce1"></div>
                                                        <div class="bounce2"></div>
                                                        <div class="bounce3"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-4 border-right" id="lastGoodsPanel" style="display: block;">
                                                <div class="description-block">
                                                    <span class="description-text"><span class="description-fo" id="lastGoodsNum">0</span></span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="box-body body-div-pro">
                                        <div class="row">

                                            <div class="col-md-4 col-sm-4 col-xs-4 border-right" style="display: block;">
                                                <div class="description-block">
                                                    <span class="description-text"><span class="description-fo-title">提交卖家数量</span></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4 col-sm-4 col-xs-4 border-right" id="currentSellerLoadingPanel" style="display: none;">
                                                <div class="description-block">
                                                    <div class="spinner">
                                                        <div class="bounce1"></div>
                                                        <div class="bounce2"></div>
                                                        <div class="bounce3"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-4 border-right" id="currentSellerPanel" style="display: block;">
                                                <div class="description-block">
                                                    <span class="description-text"><span class="description-fo" id="currentSellerNum">0</span></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4 col-sm-4 col-xs-4 border-right" id="lastSellerLoadingPanel" style="display: none;">
                                                <div class="description-block">
                                                    <div class="spinner">
                                                        <div class="bounce1"></div>
                                                        <div class="bounce2"></div>
                                                        <div class="bounce3"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-4 border-right" id="lastSellerPanel" style="display: block;">
                                                <div class="description-block">
                                                    <span class="description-text"><span class="description-fo" id="lastSellerNum">0</span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="box box-solid">
                                    <div class="box-header">
                                        <i class="fa fa-bar-chart-o"></i>
                                        <h3 class="box-title box-title-resize">分城市实时&nbsp;
                                            <a href="#" class="glyphicon glyphicon-question-sign pull-right" style="color:#3c8dbc;"
                                               data-toggle="tooltip" data-html="true"
                                               data-placement="top" title="1、条形图括号内数据统计周期分别为：本月、上月同期　　　　　　　　　　　2、左侧坐标轴显示数据为：提交卖家数量"></a></h3>

                                        <div class="box-tools pull-right">
                                            <span style="font-size:12px;">省份：</span>
                                            <select id="province" class="province" style="height: 32px;width: 120px;border-radius: 4px;font-size:12px;" my-init="true">
                                                <option value="0">正在加载...</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div class="chart tab-pane active" id="provinceChart" style="position: relative; height: 700px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 卖家发货 -->
            <div class="row" style="width:100%;margin:0 auto;">
                <div class="box box-widget">
                    <div class="box-header with-border">
                        <div class="row" style="width:100%;margin:0 auto;">
                            <ul class="nav ui-sortable-handle">
                                <li class="pull-left header">
                                    <img class="img-rounded" style="margin-left:-15px;margin-top:-6px;" src="/assets/icon/shugang_blue.png" width="30px" height="20px" alt=""/>
                                    <h3 class="box-title box-title-resize">卖家发货&nbsp;
                                        <span href="#" class="glyphicon glyphicon-question-sign" style="color:#3c8dbc;top:2px"
                                              data-toggle="tooltip" data-html="true"
                                              data-placement="top" title="数据口径：卖家发货数据。去掉标品、备件库以及笔记本销售人员维护卖家产生的订单"></span>
                                    </h3>
                                </li>

                                <li class="pull-right header" style="top:2px;top:2px;">
                                    <span>&nbsp;&nbsp;&nbsp;&nbsp;业务方:</span>
                                    <select id="service-send" class="selectpicker" multiple
                                            data-live-search="true"
                                            data-width="150px"
                                            data-actions-box="true"
                                    >
                                    </select>
                                </li>

                                <li class="pull-right header">
                                    <h5 class="description-header box-subtitle-resize" style="text-align:right;margin-right:15px;"><span>更新时间:</span> <span id="competeCacheUpdateTime"></span></h5>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="box-body" style="background:#eee;border:10px solid #fff;">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="box box-solid">
                                    <div class="box-header">
                                        <i class="fa fa-bar-chart-o"></i>
                                        <h3 class="box-title box-title-resize">概览</h3>
                                    </div>
                                    <div class="box-body body-div-pro">
                                        <div class="row">

                                            <div class="col-md-4 col-sm-4 col-xs-4 border-right" style="display: block;">
                                                <div class="description-block">
                                                    <span class="description-text"><span class="description-fo-title">指标</span></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4 col-sm-4 col-xs-4 border-right" style="display: block;">
                                                <div class="description-block">
                                                    <span class="description-text"><span class="description-fo-title">本月</span></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4 col-sm-4 col-xs-4 border-right" style="display: block;">
                                                <div class="description-block">
                                                    <span class="description-text"><span class="description-fo-title">上月同期</span></span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="box-body body-div-pro">
                                        <div class="row">
                                            <div class="col-md-4 col-sm-4 col-xs-4 border-right" style="display: block;">
                                                <div class="description-block">
                                                    <span class="description-text"><span class="description-fo-title">竞得物品数量</span></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4 col-sm-4 col-xs-4 border-right" id="sendCurrentGoodsLoadingPanel" style="display: none;">
                                                <div class="description-block">
                                                    <div class="spinner">
                                                        <div class="bounce1"></div>
                                                        <div class="bounce2"></div>
                                                        <div class="bounce3"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-4 border-right" id="sendCurrentGoodsPanel" style="display: block;">
                                                <div class="description-block">
                                                    <span class="description-text"><span class="description-fo" id="sendCurrentGoodsNum">0</span></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4 col-sm-4 col-xs-4 border-right" id="sendLastGoodsLoadingPanel" style="display: none;">
                                                <div class="description-block">
                                                    <div class="spinner">
                                                        <div class="bounce1"></div>
                                                        <div class="bounce2"></div>
                                                        <div class="bounce3"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-4 border-right" id="sendLastGoodsPanel" style="display: block;">
                                                <div class="description-block">
                                                    <span class="description-text"><span class="description-fo" id="sendLastGoodsNum">0</span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="box-body body-div-pro">
                                        <div class="row">

                                            <div class="col-md-4 col-sm-4 col-xs-4 border-right" style="display: block;">
                                                <div class="description-block">
                                                    <span class="description-text"><span class="description-fo-title">竞得物品金额</span></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4 col-sm-4 col-xs-4 border-right" id="sendCurrentSellerLoadingPanel" style="display: none;">
                                                <div class="description-block">
                                                    <div class="spinner">
                                                        <div class="bounce1"></div>
                                                        <div class="bounce2"></div>
                                                        <div class="bounce3"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-4 border-right" id="sendCurrentSellerPanel" style="display: block;">
                                                <div class="description-block">
                                                    <span class="description-text"><span class="description-fo" id="sendCurrentSellerNum">0</span></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4 col-sm-4 col-xs-4 border-right" id="sendLastSellerLoadingPanel" style="display: none;">
                                                <div class="description-block">
                                                    <div class="spinner">
                                                        <div class="bounce1"></div>
                                                        <div class="bounce2"></div>
                                                        <div class="bounce3"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-4 border-right" id="sendLastSellerPanel" style="display: block;">
                                                <div class="description-block">
                                                    <span class="description-text"><span class="description-fo" id="sendLastSellerNum">0</span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="box box-solid">
                                    <div class="box-header">
                                        <i class="fa fa-bar-chart-o"></i>
                                        <h3 class="box-title box-title-resize">分城市实时&nbsp;
                                            <a href="#" class="glyphicon glyphicon-question-sign pull-right" style="color:#3c8dbc;"
                                               data-toggle="tooltip"
                                               data-html="true"
                                               data-placement="top"
                                               title="1、条形图括号内数据统计周期分别为：本月、上月同期　　　　　　　　　　　2、左侧坐标轴显示数据为：发货卖家数量"></a>
                                        </h3>
                                        <div class="box-tools pull-right">
                                            <span style="font-size:12px;">省份：</span>
                                            <select id="province3" class="province3" style="height: 32px;width: 120px;border-radius: 4px;font-size:12px;" my-init="true">
                                                <option value="0">正在加载...</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div class="chart tab-pane active" id="sendProvinceChart" style="position: relative; height: 700px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 竞得 -->
            <div class="row" style="width:100%;margin:0 auto;">
                <div class="box box-widget">
                    <div class="box-header with-border">
                        <div class="row" style="width:100%;margin:0 auto;">
                            <ul class="nav ui-sortable-handle">
                                <li class="pull-left header">
                                    <img class="img-rounded" style="margin-left:-15px;margin-top:-6px;" src="/assets/icon/shugang_blue.png" width="30px" height="20px" alt=""/>
                                    <h3 class="box-title box-title-resize">竞得&nbsp;
                                        <span href="#" class="glyphicon glyphicon-question-sign" style="color:#3c8dbc;top:2px"
                                              data-toggle="tooltip" data-html="true"
                                              data-placement="top" title="1、竞得物品数量：生成结算单时的竞得物品数量，包含未支付。排除标品、备件库、笔记本事业部的销售人员维护的买家竞得数据。　　　　　　　　　　　　2、竞得物品金额：生成结算单时的竞得物品金额，包含未支付。排除标品、备件库、笔记本事业部的销售人员维护的买家竞得数据。"></span>
                                    </h3>
                                </li>

                                <li class="pull-right header" style="top:2px;">
                                    <span>&nbsp;&nbsp;&nbsp;&nbsp;销售方式:</span>
                                    <select id="method" class="selectpicker" multiple
                                            data-live-search="true"
                                            data-width="150px"
                                            data-actions-box="true"
                                    >
                                    </select>
                                </li>

                                <li class="pull-right header" style="top:2px;top:2px;">
                                    <span>&nbsp;&nbsp;&nbsp;&nbsp;业务方:</span>
                                    <select id="service-compete" class="selectpicker" multiple
                                            data-live-search="true"
                                            data-width="150px"
                                            data-actions-box="true"
                                    >
                                    </select>
                                </li>

                                <li class="pull-right header">
                                    <h5 class="description-header box-subtitle-resize" style="text-align:right;margin-right:15px;"><span>更新时间:</span> <span id="sendCacheUpdateTime"></span></h5>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="box-body" style="background:#eee;border:10px solid #fff;">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="box box-solid">
                                    <div class="box-header">
                                        <i class="fa fa-bar-chart-o"></i>
                                        <h3 class="box-title box-title-resize">概览</h3>
                                    </div>
                                    <div class="box-body body-div-pro">
                                        <div class="row">

                                            <div class="col-md-4 col-sm-4 col-xs-4 border-right" style="display: block;">
                                                <div class="description-block">
                                                    <span class="description-text"><span class="description-fo-title">指标</span></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4 col-sm-4 col-xs-4 border-right" style="display: block;">
                                                <div class="description-block">
                                                    <span class="description-text"><span class="description-fo-title">本月</span></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4 col-sm-4 col-xs-4 border-right" style="display: block;">
                                                <div class="description-block">
                                                    <span class="description-text"><span class="description-fo-title">上月同期</span></span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="box-body body-div-pro">
                                        <div class="row">
                                            <div class="col-md-4 col-sm-4 col-xs-4 border-right" style="display: block;">
                                                <div class="description-block">
                                                    <span class="description-text"><span class="description-fo-title">竞得物品数量</span></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4 col-sm-4 col-xs-4 border-right" id="competeCurrentGoodsLoadingPanel" style="display: none;">
                                                <div class="description-block">
                                                    <div class="spinner">
                                                        <div class="bounce1"></div>
                                                        <div class="bounce2"></div>
                                                        <div class="bounce3"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-4 border-right" id="competeCurrentGoodsPanel" style="display: block;">
                                                <div class="description-block">
                                                    <span class="description-text"><span class="description-fo" id="competeCurrentGoodsNum">0</span></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4 col-sm-4 col-xs-4 border-right" id="competeLastGoodsLoadingPanel" style="display: none;">
                                                <div class="description-block">
                                                    <div class="spinner">
                                                        <div class="bounce1"></div>
                                                        <div class="bounce2"></div>
                                                        <div class="bounce3"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-4 border-right" id="competeLastGoodsPanel" style="display: block;">
                                                <div class="description-block">
                                                    <span class="description-text"><span class="description-fo" id="competeLastGoodsNum">0</span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="box-body body-div-pro">
                                        <div class="row">

                                            <div class="col-md-4 col-sm-4 col-xs-4 border-right" style="display: block;">
                                                <div class="description-block">
                                                    <span class="description-text"><span class="description-fo-title">竞得物品金额</span></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4 col-sm-4 col-xs-4 border-right" id="competeCurrentSellerLoadingPanel" style="display: none;">
                                                <div class="description-block">
                                                    <div class="spinner">
                                                        <div class="bounce1"></div>
                                                        <div class="bounce2"></div>
                                                        <div class="bounce3"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-4 border-right" id="competeCurrentSellerPanel" style="display: block;">
                                                <div class="description-block">
                                                    <span class="description-text"><span class="description-fo" id="competeCurrentSellerNum">0</span></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4 col-sm-4 col-xs-4 border-right" id="competeLastSellerLoadingPanel" style="display: none;">
                                                <div class="description-block">
                                                    <div class="spinner">
                                                        <div class="bounce1"></div>
                                                        <div class="bounce2"></div>
                                                        <div class="bounce3"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-4 border-right" id="competeLastSellerPanel" style="display: block;">
                                                <div class="description-block">
                                                    <span class="description-text"><span class="description-fo" id="competeLastSellerNum">0</span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="box box-solid">
                                    <div class="box-header">
                                        <i class="fa fa-bar-chart-o"></i>
                                        <h3 class="box-title box-title-resize">分城市实时&nbsp;
                                            <a href="#" class="glyphicon glyphicon-question-sign pull-right" style="color:#3c8dbc;"
                                               data-toggle="tooltip"
                                               data-html="true"
                                               data-placement="top"
                                               title="1、条形图括号内数据统计周期分别为：本月、上月同期　　　　　　　　　　　2、左侧坐标轴显示数据为：竞得物品数量　　　　　　　　　　　　　　　　3、省份：卖家经营省份"></a>
                                        </h3>
                                        <div class="box-tools pull-right">
                                            <span style="font-size:12px;">省份：</span>
                                            <select id="province2" class="province2" style="height: 32px;width: 120px;border-radius: 4px;font-size:12px;" my-init="true">
                                                <option value="0">正在加载...</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div class="chart tab-pane active" id="competeProvinceChart" style="position: relative; height: 700px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 弹框 -->
            <div>
                <div class="modal fade" id="myWarnModal" tabindex="-1" role="dialog" aria-labelledby="myWarnModalLabel" aria-hidden="true">
                    <div class="modal-dialog re-modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                                </button>
                                <h4 class="modal-title" id="myWarnModalLabel">

                                </h4>
                            </div>
                            <div class="modal-body">
                                <!--content开始-->
                                <div name="showContent">
                                    <div class="row" style="width:100%;position:relative;margin:0 auto;background:#f9f9f9;padding-top:10px;">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div id="cityChart" style="height:500px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>