<template name="optRealtimeSalePro">
    <div class="content">
        <style>
            @media (min-width: 1200px) {
                .col-zdlg-2-5 {
                    float: left;
                    width: 20%;
                }
            }
            .rose-tabs{
                width:98%;
                margin:0 auto;
            }
            .left-color{
                color:#ff851b;
            }
            .center-color{
                color:green;
            }
            .right-color{
                color: #f39c12;
            }
            .light-color{
                color:#999;
            }

            .loading .loading-anim {
                transform: translateZ(0) rotateY(0deg) rotateX(0deg) rotateZ(0deg) scale(0.7);
                opacity: 1;
            }

            .dot {
                position: absolute;
                display: block;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: #49d4e3;
                animation: jitter 5s ease-in-out infinite, fade-in-out 5s linear infinite;
            }

            .loading-anim .border {
                position: absolute;
                border-radius: 50%;
                border: 3px solid #49d4e3;
            }
            @media screen and (max-width:1600px) {

                div .inner h3{
                    font-size:25px;
                }
                div .inner p{
                    font-size:15px;
                }
                .context{
                    font-size:15px;
                }
            }

            .zyl-active{
                cursor:pointer;
            }
        </style>
        <!-- Main content -->
        <section class="content">
            <div class="template-inspector content body">
                <div class="nav-tabs-custom" style="cursor: move;">
                    <!-- Tabs within a box -->
                    <ul class="nav nav-tabs pull-right ui-sortable-handle">
                        <li><a href="#revenue-chart" id="revenue" data-toggle="tab">库存情况</a></li>
                        <li class="active"><a href="#sales-chart" id="sales" data-toggle="tab">销售情况</a></li>
                        <li class="pull-left header"></li>
                    </ul>
                    <div class="tab-content no-padding" style="background:#eee;">
                        <!-- Morris chart - Sales -->
                        <div class="chart tab-pane active" id="sales-chart" style="position: relative; padding-top:25px;">

                            <div class="nav-tabs-custom" style="cursor: move;">
                                <!-- Tabs within a box -->
                                <ul class="nav nav-tabs pull-right ui-sortable-handle">
                                    <li class="pull-left header">
                                        <img src="/assets/icon/fsux.png"/>
                                        实时销售数据
                                        <span style="font-size:12px;">结算单生成维度</span>
                                    </li>
                                </ul>
                                <div class="tab-content no-padding" style="background:#eee;">
                                    <!-- Morris chart - Sales -->
                                    <div class="chart tab-pane active" style="position: relative; padding:15px;">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="nav-tabs-custom" style="cursor: move;">
                                                    <!-- Tabs within a box -->
                                                    <ul class="nav nav-tabs pull-right ui-sortable-handle">
                                                        <li class="pull-right header zyl-active" def-events="on" def-v="0"><img src="/assets/icon/gray-download.png"/></li>
                                                        <li class="pull-left header">B2B代拍</li>
                                                    </ul>
                                                    <div class="tab-content no-padding">
                                                        <!-- Morris chart - Sales -->
                                                        <div class="chart tab-pane active" style="position: relative; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                                                            <div class="row">
                                                                <div class="col-md-6" style="padding-top:35px;">
                                                                    <div class="row rose-tabs">
                                                                        <div class="col-md-12">
                                                                            <div class="small-box">
                                                                                <div class="inner">
                                                                                    <h3 class="left-color" id="JSWDBToBDPNum">......</h3>
                                                                                    <p class="light-color">销售量</p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row rose-tabs">
                                                                        <div class="col-md-12">
                                                                            <div class="small-box">
                                                                                <div class="inner">
                                                                                    <h3 class="left-color" id="JSWDBToBDPAmount">......</h3>
                                                                                    <p class="light-color">销售GMV</p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-6 loading"  style="height:300px;" id="saleAmountRatioChartLoading">
                                                                    <div class='loading-anim'>
                                                                        <div class='border out'></div>
                                                                        <div class='border in'></div>
                                                                        <div class='border mid'></div>
                                                                        <div class='circle'>
                                                                            <span class='dot'></span>
                                                                            <span class='dot'></span>
                                                                            <span class='dot'></span>
                                                                            <span class='dot'></span>
                                                                            <span class='dot'></span>
                                                                            <span class='dot'></span>
                                                                            <span class='dot'></span>
                                                                            <span class='dot'></span>
                                                                            <span class='dot'></span>
                                                                            <span class='dot'></span>
                                                                            <span class='dot'></span>
                                                                            <span class='dot'></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6" id="saleAmountRatioChartPanel">
                                                                    <div id="saleAmountRatioChart" style="height:300px;">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="nav-tabs-custom" style="cursor: move;">
                                                    <!-- Tabs within a box -->
                                                    <ul class="nav nav-tabs pull-right ui-sortable-handle">
                                                        <li class="pull-right header zyl-active" def-events="on" def-v="1"><img src="/assets/icon/gray-download.png"/></li>
                                                        <li class="pull-left header">B2B直营</li>
                                                    </ul>
                                                    <div class="tab-content no-padding">
                                                        <!-- Morris chart - Sales -->
                                                        <div class="chart tab-pane active" style="position: relative;padding-top:35px; height: 300px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                                                            <div class="row rose-tabs">
                                                                <div class="col-md-12">
                                                                    <div class="small-box">
                                                                        <div class="inner">
                                                                            <h3 class="center-color" id="JSWDBToBSaleNum">......</h3>
                                                                            <p class="light-color">销售量</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row rose-tabs">
                                                                <div class="col-md-12">
                                                                    <div class="small-box">
                                                                        <div class="inner">
                                                                            <h3 class="center-color" id="JSWDBToBSaleAmount">......</h3>
                                                                            <p class="light-color">销售GMV</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="nav-tabs-custom" style="cursor: move;">
                                                    <!-- Tabs within a box -->
                                                    <ul class="nav nav-tabs pull-right ui-sortable-handle">
                                                        <li class="pull-right header zyl-active" def-events="on" def-v="2"><img src="/assets/icon/gray-download.png"/></li>
                                                        <li class="pull-left header">爱回收</li>
                                                    </ul>
                                                    <div class="tab-content no-padding">
                                                        <!-- Morris chart - Sales -->
                                                        <div class="chart tab-pane active" style="position: relative; padding-top:35px;height: 300px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                                                            <div class="row rose-tabs">
                                                                <div class="col-md-12">
                                                                    <div class="small-box">
                                                                        <div class="inner">
                                                                            <h3 class="right-color" id="JSWDAHSSalesNum">......</h3>
                                                                            <p class="light-color">销售量</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row rose-tabs">
                                                                <div class="col-md-12">
                                                                    <div class="small-box">
                                                                        <div class="inner">
                                                                            <h3 class="right-color" id="JSWDAHSSalesAmount">......</h3>
                                                                            <p class="light-color">销售GMV</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="nav-tabs-custom" style="cursor: move;">
                                <!-- Tabs within a box -->
                                <ul class="nav nav-tabs pull-right ui-sortable-handle">
                                    <li class="pull-left header">
                                        <img src="/assets/icon/outhouse.png"/>
                                        实时出库数据
                                        <span style="font-size:12px;">出库维度</span>
                                    </li>
                                </ul>
                                <div class="tab-content no-padding" style="background:#eee;">
                                    <!-- Morris chart - Sales -->
                                    <div class="chart tab-pane active" style="position: relative; padding:15px;">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="nav-tabs-custom" style="cursor: move;">
                                                    <!-- Tabs within a box -->
                                                    <ul class="nav nav-tabs pull-right ui-sortable-handle">
                                                        <li class="pull-right header zyl-active" def-events="on" def-v="3"><img src="/assets/icon/gray-download.png"/></li>
                                                        <li class="pull-left header">B2B直营</li>
                                                    </ul>
                                                    <div class="tab-content no-padding">
                                                        <!-- Morris chart - Sales -->
                                                        <div class="chart tab-pane active" style="position: relative;padding-top:10px; height: 300px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                                                            <div class="row rose-tabs">
                                                                <div class="col-md-12">
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="small-box">
                                                                                <div class="inner">
                                                                                    <h3 class="center-color" id="CKWDBToBSaleNum">......</h3>
                                                                                    <p class="light-color">出库量</p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="small-box">
                                                                                <div class="inner">
                                                                                    <h3 class="center-color" id="CKWDBToBSaleAmount">......</h3>
                                                                                    <p class="light-color">出库金额</p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="nav-tabs-custom" style="cursor: move;">
                                                    <!-- Tabs within a box -->
                                                    <ul class="nav nav-tabs pull-right ui-sortable-handle">
                                                        <li class="pull-right header zyl-active" def-events="on" def-v="4"><img src="/assets/icon/gray-download.png"/></li>
                                                        <li class="pull-left header">爱回收</li>
                                                    </ul>
                                                    <div class="tab-content no-padding">
                                                        <!-- Morris chart - Sales -->
                                                        <div class="chart tab-pane active" style="position: relative; padding-top:10px;height: 300px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                                                            <div class="row rose-tabs">
                                                                <div class="col-md-12">
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="small-box">
                                                                                <div class="inner">
                                                                                    <h3 class="right-color" id="CKWDAHSSaleNum">......</h3>
                                                                                    <p class="light-color">出库量</p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="small-box">
                                                                                <div class="inner">
                                                                                    <h3 class="right-color" id="CKWDAHSSaleAmount">......</h3>
                                                                                    <p class="light-color">出库金额</p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="nav-tabs-custom" style="cursor: move;">
                                &lt;!&ndash; Tabs within a box &ndash;&gt;
                                <ul class="nav nav-tabs pull-right ui-sortable-handle">
                                    <li class="pull-left header">
                                        <img src="/assets/icon/outhouse.png"/>
                                        实时出库数据
                                        <span style="font-size:12px;">出库维度</span>
                                    </li>
                                </ul>
                                <div class="tab-content no-padding" style="background:#eee;">
                                    &lt;!&ndash; Morris chart - Sales &ndash;&gt;
                                    <div class="chart tab-pane active" style="position: relative; padding:15px;">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="nav-tabs-custom" style="cursor: move;">
                                                    &lt;!&ndash; Tabs within a box &ndash;&gt;
                                                    <ul class="nav nav-tabs pull-right ui-sortable-handle">
                                                        <li class="pull-right header"><img src="/assets/icon/gray-download.png"/></li>
                                                        <li class="pull-left header">B2B直营</li>
                                                    </ul>
                                                    <div class="tab-content no-padding">
                                                        &lt;!&ndash; Morris chart - Sales &ndash;&gt;
                                                        <div class="chart tab-pane active" style="position: relative;background:#eee;border:3px solid #fff;padding-top:10px; height: 300px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                                                            <div class="row" style="width:50%;margin:0 auto;">
                                                                <div class="col-md-12">
                                                                    <div class="box">
                                                                        <div class="box-body box-profile" style="padding-top:20px;">
                                                                            <div class="row">
                                                                                <div class="col-md-12">
                                                                                    <div class="small-box">
                                                                                        <div class="inner">
                                                                                            <h3>......</h3>
                                                                                            <p>出库量</p>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-md-12">
                                                                                    <div class="small-box">
                                                                                        <div class="inner">
                                                                                            <h3>......</h3>
                                                                                            <p>出库金额</p>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="nav-tabs-custom" style="cursor: move;">
                                                    &lt;!&ndash; Tabs within a box &ndash;&gt;
                                                    <ul class="nav nav-tabs pull-right ui-sortable-handle">
                                                        <li class="pull-right header"><img src="/assets/icon/gray-download.png"/></li>
                                                        <li class="pull-left header">爱回收</li>
                                                    </ul>
                                                    <div class="tab-content no-padding">
                                                        &lt;!&ndash; Morris chart - Sales &ndash;&gt;
                                                        <div class="chart tab-pane active" style="position: relative; background:#eee;border:3px solid #fff;padding-top:10px;height: 300px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                                                            <div class="row" style="width:50%;margin:0 auto;">
                                                                <div class="col-md-12">
                                                                    <div class="box">
                                                                        <div class="box-body box-profile" style="padding-top:20px;">
                                                                            <div class="row">
                                                                                <div class="col-md-12">
                                                                                    <div class="small-box">
                                                                                        <div class="inner">
                                                                                            <h3>......</h3>
                                                                                            <p>出库量</p>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-md-12">
                                                                                    <div class="small-box">
                                                                                        <div class="inner">
                                                                                            <h3>......</h3>
                                                                                            <p>出库金额</p>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>-->

                        </div>

                        <div class="chart tab-pane" id="revenue-chart" style="position: relative;padding-top:25px;  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                            <div class="nav-tabs-custom" style="cursor: move;">
                                <!-- Tabs within a box -->
                                <ul class="nav nav-tabs pull-right ui-sortable-handle">
                                    <li class="pull-left header">
                                        <img src="/assets/icon/fsux.png"/>
                                        实时库存数据
                                    </li>
                                    <li class="pull-right header zyl-active" def-events="on" def-v="5">
                                        <img src="/assets/icon/gray-download.png"/>
                                    </li>
                                </ul>
                                <div class="tab-content no-padding" style="background:#eee;">
                                    <!-- Morris chart - Sales -->
                                    <div class="chart tab-pane active" style="position: relative; padding:15px;">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="nav-tabs-custom" style="cursor: move;">
                                                    <!-- Tabs within a box -->
                                                    <ul class="nav nav-tabs pull-right ui-sortable-handle">
                                                        <li class="pull-left header">B2B代拍</li>
                                                    </ul>
                                                    <div class="tab-content no-padding">
                                                        <!-- Morris chart - Sales -->
                                                        <div class="chart tab-pane active" style="position: relative; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                                                            <div class="row">
                                                                <div class="col-md-6" style="padding-top:35px;">
                                                                    <div class="row rose-tabs">
                                                                        <div class="col-md-12">
                                                                            <div class="small-box">
                                                                                <div class="inner">
                                                                                    <h3 class="left-color" id="inventoryOPTNum">......</h3>
                                                                                    <p class="light-color">库存量</p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row rose-tabs">
                                                                        <div class="col-md-12">
                                                                            <div class="small-box">
                                                                                <div class="inner">
                                                                                    <h3 class="left-color" id="inventoryOPTAmount">......</h3>
                                                                                    <p class="light-color">库存金额</p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-6 loading"  style="height:300px;" id="stockAmountRatioChartLoading">
                                                                    <div class='loading-anim'>
                                                                        <div class='border out'></div>
                                                                        <div class='border in'></div>
                                                                        <div class='border mid'></div>
                                                                        <div class='circle'>
                                                                            <span class='dot'></span>
                                                                            <span class='dot'></span>
                                                                            <span class='dot'></span>
                                                                            <span class='dot'></span>
                                                                            <span class='dot'></span>
                                                                            <span class='dot'></span>
                                                                            <span class='dot'></span>
                                                                            <span class='dot'></span>
                                                                            <span class='dot'></span>
                                                                            <span class='dot'></span>
                                                                            <span class='dot'></span>
                                                                            <span class='dot'></span>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-6" id="stockAmountRatioChartPanel">
                                                                    <div id="stockAmountRatioChart" style="height:300px;"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="nav-tabs-custom" style="cursor: move;">
                                                    <!-- Tabs within a box -->
                                                    <ul class="nav nav-tabs pull-right ui-sortable-handle">
                                                        <li class="pull-left header">B2B直营</li>
                                                    </ul>
                                                    <div class="tab-content no-padding">
                                                        <!-- Morris chart - Sales -->
                                                        <div class="chart tab-pane active" style="position: relative;padding-top:35px; height: 300px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                                                            <div class="row rose-tabs">
                                                                <div class="col-md-12">
                                                                    <div class="small-box">
                                                                        <div class="inner">
                                                                            <h3 class="center-color" id="inventoryAJHNum">......</h3>
                                                                            <p class="light-color">库存量</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row rose-tabs">
                                                                <div class="col-md-12">
                                                                    <div class="small-box">
                                                                        <div class="inner">
                                                                            <h3 class="center-color" id="inventoryAJHAmount">......</h3>
                                                                            <p class="light-color">库存金额</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="nav-tabs-custom" style="cursor: move;">
                                                    <!-- Tabs within a box -->
                                                    <ul class="nav nav-tabs pull-right ui-sortable-handle">
                                                        <li class="pull-left header">爱回收</li>
                                                    </ul>
                                                    <div class="tab-content no-padding">
                                                        <!-- Morris chart - Sales -->
                                                        <div class="chart tab-pane active" style="position: relative; padding-top:35px;height: 300px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                                                            <div class="row rose-tabs">
                                                                <div class="col-md-12">
                                                                    <div class="small-box">
                                                                        <div class="inner">
                                                                            <h3 class="right-color" id="inventoryAHSNum">......</h3>
                                                                            <p class="light-color">库存量</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row rose-tabs">
                                                                <div class="col-md-12">
                                                                    <div class="small-box">
                                                                        <div class="inner">
                                                                            <h3 class="right-color" id="inventoryAHSAmount">......</h3>
                                                                            <p class="light-color">库存金额</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="nav-tabs-custom" style="cursor: move;">
                                                    <!-- Tabs within a box -->
                                                    <ul class="nav nav-tabs pull-right ui-sortable-handle">
                                                        <li class="pull-left header">实时库存明细</li>
                                                    </ul>
                                                    <div class="tab-content no-padding">
                                                        <!-- Morris chart - Sales -->
                                                        <div class="chart tab-pane active" style="position: relative; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                                                            <div class="row">
                                                                <div class="col-md-12 loading"  style="height:300px;" id="stockDetailLoading">
                                                                    <div class='loading-anim'>
                                                                        <div class='border out'></div>
                                                                        <div class='border in'></div>
                                                                        <div class='border mid'></div>
                                                                        <div class='circle'>
                                                                            <span class='dot'></span>
                                                                            <span class='dot'></span>
                                                                            <span class='dot'></span>
                                                                            <span class='dot'></span>
                                                                            <span class='dot'></span>
                                                                            <span class='dot'></span>
                                                                            <span class='dot'></span>
                                                                            <span class='dot'></span>
                                                                            <span class='dot'></span>
                                                                            <span class='dot'></span>
                                                                            <span class='dot'></span>
                                                                            <span class='dot'></span>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-12" id="stockDetailPanel">
                                                                    <table id="stockDetail" class="table table-striped"
                                                                           data-toggle="table"
                                                                           data-pagination="true"
                                                                           data-click-to-select="true">
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
</template>