<template name="pjtRealtime">
    <div class="content-wrapper">
        <style>
            @media screen and (max-width:1600px) {
                div .inner h3{
                    font-size:18px;
                }
                div .inner p{
                    font-size:15px;
                }
            }

            @media screen and (max-width:375px) {
                div .inner h3{
                    font-size:18px;
                }
                div .inner p{
                    font-size:12px;
                }
            }
            .loading-point{
                font-weight: bold;font-size: 18px;
            }
        </style>
        <!-- Main content -->
        <section class="content">
            <div class="template-inspector content body">
                <p><span style="color: red">注:</span>下单数:除去已取消的订单后下单的数量；
                    下单数量:除去已取消的订单后下单总数；
                    下单金额:除去已取消的订单后起拍价(没有起拍价的金额当做0处理）；
                    实收单数:除去已取消的订单后实际收货的单数；
                    实收数量:除去已取消的订单后实际收货的数量；
                    供应商总数量:截止到目前为止已成功签订合同的总数量；
                    当日供应商数量:今天成功签订合同的供应商数量；</p>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <i class="fa fa-bar-chart-o"></i>
                        <h3 class="box-title">卖家入驻</h3>
                        <div class="box-tools pull-right">
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="small-box bg-light-blue">
                                    <div class="inner">
                                        <h3 name="" id="dayCnt">……</h3>
                                        <p>当日供应商数量</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="small-box bg-light-blue">
                                    <div class="inner">
                                        <h3 name="" id="AllCnt">……</h3>
                                        <p>供应商总数量</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <i class="fa fa-bar-chart-o"></i>

                        <h3 class="box-title">卖家下单</h3>

                        <div class="box-tools pull-right">
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="small-box bg-light-blue">
                                    <div class="inner">
                                        <h3 name="" id="orderCnt">……</h3>
                                        <p>下单量</p>
                                        <p>昨日同时：<span id="yesOrderCnt" class="loading-point">……</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="small-box bg-light-blue">
                                    <div class="inner">
                                        <h3 name="" id="orderNum">……</h3>
                                        <p>下单数量</p>
                                        <p>昨日同时：<span id="yesOrderNum" class="loading-point">……</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="small-box bg-light-blue">
                                    <div class="inner">
                                        <h3 name="" id="amount">……</h3>
                                        <p>下单金额</p>
                                        <p>昨日同时：<span id="yesAmount" class="loading-point">……</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="small-box bg-light-blue">
                                    <div class="inner">
                                        <h3 name="" id="supplierCnt">……</h3>
                                        <p>供应商数量</p>
                                        <p>昨日同时：<span id="yesSupplierCnt" class="loading-point">……</span></p>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="box box-primary">
                    <div class="box-header with-border">
                        <i class="fa fa-bar-chart-o"></i>

                        <h3 class="box-title">运营中心收货</h3>

                        <div class="box-tools pull-right">
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">

                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="small-box bg-light-blue">
                                    <div class="inner">
                                        <h3 name="" id="actualNum">……</h3>
                                        <p>实收数量</p>
                                        <p>昨日同时：<span id="yesActualNum" class="loading-point">……</span></p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="box box-primary">
                    <div class="box-header with-border">
                        <i class="fa fa-bar-chart-o"></i>

                        <h3 class="box-title">卖家当日提交并发货</h3>

                        <div class="box-tools pull-right">
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="small-box bg-light-blue">
                                    <div class="inner">
                                        <h3 name="" id="supplyCnt">……</h3>
                                        <p>发货单量</p>
                                        <p>昨日同时：<span id="yesSupplyCnt" class="loading-point">……</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="small-box bg-light-blue">
                                    <div class="inner">
                                        <h3 name="" id="supplyNum">……</h3>
                                        <p>发货数量</p>
                                        <p>昨日同时：<span id="yesSupplyNum" class="loading-point">……</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="small-box bg-light-blue">
                                    <div class="inner">
                                        <h3 name="" id="supplyAmount">……</h3>
                                        <p>发货金额</p>
                                        <p>昨日同时：<span id="yesSupplyAmount" class="loading-point">……</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="small-box bg-light-blue">
                                    <div class="inner">
                                        <h3 name="" id="recyclerCnt">……</h3>
                                        <p>供应商数量</p>
                                        <p>昨日同时：<span id="yesRecyclerCnt" class="loading-point">……</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!--added by kelly-->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <i class="fa fa-bar-chart-o"></i>

                        <h3 class="box-title">卖家当日发货</h3>

                        <div class="box-tools pull-right">
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="small-box bg-light-blue">
                                    <div class="inner">
                                        <h3 name="" id="shippmentCnt">……</h3>
                                        <p>发货单量</p>
                                        <p>昨日同时：<span id="yesShippmentCnt" class="loading-point">……</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="small-box bg-light-blue">
                                    <div class="inner">
                                        <h3 name="" id="shippmentNum">……</h3>
                                        <p>发货数量</p>
                                        <p>昨日同时：<span id="yesShippmentNum" class="loading-point">……</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="small-box bg-light-blue">
                                    <div class="inner">
                                        <h3 name="" id="shippmentAmount">……</h3>
                                        <p>发货金额</p>
                                        <p>昨日同时：<span id="yesShippmentAmount" class="loading-point">……</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="small-box bg-light-blue">
                                    <div class="inner">
                                        <h3 name="" id="shippmentRecyclerCnt">……</h3>
                                        <p>供应商数量</p>
                                        <p>昨日同时：<span id="yesShippmentRecyclerCnt" class="loading-point">……</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <i class="fa fa-bar-chart-o"></i>

                        <h3 class="box-title">质检</h3>

                        <div class="box-tools pull-right">
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="small-box bg-light-blue">
                                    <div class="inner">
                                        <h3 name="" id="qualityInspectionCnt">……</h3>
                                        <p>质检物品数量</p>
                                        <p>昨日同时：<span id="yesQualityInspectionCnt" class="loading-point">……</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="small-box bg-light-blue">
                                    <div class="inner">
                                        <h3 name="" id="qualityInspectionAmount">……</h3>
                                        <p>质检物品参考金额</p>
                                        <p>昨日同时：<span id="yesQualityInspectionAmount" class="loading-point">……</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="small-box bg-light-blue">
                                    <div class="inner">
                                        <h3 name="" id="qualityInspectionRecyclerCnt">……</h3>
                                        <p>供应商数量</p>
                                        <p>昨日同时：<span id="yesQualityInspectionRecyclerCnt" class="loading-point">……</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <i class="fa fa-bar-chart-o"></i>

                        <h3 class="box-title">成交</h3>

                        <div class="box-tools pull-right">
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="small-box bg-light-blue">
                                    <div class="inner">
                                        <h3 name="" id="dealCnt">……</h3>
                                        <p>成功竞拍物品量</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="small-box bg-light-blue">
                                    <div class="inner">
                                        <h3 name="" id="dealAmount">……</h3>
                                        <p>成功竞拍竞得金额</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="small-box bg-light-blue">
                                    <div class="inner">
                                        <h3 name="" id="dealRecyclerCnt">……</h3>
                                        <p>供应商数量</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <i class="fa fa-bar-chart-o"></i>

                        <h3 class="box-title">流拍</h3>

                        <div class="box-tools pull-right">
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="small-box bg-light-blue">
                                    <div class="inner">
                                        <h3 name="" id="abortiveCnt">……</h3>
                                        <p>流拍物品量 </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="small-box bg-light-blue">
                                    <div class="inner">
                                        <h3 name="" id="normalAbortiveRate">……</h3>
                                        <p>opt普通竞价流拍率 </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="small-box bg-light-blue">
                                    <div class="inner">
                                        <h3 name="" id="abortiveAmount">……</h3>
                                        <p>流拍质检参考金额</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="small-box bg-light-blue">
                                    <div class="inner">
                                        <h3 name="" id="abortiveRecyclerCnt">……</h3>
                                        <p>供应商数量</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <i class="fa fa-bar-chart-o"></i>

                        <h3 class="box-title">退货</h3>

                        <div class="box-tools pull-right">
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="small-box bg-light-blue">
                                    <div class="inner">
                                        <h3 name="" id="returnCnt">……</h3>
                                        <p>退货数量</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="small-box bg-light-blue">
                                    <div class="inner">
                                        <h3 name="" id="returnAmount">……</h3>
                                        <p>退货质检参考金额</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="small-box bg-light-blue">
                                    <div class="inner">
                                        <h3 name="" id="returnRecyclerCnt">……</h3>
                                        <p>供应商数量</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
</template>