<template name="tailCollection">
    <style>
        /*数字区域加载动画css*/
        .spinner {
            width: 100px;
            text-align: center;
        }

        .spinner > div {
            width: 10px;
            height: 10px;
            background-color: #747474;

            border-radius: 100%;
            display: inline-block;
            -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
            animation: bouncedelay 1.4s infinite ease-in-out;
            /* Prevent first frame from flickering when animation starts */
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
        }

        .spinner .bounce1 {
            -webkit-animation-delay: -0.32s;
            -moz-animation-delay: -0.32s;
            -ms-animation-delay: -0.32s;
            -o-animation-delay: -0.32s;
            animation-delay: -0.32s;
        }

        .spinner .bounce2 {
            -webkit-animation-delay: -0.16s;
            -moz-animation-delay: -0.16s;
            -ms-animation-delay: -0.16s;
            -o-animation-delay: -0.16s;
            animation-delay: -0.16s;
        }

        @-webkit-keyframes bouncedelay {
            0%, 80%, 100% { -webkit-transform: scale(0.0) }
            40% { -webkit-transform: scale(1.0) }
        }

        @-moz-keyframes bouncedelay {
            0%, 80%, 100% { -moz-transform: scale(0.0) }
            40% { -moz-transform: scale(1.0) }
        }

        @-ms-keyframes bouncedelay {
            0%, 80%, 100% { -ms-transform: scale(0.0) }
            40% { -ms-transform: scale(1.0) }
        }

        @-o-keyframes bouncedelay {
            0%, 80%, 100% { -o-transform: scale(0.0) }
            40% { -o-transform: scale(1.0) }
        }

        @keyframes bouncedelay {
            0%, 80%, 100% {
                transform: scale(0.0);
                -webkit-transform: scale(0.0);
                -moz-transform: scale(0.0);
                -ms-transform: scale(0.0);
                -o-transform: scale(0.0);
            } 40% {
                  transform: scale(1.0);
                  -webkit-transform: scale(1.0);
                  -moz-transform: scale(0.0);
                  -ms-transform: scale(0.0);
                  -o-transform: scale(0.0);
              }
        }

        /*小于150%屏幕*/
        @media screen and (max-width:1600px) {
            .unit-s{
                font-size:12px;
                font-weight: normal;
                color:#999;
            }
            .trend-up{
                color:#00a65a !important;font-weight:BOLD;font-size:12px;
            }
            .trend-down{
                color:#dd4b39 !important;font-weight:BOLD;font-size:12px;
            }
            .trend-keep{
                color:#ff851b !important;font-weight:BOLD;font-size:12px;
            }
            .description-fo{
                font-size:8px;

            }

            .description-suffix{
                font-size:8px;
                color:#999;
            }
        }

        /*大于1600px*/
        /*数字区域加载动画css结束*/
        @media screen and (min-width:1600px) {
            .unit-s{
                font-size:14px;
                font-weight: normal;
                color:#999;
            }
            .trend-up{
                color:#00a65a !important;font-weight:BOLD;
            }
            .trend-down{
                color:#dd4b39 !important;font-weight:BOLD;
            }
            .trend-keep{
                color:#ff851b !important;font-weight:BOLD;
            }

            .description-fo{
                font-size:10px;

            }

            .description-suffix{
                font-size:10px;
                color:#999;
            }

        }

        @media (min-width: 768px){
            .re-modal-dialog {
                width: 1200px;
                margin: 30px auto;
            }
        }


        .box-header{
            background-color:#3c8dbc !important;color:#fff !important;
        }

        .num-z{
            font-size:25px;
        }


    </style>
    <!-- Content Wrapper. Contains page content -->
    <div class="content" style="background:#fff;">
        <!-- Main content -->
        <section class="content" style="background:#fff;">
            <!--总体情况title-->
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h1 style="position:relative;margin-bottom: 30px;font-size:18px;font-weight:600;width:150px;">
                        商品信息
                    </h1>
                    <hr>
                </div>
            </div>
            <div class="row" style="width:100%;position:relative;margin:0 auto;background:#f9f9f9;padding-top:10px;">

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="box box-solid box-default">
                        <div class="box-header">
                            <h3 class="box-title">新增商品信息数量</h3>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-sm-12" id="addLoadingPanel">
                                    <div class="description-block">
                                        <br>
                                        <br>
                                        <div class="spinner">
                                            <div class="bounce1"></div>
                                            <div class="bounce2"></div>
                                            <div class="bounce3"></div>
                                        </div>
                                        <br>
                                    </div>
                                </div>
                                <div class="col-sm-12" id="addPanel">
                                    <div class="description-block">
                                        <h5 class="description-header"><span id="addNum" class="num-z">0</span> <span class="unit-s">条</span></h5>
                                        <br>
                                        <span class="description-text"><span class="description-fo">昨日同时</span> <i id="addNumTrend" class="fa text-green"></i> <span id="addNumTrendPercent" class="trend-up">0</span><span class="description-suffix"> 条</span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="box box-solid box-default">
                        <div class="box-header">
                            <h3 class="box-title">下架商品信息数量</h3>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-sm-12" id="subLoadingPanel">
                                    <div class="description-block">
                                        <br>
                                        <br>
                                        <div class="spinner">
                                            <div class="bounce1"></div>
                                            <div class="bounce2"></div>
                                            <div class="bounce3"></div>
                                        </div>
                                        <br>
                                    </div>
                                </div>
                                <div class="col-sm-12" id="subPanel">
                                    <div class="description-block">
                                        <h5 class="description-header"><span id="subNum" class="num-z">0</span> <span class="unit-s">条</span></h5>
                                        <br>
                                        <span class="description-text"><span class="description-fo">昨日同时</span> <i id="subNumTrend" class="fa text-green"></i> <span id="subNumTrendPercent" class="trend-up">0</span><span class="description-suffix"> 条</span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--订单信息title-->
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h1 style="position:relative;margin-bottom: 30px;font-size:18px;font-weight:600;width:100%;padding-right:20px;">
                        订单信息
                    </h1>
                    <hr>
                </div>
            </div>

            <!--订单信息-->
            <div class="row" style="width:100%;position:relative;margin:0 auto;background:#f9f9f9;padding-top:10px;">
                <div class="col-md-12 col-sm-6 col-xs-12">
                    <div class="row">
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="box box-solid box-default">
                                <div class="box-header">
                                    <h3 class="box-title">提交订单</h3>
                                </div>
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 border-right" id="submitLeftLoadingPanel">
                                            <div class="description-block">
                                                <br>
                                                <br>
                                                <div class="spinner">
                                                    <div class="bounce1"></div>
                                                    <div class="bounce2"></div>
                                                    <div class="bounce3"></div>
                                                </div>
                                                <br>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-sm-6 border-right" id="submitLeftPanel">
                                            <div class="description-block">
                                                <h5 class="description-header"><span id="submitNum" class="num-z">0</span> <span class="unit-s"> 单</span></h5>
                                                <br>
                                                <span class="description-text"><span class="description-fo">昨日同时</span> <i id="submitNumTrend" class="fa text-green"></i> <span id="submitNumTrendPercent" class="trend-up">0</span><span class="description-suffix"> 单</span></span>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-sm-6" id="submitRightLoadingPanel">
                                            <div class="description-block">
                                                <br>
                                                <br>
                                                <div class="spinner">
                                                    <div class="bounce1"></div>
                                                    <div class="bounce2"></div>
                                                    <div class="bounce3"></div>
                                                </div>
                                                <br>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-sm-6" id="submitRightPanel">
                                            <div class="description-block">
                                                <h5 class="description-header"><span id="submitAmount" class="num-z">0</span> <span class="unit-s"> 元</span></h5>
                                                <br>
                                                <span class="description-text"><span class="description-fo">昨日同时</span> <i id="submitAmountTrend" class="fa text-green"></i> <span id="submitAmountTrendPercent" class="trend-up">0</span><span class="description-suffix"> 元</span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="box box-solid box-default">
                                <div class="box-header">
                                    <h3 class="box-title">付款订单</h3>
                                </div>
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 border-right" id="paidLeftLoadingPanel">
                                            <div class="description-block">
                                                <br>
                                                <br>
                                                <div class="spinner">
                                                    <div class="bounce1"></div>
                                                    <div class="bounce2"></div>
                                                    <div class="bounce3"></div>
                                                </div>
                                                <br>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-sm-6 border-right" id="paidLeftPanel">
                                            <div class="description-block">
                                                <h5 class="description-header"><span id="paidNum" class="num-z">0</span> <span class="unit-s"> 单</span></h5>
                                                <br>
                                                <span class="description-text"><span class="description-fo">昨日同时</span> <i id="paidNumTrend" class="fa text-green"></i> <span id="paidNumTrendPercent" class="trend-up">0</span><span class="description-suffix"> 单</span></span>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-sm-6" id="paidRightLoadingPanel">
                                            <div class="description-block">
                                                <br>
                                                <br>
                                                <div class="spinner">
                                                    <div class="bounce1"></div>
                                                    <div class="bounce2"></div>
                                                    <div class="bounce3"></div>
                                                </div>
                                                <br>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-sm-6" id="paidRightPanel">
                                            <div class="description-block">
                                                <h5 class="description-header"><span id="paidAmount" class="num-z">0</span> <span class="unit-s"> 元</span></h5>
                                                <br>
                                                <span class="description-text"><span class="description-fo">昨日同时</span> <i id="paidAmountTrend" class="fa text-green"></i> <span id="paidAmountTrendPercent" class="trend-up">0</span><span class="description-suffix"> 元</span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="box box-solid box-default">
                                <div class="box-header">
                                    <h3 class="box-title">取消订单</h3>
                                </div>
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 border-right" id="cancelLeftLoadingPanel">
                                            <div class="description-block">
                                                <br>
                                                <br>
                                                <div class="spinner">
                                                    <div class="bounce1"></div>
                                                    <div class="bounce2"></div>
                                                    <div class="bounce3"></div>
                                                </div>
                                                <br>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-sm-6 border-right" id="cancelLeftPanel">
                                            <div class="description-block">
                                                <h5 class="description-header"><span id="cancelNum" class="num-z">0</span> <span class="unit-s"> 单</span></h5>
                                                <br>
                                                <span class="description-text"><span class="description-fo">昨日同时</span> <i id="cancelNumTrend" class="fa text-green"></i> <span id="cancelNumTrendPercent" class="trend-up">0</span><span class="description-suffix"> 单</span></span>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-sm-6" id="cancelRightLoadingPanel">
                                            <div class="description-block">
                                                <br>
                                                <br>
                                                <div class="spinner">
                                                    <div class="bounce1"></div>
                                                    <div class="bounce2"></div>
                                                    <div class="bounce3"></div>
                                                </div>
                                                <br>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-sm-6" id="cancelRightPanel">
                                            <div class="description-block">
                                                <h5 class="description-header"><span id="cancelAmount" class="num-z">0</span> <span class="unit-s"> 元</span></h5>
                                                <br>
                                                <span class="description-text"><span class="description-fo">昨日同时</span> <i id="cancelAmountTrend" class="fa text-green"></i> <span id="cancelAmountTrendPercent" class="trend-up">0</span><span class="description-suffix"> 元</span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="box box-solid box-default">
                                <div class="box-header">
                                    <h3 class="box-title">发货订单</h3>
                                </div>
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 border-right" id="sendLeftLoadingPanel">
                                            <div class="description-block">
                                                <br>
                                                <br>
                                                <div class="spinner">
                                                    <div class="bounce1"></div>
                                                    <div class="bounce2"></div>
                                                    <div class="bounce3"></div>
                                                </div>
                                                <br>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-sm-6 border-right" id="sendLeftPanel">
                                            <div class="description-block">
                                                <h5 class="description-header"><span id="sendNum" class="num-z">0</span> <span class="unit-s"> 单</span></h5>
                                                <br>
                                                <span class="description-text"><span class="description-fo">昨日同时</span> <i id="sendNumTrend" class="fa text-green"></i> <span id="sendNumTrendPercent" class="trend-up">0</span><span class="description-suffix"> 单</span></span>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-sm-6" id="sendRightLoadingPanel">
                                            <div class="description-block">
                                                <br>
                                                <br>
                                                <div class="spinner">
                                                    <div class="bounce1"></div>
                                                    <div class="bounce2"></div>
                                                    <div class="bounce3"></div>
                                                </div>
                                                <br>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-sm-6" id="sendRightPanel">
                                            <div class="description-block">
                                                <h5 class="description-header"><span id="sendAmount" class="num-z">0</span> <span class="unit-s"> 元</span></h5>
                                                <br>
                                                <span class="description-text"><span class="description-fo">昨日同时</span> <i id="sendAmountTrend" class="fa text-green"></i> <span id="sendAmountTrendPercent" class="trend-up">0</span><span class="description-suffix"> 元</span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="box box-solid box-default">
                                <div class="box-header">
                                    <h3 class="box-title">确认收货订单</h3>
                                </div>
                                <div class="box-body">
                                    <div class="row">

                                        <div class="col-md-6 col-sm-6 border-right" id="confirmLeftLoadingPanel">
                                            <div class="description-block">
                                                <br>
                                                <br>
                                                <div class="spinner">
                                                    <div class="bounce1"></div>
                                                    <div class="bounce2"></div>
                                                    <div class="bounce3"></div>
                                                </div>
                                                <br>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-sm-6 border-right" id="confirmLeftPanel">
                                            <div class="description-block">
                                                <h5 class="description-header"><span id="confirmNum" class="num-z">0</span> <span class="unit-s"> 单</span></h5>
                                                <br>
                                                <span class="description-text"><span class="description-fo">昨日同时</span> <i id="confirmNumTrend" class="fa text-green"></i> <span id="confirmNumTrendPercent" class="trend-up">0</span><span class="description-suffix"> 单</span></span>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-sm-6" id="confirmRightLoadingPanel">
                                            <div class="description-block">
                                                <br>
                                                <br>
                                                <div class="spinner">
                                                    <div class="bounce1"></div>
                                                    <div class="bounce2"></div>
                                                    <div class="bounce3"></div>
                                                </div>
                                                <br>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-sm-6" id="confirmRightPanel">
                                            <div class="description-block">
                                                <h5 class="description-header"><span id="confirmAmount" class="num-z">0</span> <span class="unit-s"> 元</span></h5>
                                                <br>
                                                <span class="description-text"><span class="description-fo">昨日同时</span> <i id="confirmAmountTrend" class="fa text-green"></i> <span id="confirmAmountTrendPercent" class="trend-up">0</span><span class="description-suffix"> 元</span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="box box-solid box-default">
                                <div class="box-header">
                                    <h3 class="box-title">申请退货订单</h3>
                                </div>
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 border-right" id="applyReturnLeftLoadingPanel">
                                            <div class="description-block">
                                                <br>
                                                <br>
                                                <div class="spinner">
                                                    <div class="bounce1"></div>
                                                    <div class="bounce2"></div>
                                                    <div class="bounce3"></div>
                                                </div>
                                                <br>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-sm-6 border-right" id="applyReturnLeftPanel">
                                            <div class="description-block">
                                                <h5 class="description-header"><span id="applyReturnNum" class="num-z">0</span> <span class="unit-s"> 单</span></h5>
                                                <br>
                                                <span class="description-text"><span class="description-fo">昨日同时</span> <i id="applyReturnNumTrend" class="fa text-green"></i> <span id="applyReturnNumTrendPercent" class="trend-up">0</span><span class="description-suffix"> 单</span></span>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-sm-6" id="applyReturnRightLoadingPanel">
                                            <div class="description-block">
                                                <br>
                                                <br>
                                                <div class="spinner">
                                                    <div class="bounce1"></div>
                                                    <div class="bounce2"></div>
                                                    <div class="bounce3"></div>
                                                </div>
                                                <br>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-sm-6" id="applyReturnRightPanel">
                                            <div class="description-block">
                                                <h5 class="description-header"><span id="applyReturnAmount" class="num-z">0</span> <span class="unit-s"> 元</span></h5>
                                                <br>
                                                <span class="description-text"><span class="description-fo">昨日同时</span> <i id="applyReturnAmountTrend" class="fa text-green"></i> <span id="applyReturnAmountTrendPercent" class="trend-up">0</span><span class="description-suffix"> 元</span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="box box-solid box-default">
                                <div class="box-header">
                                    <h3 class="box-title">处理完退货下单</h3>
                                </div>
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 border-right" id="dealReturnLeftLoadingPanel">
                                            <div class="description-block">
                                                <br>
                                                <br>
                                                <div class="spinner">
                                                    <div class="bounce1"></div>
                                                    <div class="bounce2"></div>
                                                    <div class="bounce3"></div>
                                                </div>
                                                <br>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-sm-6 border-right" id="dealReturnLeftPanel">
                                            <div class="description-block">
                                                <h5 class="description-header"><span id="dealReturnNum" class="num-z">0</span> <span class="unit-s"> 单</span></h5>
                                                <br>
                                                <span class="description-text"><span class="description-fo">昨日同时</span> <i id="dealReturnNumTrend" class="fa text-green"></i> <span id="dealReturnNumTrendPercent" class="trend-up">0</span><span class="description-suffix"> 单</span></span>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-sm-6" id="dealReturnRightLoadingPanel">
                                            <div class="description-block">
                                                <br>
                                                <br>
                                                <div class="spinner">
                                                    <div class="bounce1"></div>
                                                    <div class="bounce2"></div>
                                                    <div class="bounce3"></div>
                                                </div>
                                                <br>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-sm-6" id="dealReturnRightPanel">
                                            <div class="description-block">
                                                <h5 class="description-header"><span id="dealReturnAmount" class="num-z">0</span> <span class="unit-s"> 元</span></h5>
                                                <br>
                                                <span class="description-text"><span class="description-fo">昨日同时</span> <i id="dealReturnAmountTrend" class="fa text-green"></i> <span id="dealReturnAmountTrendPercent" class="trend-up">0</span><span class="description-suffix"> 元</span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="height:200px;">
                <div class="col-md-12 col-sm-12 col-xs-12">

                </div>
            </div>
            <!-- 弹框 -->
            <div>
                <div class="modal fade" id="myWarnModal" tabindex="-1" role="dialog" aria-labelledby="myWarnModalLabel" aria-hidden="true">
                    <div class="modal-dialog re-modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                                </button>
                                <h4 class="modal-title" id="myWarnModalLabel">

                                </h4>
                            </div>
                            <div class="modal-body">
                                <!--content开始-->
                                <div name="showContent">
                                    <div class="row" style="width:100%;position:relative;margin:0 auto;background:#f9f9f9;padding-top:10px;">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div id="shopSealSectionAlys" style="height:500px;"></div>
                                        </div>
                                    </div>
                                </div>
                                <!--content结束-->
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
            </div>

            <!-- 表格弹框 -->
            <div>
                <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                                </button>
                                <h4 class="modal-title" id="modalLabel">

                                </h4>
                            </div>
                            <div class="modal-body">
                                <!--content开始-->
                                <div name="showContent">
                                    <div class="row" style="width:100%;position:relative;margin:0 auto;background:#f9f9f9;padding-top:10px;">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <table id="tableView" data-toggle="table"
                                                   data-click-to-select="true"></table>
                                        </div>
                                    </div>
                                </div>
                                <!--content结束-->
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
            </div>

        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
</template>