<template name="aijihuiAccountInfo">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">

            <!-- Your Page Content Here -->

            <div id="chartContent" class="template-dashboard content body">

                <!--<span style="color:red">注：</span><span>只包含官网和M版流量</span>-->
                <div class="row desktop-only c-border">
                    <div class=" col-md-12 col-sm-12 col-xs-12 ">
                        <span>请选择查看时间:</span>
                        <!--<select  class="dateType" style="width: 120px;height: 34px;border-radius: 4px;padding: 6px 12px;">-->
                            <!--<option value="daily">按日期选择</option>-->
                            <!--<option value="weekly">按周选择</option>-->
                            <!--<option value="monthly">按月选择</option>-->
                        <!--</select>-->
                        <button type="button" class="daily btn btn-default webTrafficFunnelDate"  style="border: 1px gray solid;width:240px;background-color:white">
                            <i class="fa fa-calendar"></i>
                            <span class="dateSelectLabel"></span>
                            <i class="fa fa-caret-down"></i>
                        </button>

                        <a href="#" class="glyphicon glyphicon-question-sign pull-right" style="margin-top:1%;margin-bottom: 1%;" data-toggle="tooltip"
                           title="说明：
1、此页面中的活跃客户或门店的规则如下：周报或7天及以上则>=2单为有效门店，月报或28天及以上则>=10单为有效门店。
2、重大失误率：在交易成功下，验货失败差异额/验货成功提交额，此处使用交易成功时间；重大失误率适用于2016/09/01以后，之前数据已清算。
3、此处的导出带有详细信息里的内容
4、未登录子账户：已剔除废旧机。注册子账户：是指这段时间注册的子账户数量。累计启用中的子账户数：指的是这个母账户到目前所有的启用中的子账户数，要剔除已经停用的子账户数量"></a>
                        <!--<span>选择网址名:</span>-->
                        <!--<select class="siteName" style="margin-left: 28px;width:150px;border-radius: 4px;padding: 6px 12px;">-->

                        <!--</select>-->
                        <!--<button class="btn btn-primary search">查询</button>-->

                    </div>
                    <div class=" col-md-12 col-sm-12 col-xs-12 ">

                    </div>

                </div>
                <div class="row mobile-only desktop-none">
                    <div>
                        <span>请选择查看时间:</span>
                    </div>
                    <div>
                        <button type="button" class="daily btn btn-default webTrafficFunnelDate"  style="border: 1px gray solid;width:240px;background-color:white">
                            <i class="fa fa-calendar"></i>
                            <span class="dateSelectLabel"></span>
                            <i class="fa fa-caret-down"></i>
                        </button>
                    </div>
                </div>
                <div >

                    <label style="margin-top:20px">客户深度运营数据列表</label>
                    <div id="etable" class="row" style="margin-top: 15px;border: 1px solid gray">
                        <div style="text-align: center;margin-top: 150px" id="loading2">
                            <img src="/images/loading.gif">
                        </div>
                        <div id="righte" class="col-md-12 col-sm-12 col-xs-12" style="">
                            <table id="tablee"
                                   data-toggle="table"
                                   data-show-export="true"
                                   data-pagination="true"
                                   data-click-to-select="true"
                            >
                                <!--<thead>-->
                                <!--<tr>-->
                                    <!--<th data-field="vender_parent_name" data-sortable="true">客户名称</th>-->
                                    <!--<th data-field="level" data-sortable="true">级别</th>-->
                                    <!--<th data-field="registerShopCnt" data-sortable="true">注册门店数</th>-->
                                    <!--<th data-field="registerAllShopCnt" data-sortable="true">累积注册门店数</th>-->
                                    <!--<th data-field="liveShopCnt" data-sortable="true">活跃门店(提交)</th>-->
                                    <!--<th data-field="zeroOrderShopCnt" data-sortable="true">0订单门店数(提交)</th>-->
                                    <!--<th data-field="loginCount" data-sortable="true">未登录子账户数</th>-->
                                    <!--<th data-field="orderCnt" data-sortable="true">订单数(提交)</th>-->
                                    <!--<th data-field="recycleNum" data-sortable="true">回收额(提交)</th>-->
                                    <!--<th data-field="tradeNum" data-sortable="true">累计验货成功金额</th>-->
                                    <!--<th data-field="venderNum" data-sortable="true">商家服务费</th>-->
                                    <!--<th data-field="subVenderNum" data-sortable="true">店员服务费</th>-->
                                    <!--<th data-field="errorRate" data-sortable="true">重大失误率</th>-->
                                    <!--<th data-field="localErrorRate" data-sortable="true">本段时间的重大失误率</th>-->
                                    <!--<th data-field="frozenNum" data-sortable="true">冻结资金</th>-->
                                    <!--<th data-field="tradeCntAll" data-sortable="true">订单数(成交)</th>-->
                                    <!--<th data-field="tradeNumAll" data-sortable="true">订单金额(成交)</th>-->
                                    <!--<th data-field="inspection_tolerate_num" data-sortable="true">本段时间小微容忍金额</th>-->
                                    <!--<th data-field="special_remitted_num" data-sortable="true">特殊豁免金额</th>-->
                                    <!--<th data-field="special_num" data-sortable="true">特殊补款金额</th>-->
                                    <!--<th data-field="golden_egg" data-sortable="true">砸金蛋金额</th>-->
                                <!--</tr>-->
                                <!--</thead>-->


                            </table>

                        </div>
                    </div>

                </div>
                <div class="row" style="margin-top: 3%">
                    <div class="rte col-md-12 col-sm-12 col-xs-12">
                        <table id="marketingWebTrafficDataTable" class="display compact cell-border" cellspacing="0"
                               width="100%"></table>
                    </div>
                </div>

            </div>

        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
</template>