<template name="VenderHQVenderOrderStatisticsIframe">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
            <div class="row col-md-12 col-sm-12 col-xs-12">
                <iframe id="mainIFrame"
                        name="mainIFrame"
                        frameborder="no"
                        width="100%"
                        height="2000"
                        src=""></iframe>
            </div>
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
</template>