<template name="VenderHQVenderAntCreditPayOrderStatisticsInfo">
    <!-- Content Wrapper. Contains page content -->
    <div class="content">
        <!-- Main content -->
        <section class="content">

            <!-- Your Page Content Here -->
            <div class="template-antCreditPay content body">

                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="box box-primary ">
                            <div class="box-body">
                                <div class="small-box bg-light-blue">
                                    <div class="inner ">
                                        <p><span style="font-size: medium">昨日提交金额</span></p>
                                        <h3><span id="submitAmountYtd">......</span></h3>
                                        <br><br>
                                        <p><span style="font-size: medium">昨日提交订单量:<label id="submitOrderYtd">......</label></span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="box box-primary ">
                            <div class="box-body">
                                <div class="small-box bg-light-blue">
                                    <div class="inner ">
                                        <p><span style="font-size: medium">昨日成交金额</span></p>
                                        <h3><span id="payAmountYtd">......</span></h3>
                                        <br><br>
                                        <p><span style="font-size: medium">昨日成交订单量:<label id="payOrderYtd">......</label></span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="box box-primary ">
                            <div class="box-body">
                                <div class="small-box bg-light-blue">
                                    <div class="inner ">
                                        <p>
                                            <span style="font-size: medium">本月总计成交金额</span>
                                            <span style="font-size: small">&nbsp;&nbsp;&nbsp;&nbsp;(数据截止昨日)</span>
                                        </p>
                                        <h3><span id="monthAmount">......</span></h3>
                                        <br><br>
                                        <p><span style="font-size: medium">本月总计成交订单量:<label id="monthOrder">......</label></span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="box box-primary">
                            <div class="box-body">
                                <div class="small-box bg-light-blue">
                                    <div class="inner">
                                        <p>
                                            <span style="font-size: medium">活跃成交门店数</span>
                                            <span style="font-size: small">&nbsp;&nbsp;&nbsp;&nbsp;(数据截止昨日)</span>
                                        </p>
                                        <h3><span id="activeStoreNumber">......</span></h3>
                                        <br><br>
                                        <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!--选项栏-->
                <div class="row c-border">
                    <div class=" col-md-12 col-sm-12 col-xs-12 ">
                        <span>请选择日期:</span>
                        <button type="button" class="daily btn btn-default webTrafficFunnelDate"  style="border: 1px gray solid;width:240px;background-color:white">
                            <i class="fa fa-calendar"></i>
                            <span class="dateSelectLabel"></span>
                            <i class="fa fa-caret-down"></i>
                        </button>

                        <select class="order"  style="margin-left: 24px;width:150px;border-radius: 4px;padding: 6px 12px;">
                            <option value="ordercount">按订单量</option>
                            <option value="orderamount">按订单金额</option>
                        </select>

                        <select class="createTime"  style="margin-left: 24px;width:150px;border-radius: 4px;padding: 6px 12px;">
                            <option value="createddate">按提交</option>
                            <option value="paiddate">按成交</option>
                        </select>
                        <button class="btn btn-primary search">查询</button>
                    </div>
                </div>

                <div class="row box box-primary" style="width: auto;">
                    <div class="box-body">

                            <div class="row">
                                <div id="orderMoneyPie" class="col-md-4 col-sm-12 col-xs-12"
                                     style="height:400px;margin-top: 3%;">
                                </div>

                                <div id="orderBrandPie" class="col-md-4 col-sm-12 col-xs-12"
                                     style="height:400px;margin-top: 3%;">
                                </div>

                                <div id="orderPeriodsPie" class="col-md-4 col-sm-12 col-xs-12"
                                     style="height:400px;margin-top: 3%;">
                                </div>
                            </div>
                    </div>
                </div>

                <div class="row box box-primary" style="width: auto;margin-top:15px">
                    <div class="box-header with-border">
                        <h3 class="box-title" style="border-style: none;font-weight: bold">订单趋势</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div id="orderTrendencyChart" class="col-md-12 col-sm-12 col-xs-12"
                                 style="height:400px;margin-top: 3%;">
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                </div>

                <div class="row box box-primary" style="width: auto; margin-top:15px">
                    <select id="area" style="margin-left: auto;width:150px;border-radius: 4px;padding: 6px 12px;" class="pull-right">
                        <option value="city">按城市</option>
                        <option value="province" selected ="selected">按省份</option>
                    </select>
                    <div class="box-body">
                        <div class="row">
                            <div id="orderAreaRankChart" class="col-md-12 col-sm-12 col-xs-12"
                                 style="height:600px;margin-top: 3%;">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row box box-primary" style="width: auto; margin-top:15px">
                    <div class="box-body">
                        <div class="row">
                            <div id ="orderCompanyRankChart" class="col-md-12 col-sm-12 col-xs-12"
                                 style="height:600px;margin-top: 3%;">
                            </div>
                        </div>
                    </div>
                </div>




        </div>


        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
</template>
