<template name="numberTransactions">
    <!-- Content Wrapper. Contains page content -->
    <div class="content">
        <!-- Main content -->
        <section class="content">

            <!-- Your Page Content Here -->

            <div id="chartContent" class="template-dashboard content body">

                <!--<span style="color:red">注：</span><span>只包含官网和M版流量</span>-->
                <div class="row desktop-only c-border">
                    <div class=" col-md-12 col-sm-12 col-xs-12 ">
                        <span>请选择查看类型:</span>
                        <select  class="dateType" style="width: 120px;height: 34px;border-radius: 4px;padding: 6px 12px;">
                            <option value="daily">按日期选择</option>
                            <option value="weekly">按周选择</option>
                            <option value="monthly">按月选择</option>
                        </select>
                        <button type="button" class="daily btn btn-default webTrafficFunnelDate"  style="border: 1px gray solid;width:240px;background-color:white">
                            <i class="fa fa-calendar"></i>
                            <span class="dateSelectLabel"></span>
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <button type="button" class="daily btn btn-default webTrafficFunnelWeek"  style="border: 1px gray solid;width:240px;background-color:white">
                            <i class="fa fa-calendar"></i>
                            <span class="weekSelectLabel"></span>
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <button type="button" class="daily btn btn-default webTrafficFunnelMonth"  style="border: 1px gray solid;width:240px;background-color:white">
                            <i class="fa fa-calendar"></i>
                            <span class="monthSelectLabel"></span>
                            <i class="fa fa-caret-down"></i>
                        </button>

                        <span>选择网址名:</span>
                        <select class="siteName" style="margin-left: 28px;width:150px;border-radius: 4px;padding: 6px 12px;">

                        </select>
                        <span class="cate">选择Event Categories:</span>
                        <select class="categoryName" style="margin-left: 28px;width:150px;border-radius: 4px;padding: 6px 12px;">

                        </select>
                        <span class="action">选择Event Actions:</span>
                        <select class="actionName" style="margin-left: 28px;width:150px;border-radius: 4px;padding: 6px 12px;">

                        </select>
                        <span class="click">选择Event Names:</span>
                        <select class="clickName" style="margin-left: 28px;width:150px;border-radius: 4px;padding: 6px 12px;">

                        </select>
                        <button class="btn btn-primary search">查询</button>

                    </div>
                    <div class=" col-md-12 col-sm-12 col-xs-12 ">

                    </div>

                </div>
                <div class="row mobile-only desktop-none">
                    <div>
                        <span>请选择查看类型:</span>
                        <select  class="dateType" style=";width:200px;border-radius: 4px;padding: 6px 12px;">
                            <option value="daily">按日期选择</option>
                            &lt;!&ndash;<option value="weekly">按周选择</option>&ndash;&gt;
                            &lt;!&ndash;<option value="monthly">按月选择</option>&ndash;&gt;
                        </select>
                    </div>
                    <div>
                        <span>请选择起始时间:</span>
                        <button type="button" style="border: 1px gray solid;width:200px;background-color:white" class="daily btn btn-default campaignStartDatePicker">
                            <i class="fa fa-calendar"></i>
                            <span class="startDateSelectLabel"></span>
                            <i class="fa fa-caret-down" style="margin-left: 78px"></i>
                        </button>
                        <select  class="weekly startWeek" style="width:200px;border-radius: 4px;padding: 6px 12px;">

                        </select>
                    </div>
                    <div>
                        <span>请选择结束时间:</span>
                        <button type="button" style="border: 1px gray solid;width:200px;background-color:white" class="daily btn btn-default campaignEndDatePicker">
                            <i class="fa fa-calendar"></i>
                            <span class="endDateSelectLabel"></span>
                            <i class="fa fa-caret-down" style="margin-left: 78px"></i>
                        </button>
                        <select  class="weekly endWeek" style="width:200px;border-radius: 4px;padding: 6px 12px;">

                        </select>
                    </div>
                    <div class="">
                        <span>请选择网址名:</span>
                        <select  class="siteName" style="margin-left: 28px;width:200px;border-radius: 4px;padding: 6px 12px;">

                        </select>
                    </div>
                    <div>
                        <span>请选择事件名:</span>
                        <select class="clickName" style="margin-left: 28px;width:200px;border-radius: 4px;padding: 6px 12px;">
                        </select>
                    </div>

                    <div>
                        <button class="btn btn-primary search">查询</button>
                    </div>
                </div>
                <div >

                    <div class="row">

                        <!--<div id="dailyTrafficFunnelChart" class="col-md-5 col-sm-5 col-xs-12"-->
                             <!--style="height:400px;margin-top: 3%;">-->
                        <!--</div>-->

                        <div id="dailyTrafficStackChart" class="col-md-offset-1 col-md-10 col-sm-10 col-xs-12"
                             style="height:400px;margin-top: 3%;/*border: 1px solid gray*/">
                        </div>

                    </div>

                    <div id="ctable" class="row" style="margin-top: 15px">

                        <div id="right" class="col-md-12 col-sm-12 col-xs-12" style="border: 1px solid gray">
                            <table id="table"
                                   data-toggle="table"
                                   data-show-export="true"
                                   data-pagination="true"
                                   data-click-to-select="true"
                            >
                                <thead>
                                <tr>
                                    <th data-field="date" data-sortable="true">日期</th>
                                    <th data-field="siteName" data-sortable="true">网址名</th>
                                    <th data-field="categoryName" data-sortable="true">categoriesName</th>
                                    <th data-field="actionName" data-sortable="true">actionName</th>
                                    <th data-field="clickName" data-sortable="true">clickName</th>
                                    <th data-field="count" data-sortable="true">访问总量</th>
                                </tr>
                                </thead>


                            </table>

                        </div>
                    </div>

                </div>
                <div class="row" style="margin-top: 3%">
                    <div class="rte col-md-12 col-sm-12 col-xs-12">
                        <table id="marketingWebTrafficDataTable" class="display compact cell-border" cellspacing="0"
                               width="100%"></table>
                    </div>
                </div>

            </div>
            <div style="text-align: center;margin-top: 150px" id="loading">
                <img src="/images/loading.gif">
            </div>



        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
</template>