<template name="VenderDashboard">
    <!-- Content Wrapper. Contains page content -->
    <div class="content">
        <!-- Main content -->
        <section class="content">

            <!-- Your Page Content Here -->
            <div class="template-dashboard content body">
                <div class="small-box bg-light-blue">
                    <div class="inner">
                        <h3>{{todayTradeStats.tradeNum}}
                        </h3>

                        <p>{{todayTradeStats.date}} 人人机订单提交量</p>
                    </div>
                </div>
                <div class="row">
                    <div id="venderTradeCityMixedChart" class="col-md-6 col-sm-6 col-xs-12"
                         style="height:400px;margin-top: 3%">
                    </div>
                    <div id="venderTradeCategoryMixedChart" class="col-md-6 col-sm-6 col-xs-12"
                         style="height:400px;margin-top: 3%">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="small-box bg-light-blue">
                            <div class="inner">
                                <h3>{{todayTradeStats.dealNum}}
                                </h3>

                                <p>{{todayTradeStats.date}} 人人机订单成交量</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="small-box bg-light-blue">
                            <div class="inner">
                                <h3>{{todayTradeStats.dealAmount}}
                                </h3>

                                <p>{{todayTradeStats.date}} 人人机订单成交金额</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="venderTradeDealCityMixedChart" class="col-md-6 col-sm-6 col-xs-12"
                         style="height:400px;margin-top: 3%">
                    </div>
                    <div id="venderTradeDealAmountCityMixedChart" class="col-md-6 col-sm-6 col-xs-12"
                         style="height:400px;margin-top: 3%">
                    </div>
                </div>
                <div class="row">
                    <div id="venderTradeDealCategoryMixedChart" class="col-md-6 col-sm-6 col-xs-12"
                         style="height:400px;margin-top: 3%">
                    </div>
                    <div id="venderTradeDealAmountCategoryMixedChart" class="col-md-6 col-sm-6 col-xs-12"
                         style="height:400px;margin-top: 3%">
                    </div>
                </div>
            </div>

        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
</template>

