<template name="insDifferenceOrderOpDetails">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
            <div class="row col-md-12 col-sm-12 col-xs-12" style="overflow:auto;">
                <iframe id="frame_davinci"
                        name="frame_davinci"
                        frameborder="no"
                        width="100%"
                        height="100%"
                        style="min-height:1000px"
                        scrolling="yes"
                        src="" ></iframe>
            </div>
        </section>
    </div>
</template>