<template name="OndoorQADetailReport">
    <!-- Content Wrapper. Contains page content -->
    <div class="content">
        <!-- Main content -->
        <section class="content">

            <!-- Your Page Content Here -->

            <div class="template-dashboard  body">

                <div class="row" id="content">
                    <div class="col-md-12">
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                <li class="active col-md-2 col-xs-12"><a href="#trendIndex" data-toggle="tab">趋势分析</a></li>
                                <li class="col-md-2 col-xs-12"><a href="#detailIndex" data-toggle="tab">QA详情</a></li>
                                <li class="col-md-2 col-xs-12"><a href="#warningIndex" data-toggle="tab">预警分析</a></li>
                                <li class="col-md-2 col-xs-12"><a href="#rankIndex" data-toggle="tab">分数排名</a></li>
                                <!--<li class="col-md-offset-2 col-md-1 col-xs-offset-11 col-xs-1" id="tips">-->
                                    <!--<a href="#" class="glyphicon glyphicon-question-sign pull-right" style="color: #3c8dbc;margin-top:1%;margin-bottom: 1%"-->
                                       <!--data-toggle="tooltip"-->
                                       <!--title="每个时间都是一个时间区域（即：2016.12.08=2016.12.08-2016.12.14）。">-->
                                    <!--</a>-->
                                <!--</li>-->
                            </ul>

                            <div class="tab-content">
                                <div class="active tab-pane" style="padding:15px" id="trendIndex">
                                    <span style="color: red">注：每个日期都表示一个时间段，以起始日表示该时间段（即：2016.12.08=2016.12.08-2016.12.14）</span>
                                    <div class="row c-border" style="padding-left: 15px;padding-right: 15px;">
                                        <div class="col-md-12 col-sm-12 col-xs-12 "
                                             style="display:flex;flex-wrap:wrap;">
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <span style="">选择类型:</span>
                                                <select class="dateType" style=";border-radius: 4px;padding: 6px 12px;width: 150px;">
                                                    <option value="weekly">按周选择</option>
                                                    <option value="monthly">按月选择</option>
                                                </select>
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <span style="">开始时间:</span>
                                                <select class="sdt" style=";border-radius: 4px;padding: 6px 12px;width: 150px;">
                                                </select>
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <span style="">结束时间:</span>
                                                <select class="edt" style=";border-radius: 4px;padding: 6px 12px;width: 150px;">
                                                </select>
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <span>对比维度:</span>
                                                <select class="compareDimension" style=";border-radius: 4px;padding: 6px 12px;width: 150px;">
                                                    <option value="-1">全国</option>
                                                    <option value="area">区域</option>
                                                    <option value="city">城市</option>
                                                    <option value="employeeType">员工类型</option>
                                                    <option value="employeeName">员工</option>
                                                </select>
                                            </div>

                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <span>选择区域:</span>
                                                <select class="areaName" style=";border-radius: 4px;padding: 6px 12px;width: 150px;">
                                                </select>
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <span>选择城市:</span>
                                                <select class="cityName" style=";border-radius: 4px;padding: 6px 12px;width: 150px;">
                                                </select>
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <span>员工类型:</span>
                                                <select class="employeeType"  style=";border-radius: 4px;padding: 6px 12px;width: 150px;">
                                                    <!--<option value="正式员工">正式员工</option>
                                                    <option value="试用期员工">试用期员工</option>-->
                                                </select>
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <span>选择员工:</span>
                                                <select class="employeeName" style=";border-radius: 4px;padding: 6px 12px;width: 150px;">

                                                </select>
                                            </div>




                                            <div class="col-md-3 col-sm-6 col-xs-12" style="padding-top: 6px;">
                                                <span style="visibility: hidden;">选择区域:</span>
                                                <button class="btn btn-primary search" style="padding: 2px 60px;">
                                                    查询
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-xs-12">
                                            <div id="scoreTrendChart" style="height:400px"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" style="padding:15px" id="detailIndex">
                                    <span style="color: red">注：每个日期都表示一个时间段，以起始日表示该时间段（即：2016.12.08=2016.12.08-2016.12.14）</span>
                                    <div class="row c-border" style="padding-left: 15px;padding-right: 15px;">
                                        <div class="col-md-12 col-sm-12 col-xs-12 "
                                             style="display:flex;flex-wrap:wrap;">

                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <span style="">开始时间:</span>
                                                <select class="dt" style=";border-radius: 4px;padding: 6px 12px;width: 150px;">
                                                </select>
                                            </div>

                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <span>选择区域:</span>
                                                <select class="areaName" style=";border-radius: 4px;padding: 6px 12px;width: 150px;">
                                                </select>
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <span>选择城市:</span>
                                                <select class="cityName" style=";border-radius: 4px;padding: 6px 12px;width: 150px;">
                                                </select>
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <span>选择员工:</span>
                                                <select class="employeeName" style=";border-radius: 4px;padding: 6px 12px;width: 150px;">
                                                </select>
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-12" style="padding-top: 6px;">
                                                <span style="visibility: hidden;">选择区域:</span>
                                                <button class="btn btn-primary search" style="padding: 2px 60px;">
                                                    查询
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div id="nonKeyErrorDetailChart" class="col-md-8 col-sm-12 col-xs-12"
                                                 style="height:400px"></div>
                                            <div id="nonKeyErrorDetailPieChart" class="col-md-4 col-sm-12 col-xs-12"
                                                 style="height:400px"></div>
                                        </div>
                                    </div>
                                </div>
                                <!--add by hank -->
                                <div class="tab-pane" style="padding:15px" id="warningIndex">
                                    <span style="color: red">注：每个日期都表示一个时间段，以起始日表示该时间段（即：2016.12.08=2016.12.08-2016.12.14）</span>
                                    <div class="row c-border" style="padding-left: 15px;padding-right: 15px;">
                                        <div class="col-md-12 col-sm-12 col-xs-12 "
                                             style="display:flex;flex-wrap:wrap;">

                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <span style="">开始时间:</span>
                                                <select class="sdt" style=";border-radius: 4px;padding: 6px 12px;width: 150px;">
                                                </select>
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <span style="">结束时间:</span>
                                                <select class="edt" style=";border-radius: 4px;padding: 6px 12px;width: 150px;">
                                                </select>
                                            </div>

                                            <div class="col-md-3 col-sm-6 col-xs-12" style="padding-top: 6px;">
                                                <span style="visibility: hidden;">选择区域:</span>
                                                <button class="btn btn-primary search" style="padding: 2px 60px;">
                                                    查询
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <table id="lowScoreEmployeeNameDataTable"
                                                   data-toggle="table"
                                                   data-show-export="true"
                                                   data-pagination="true"
                                                   data-click-to-select="true"
                                            ></table>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane" style="padding:15px" id="rankIndex">
                                    <span style="color: red">注：每个日期都表示一个时间段，以起始日表示该时间段（即：2016.12.08=2016.12.08-2016.12.14）</span>
                                    <div class="row c-border" style="padding-left: 15px;padding-right: 15px;">
                                        <div class="col-md-12 col-sm-12 col-xs-12 "
                                             style="display:flex;flex-wrap:wrap;">

                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <span style="">开始时间:</span>
                                                <select class="sdt" style=";border-radius: 4px;padding: 6px 12px;width: 150px;">
                                                </select>
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <span style="">结束时间:</span>
                                                <select class="edt" style=";border-radius: 4px;padding: 6px 12px;width: 150px;">
                                                </select>
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <span>选择区域:</span>
                                                <select class="areaName" style=";border-radius: 4px;padding: 6px 12px;width: 150px;">
                                                </select>
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <span>选择城市:</span>
                                                <select class="cityName" style=";border-radius: 4px;padding: 6px 12px;width: 150px;">
                                                </select>
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-12" style="padding-top: 6px;">
                                                <span style="visibility: hidden;">选择区域:</span>
                                                <button class="btn btn-primary search" style="padding: 2px 60px;">
                                                    查询
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <table id="scoreRankDataTable"
                                                   data-toggle="table"
                                                   data-show-export="true"
                                                   data-pagination="true"
                                                   data-click-to-select="true"
                                                   data-sort-order="desc"
                                            ></table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="text-align: center;margin-top: 150px" id="loading">
                    <img src="/images/loading.gif">
                </div>
            </div>

        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
</template>