.container {
  background-color: #fff;
}

.btnContainer {
  // padding-top: 16px;
  margin-bottom: 16px;
}

.searchWrapper {
  display: flex;
  margin-bottom: 16px;
}

.search {
  width: 400px;
  margin-right: 16px;
}