<template name="campaignTrafficMonitor">
    <!-- Content Wrapper. Contains page content -->
    <div class="content">
        <!-- Main content -->
        <section class="content">

            <!-- Your Page Content Here -->

            <div id="chartContent" class="template-dashboard content body">
                <span style="color:red">注：</span><span>只包含官网和M版流量</span>
                <div class="row desktop-only c-border">
                    <div class=" col-md-12 col-sm-12 col-xs-12 ">
                        <span>请选择查看类型:</span>
                        <select  class="dateType" style="margin-left:20px;width:200px;border-radius: 4px;padding: 6px 12px;">
                            <option value="daily">按日期选择</option>
                            <!--<option value="weekly">按周选择</option>-->
                            <!--<option value="monthly">按月选择</option>-->
                        </select>
                        <span>请选择起始时间:</span>
                        <button type="button" style="border: 1px gray solid;margin-left: 26px;width:200px;background-color:white" class="daily btn btn-default campaignStartDatePicker">
                            <i class="fa fa-calendar"></i>
                            <span class="startDateSelectLabel"></span>
                            <i class="fa fa-caret-down" style="margin-left: 78px"></i>
                        </button>
                        <span>请选择结束时间:</span>
                        <button type="button" style="border: 1px gray solid;margin-left: 38px;width:200px;background-color:white" class="daily btn btn-default campaignEndDatePicker">
                            <i class="fa fa-calendar"></i>
                            <span class="endDateSelectLabel"></span>
                            <i class="fa fa-caret-down" style="margin-left: 78px"></i>
                        </button>
                        <!--<select  class="weekly startWeek" style="width:200px;border-radius: 4px;padding: 6px 12px;">

                        </select>
                        <select  class="weekly endWeek" style="width:200px;border-radius: 4px;padding: 6px 12px;">

                        </select>-->
                    </div>
                    <div class=" col-md-12 col-sm-12 col-xs-12 ">
                        <span>请选择utm_source:</span>
                        <select  class="source" style="width:200px;border-radius: 4px;padding: 6px 12px;">

                        </select>
                        <span>请选择utm_medium:</span>
                        <select  class="medium" style="width:200px;border-radius: 4px;padding: 6px 12px;">

                        </select>
                        <span>请选择utm_campaign:</span>
                        <select  class="campaign" style="width:200px;border-radius: 4px;padding: 6px 12px;">

                        </select>
                    </div>
                    <div class=" col-md-12 col-sm-12 col-xs-12 ">
                        <span>请选择渠道:</span>
                        <select class="channel" style="margin-left: 46px;width:200px;border-radius: 4px;padding: 6px 12px;">

                        </select>
                        <span>请选择来源:</span>
                        <select  class="searchEngine" style="margin-left: 55px;width:200px;border-radius: 4px;padding: 6px 12px;">

                        </select>
                        <span>请选择城市:</span>
                        <select id="city" class="city" style="margin-left: 67px;width:200px;border-radius: 4px;padding: 6px 12px;">

                        </select>
                        <span>请选择平台:</span>
                        <select  class="platform" style="width:200px;border-radius: 4px;padding: 6px 12px;">

                        </select>
                        <button style="" class="btn btn-primary search">查询</button>
                    </div>
                    <div class=" col-md-12 col-sm-12 col-xs-12 ">

                    </div>
                </div>
                <div class="row mobile-only desktop-none">
                    <div style="margin-top: 20px">
                        <span>查看类型:</span>
                        <select  class="dateType" style="margin-left: 38px;width:150px;border-radius: 4px;padding: 6px 12px;">
                            <option value="daily">按日期选择</option>
                            <!--<option value="weekly">按周选择</option>-->
                            <!--<option value="monthly">按月选择</option>-->
                        </select>
                    </div>
                    <div>
                        <span class="daily">起始时间:</span>
                        <button type="button" style="margin-left: 38px;width:150px;background-color:white" class="daily btn btn-default campaignStartDatePicker">
                            <i class="fa fa-calendar"></i>
                            <span class="startDateSelectLabel"></span>
                            <i class="fa fa-caret-down" style="margin-left: 28px"></i>
                        </button>
                    </div>
                    <div>
                        <span class="daily">结束时间:</span>
                        <button type="button" style="margin-left: 38px;width:150px;background-color:white" class="daily btn btn-default campaignEndDatePicker">
                            <i class="fa fa-calendar"></i>
                            <span class="endDateSelectLabel"></span>
                            <i class="fa fa-caret-down" style="margin-left: 28px"></i>
                        </button>
                    </div>
                    <div>
                        <span class="weekly">起始时间:</span>
                        <select  class="weekly startWeek" style="margin-left: 38px;width:150px;border-radius: 4px;padding: 6px 12px;">

                        </select>
                    </div>
                    <div>
                        <span class="weekly">结束时间:</span>
                        <select  class="weekly endWeek" style="margin-left: 38px;width:150px;border-radius: 4px;padding: 6px 12px;">

                        </select>
                    </div>
                    <div class="">
                        <span>utm_source:</span>
                        <select  class="source" style="margin-left: 19px;width:150px;border-radius: 4px;padding: 6px 12px;">

                        </select>
                    </div>
                    <div class="">
                        <span>utm_medium:</span>
                        <select  class="medium" style="margin-left: 11px;width:150px;border-radius: 4px;padding: 6px 12px;">

                        </select>
                    </div>
                    <div class="">
                        <span>utm_campaign:</span>
                        <select  class="campaign" style="width:150px;border-radius: 4px;padding: 6px 12px;">

                        </select>
                    </div>
                    <div class="">
                        <span>渠道:</span>
                        <select  class="channel" style="margin-left: 67px;width:150px;border-radius: 4px;padding: 6px 12px;">

                        </select>
                    </div>
                    <div>
                        <span>来源:</span>
                        <select  class="searchEngine" style="margin-left: 67px;width:150px;border-radius: 4px;padding: 6px 12px;">

                        </select>
                    </div>

                    <div>
                        <span>平台:</span>
                        <select class="platform" style="margin-left: 67px;width:150px;border-radius: 4px;padding: 6px 12px;">

                        </select>
                    </div>
                    <div>
                        <span>城市:</span>
                        <select  class="city" style="margin-left: 67px;width:150px;border-radius: 4px;padding: 6px 12px;">
                        </select>
                    </div>
                    <div>

                        <button style="margin-left: 103px;width:150px;" class="btn btn-primary search">查询</button>
                    </div>
                </div>
                <div >

                <div class="row">

                    <div id="dailyTrafficFunnelChart" class="col-md-5 col-sm-5 col-xs-12"
                         style="height:400px;margin-top: 3%;">
                    </div>

                    <div id="dailyTrafficStackChart" class="col-md-7 col-sm-7 col-xs-12"
                         style="height:400px;margin-top: 3%;/*border: 1px solid gray*/">
                    </div>

                </div>

                <div id="ctable" class="row" style="margin-top: 15px">

                    <div id="right" class="col-md-12 col-sm-12 col-xs-12" style="border: 1px solid gray">
                        <table id="table"
                               data-toggle="table"
                               data-show-export="true"
                               data-pagination="true"
                               data-click-to-select="true"
                        >
                            <thead>
                            <tr>
                                <th data-field="date" data-sortable="true">日期</th>
                                <th data-field="source" data-sortable="true">utm_source</th>
                                <th data-field="medium" data-sortable="true">utm_medium</th>
                                <th data-field="campaign" data-sortable="true">utm_campaign</th>
                                <th data-field="channel" data-sortable="true">渠道</th>
                                <th data-field="cityName" data-sortable="true">城市</th>
                                <th data-field="platform" data-sortable="true">平台</th>
                                <th data-field="searchEngine" data-sortable="true">搜索来源</th>
                                <th data-field="uv" data-sortable="true">访问用户数</th>
                                <th data-field="inquiry_uv" data-sortable="true">询价用户数</th>
                                <th data-field="trade_uv" data-sortable="true">提交用户数</th>
                                <th data-field="trade_cnt_num" data-sortable="true">提交量</th>
                                <th data-field="trade_success_uv" data-sortable="true">成交用户数</th>
                                <th data-field="trade_success_cnt_num" data-sortable="true">成交量</th>
                                <th data-field="trade_success_amount_num" data-sortable="true">成交金额</th>
                            </tr>
                            </thead>
                        </table>

                    </div>
                </div>
                </div>

            </div>
            <div style="text-align: center;margin-top: 150px" id="loading">
                <img src="/images/loading.gif">
            </div>



        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
</template>
