<template name="keywordTrafficChart">
    <!-- Content Wrapper. Contains page content -->
    <div class="content">
        <!-- Main content -->
        <section class="content">

            <!-- Your Page Content Here -->

            <div id="chartContent" class="template-dashboard content body">

                <span style="color:red">注：</span><span>只包含官网和M版流量，关键字选项中只包含uv数大于5的，小于5的关键字包含在选项“其他关键字”中。</span>
                <div class="row desktop-only c-border">
                    <div class=" col-md-12 col-sm-12 col-xs-12 ">
                        <span>请选择查看类型:</span>
                        <select  class="dateType" style=";width:150px;border-radius: 4px;padding: 6px 12px;">
                            <option value="daily">按日期选择</option>
                            <option value="weekly">按周选择</option>
                             <option value="monthly">按月选择</option>
                        </select>
                        <span>请选择起始时间:</span>
                        <button type="button" style="border: 1px gray solid;background-color:white" class="daily btn btn-default marketingStartDatePicker">
                            <i class="fa fa-calendar"></i>
                            <span class="startDateSelectLabel"></span>
                            <i class="fa fa-caret-down" style="margin-left: 28px"></i>
                        </button>
                        <button type="button" style="border: 1px gray solid;background-color:white" class="weekly btn btn-default marketingWeeklyStartDatePicker">
                            <i class="fa fa-calendar"></i>
                            <span class="startWeekDateSelectLabel"></span>
                            <i class="fa fa-caret-down" style="margin-left: 28px"></i>
                        </button>
                        <button type="button" style="border: 1px gray solid;background-color:white" class="monthly btn btn-default marketingMonthlyStartDatePicker">
                            <i class="fa fa-calendar"></i>
                            <span class="startMonthDateSelectLabel"></span>
                            <i class="fa fa-caret-down" style="margin-left: 28px"></i>
                        </button>
                    </div>
                    <div class=" col-md-12 col-sm-12 col-xs-12 ">
                        <span>请选择区域:</span>
                        <select   class="areaName c-mleft10" style="margin-left: 28px;width:150px;border-radius: 4px;padding: 6px 12px;">
                        </select>
                        <span>请选择城市:</span>
                        <select  class="city c-mleft10" style="margin-left: 28px;width:150px;border-radius: 4px;padding: 6px 12px;">
                        </select>
                        <span>请选择平台:</span>
                        <select  class="platform c-mleft10" style="margin-left: 28px;width:150px;border-radius: 4px;padding: 6px 12px;">
                        </select>
                        <span>请选择关键字:</span>
                        <select  class="keyword c-mleft10" style="margin-left: 28px;width:150px;border-radius: 4px;padding: 6px 12px;">
                        </select>
                        <!--<a href="#" class="glyphicon glyphicon-question-sign pull-right" style="margin-top:1%;margin-bottom: 1%" data-toggle="tooltip" title="说明：关键字选项中只包含uv数大于5的，小于5的关键字包含在选项<其他关键字>中"></a>-->
                        <button class="btn btn-primary search">查询</button>
                    </div>
                    <div class=" col-md-12 col-sm-12 col-xs-12 ">

                    </div>

                </div>
                <div class="row mobile-only desktop-none">
                    <div>
                        <span>请选择查看类型:</span>
                        <select  class="dateType" style=";width:150px;border-radius: 4px;padding: 6px 12px;">
                            <option value="daily">按日期选择</option>
                            <option value="weekly">按周选择</option>
                            <option value="monthly">按月选择</option>
                        </select>
                    </div>
                    <div>
                        <!--<span>请选择起始时间:</span>
                        <button type="button" style="border: 1px gray solid;width:150px;background-color:white" class="daily btn btn-default marketingStartDatePicker">
                            <i class="fa fa-calendar"></i>
                            <span class="startDateSelectLabel"></span>
                            <i class="fa fa-caret-down" style="margin-left: 28px"></i>
                        </button>
                        <select  class="weekly startWeek" style="width:200px;border-radius: 4px;padding: 6px 12px;">

                        </select>-->
                        <span>请选择起始时间:</span>
                        <button type="button" style="border: 1px gray solid;background-color:white" class="daily btn btn-default marketingStartDatePicker">
                            <i class="fa fa-calendar"></i>
                            <span class="startDateSelectLabel"></span>
                            <i class="fa fa-caret-down" style="margin-left: 28px"></i>
                        </button>
                        <button type="button" style="border: 1px gray solid;background-color:white" class="weekly btn btn-default marketingWeeklyStartDatePicker">
                            <i class="fa fa-calendar"></i>
                            <span class="startWeekDateSelectLabel"></span>
                            <i class="fa fa-caret-down" style="margin-left: 28px"></i>
                        </button>
                        <button type="button" style="border: 1px gray solid;background-color:white" class="monthly btn btn-default marketingMonthlyStartDatePicker">
                            <i class="fa fa-calendar"></i>
                            <span class="startMonthDateSelectLabel"></span>
                            <i class="fa fa-caret-down" style="margin-left: 28px"></i>
                        </button>
                    </div>
                    <!--<div>
                        <span>请选择结束时间:</span>
                        <button type="button" style="border: 1px gray solid;width:150px;background-color:white" class="daily btn btn-default marketingEndDatePicker">
                            <i class="fa fa-calendar"></i>
                            <span class="endDateSelectLabel"></span>
                            <i class="fa fa-caret-down" style="margin-left: 28px"></i>
                        </button>
                        <select  class="weekly endWeek" style="width:200px;border-radius: 4px;padding: 6px 12px;">

                        </select>
                    </div>-->
                    <div>
                        <span>请选择区域:</span>
                        <select  class="areaName c-mleft28" style="margin-left: 28px;width:200px;border-radius: 4px;padding: 6px 12px;">
                            <!--<option value="物流">物流</option>
                            <option value="华北大区">华北大区</option>
                            <option value="华东大区">华东大区</option>
                            <option value="华南大区">华南大区</option>
                            <option value="华西大区">华西大区</option>-->
                        </select>
                    </div>
                    <div>
                        <span>请选择城市:</span>
                        <select  class="city c-mleft28" style="margin-left: 28px;width:200px;border-radius: 4px;padding: 6px 12px;">
                        </select>
                    </div>
                    <div>
                        <span>请选择平台:</span>
                        <select   class="platform c-mleft28" style="margin-left: 28px;width:200px;border-radius: 4px;padding: 6px 12px;">

                        </select>
                    </div>

                    <div>
                        <span>请选择关键字:</span>
                        <select   class="keyword c-mleft28" style="margin-left: 28px;width:200px;border-radius: 4px;padding: 6px 12px;">

                        </select>
                    </div>
                    <a href="#" class="glyphicon glyphicon-question-sign pull-right" style="margin-top:1%;margin-bottom: 1%" data-toggle="tooltip" title="说明：关键字选项中只包含uv数大于5的，小于5的关键字包含在选项<其他关键字>中"></a>
                    <div>
                        <button class="btn btn-primary search">查询</button>
                    </div>
                </div>

                <div class="row box box-primary" style="width: auto;">
                    <div class="box-header with-border">
                        <h3 class="box-title" style="border-style: none;font-weight: bold">图形化</h3>

                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div id="dailyTrafficFunnelChart" class="col-sm-offset-2 col-md-offset-2 col-md-8 col-sm-8 col-xs-12"
                                 style="height:400px;">
                            </div>
                            <!--<div id="dailyMarketingUVTrend" class="col-md-7 col-sm-7 col-xs-12" style="height:400px;margin-top: 3%;"></div>-->
                        </div>
                        <div class="row">
                            <div id="dailyMarketingUVTrend2" class="col-md-12 col-sm-12 col-xs-12" style="height:400px;"></div>
                        </div>
                        <div class="row" >
                            <div id="dailyTrafficStackChart" class="col-md-12 col-sm-12 col-xs-12"
                                 style="height:400px;/*border: 1px solid gray*/">
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->

                <div class="row box box-primary" style="width: auto;">
                    <div class="box-header with-border">
                        <h3 class="box-title" style="border-style: none;font-weight: bold">数据细分</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="row" style="">
                            <div  class="col-md-12 col-sm-12 col-xs-12" >
                                <table id="marketingWebTrafficDataTable"
                                       data-toggle="table"
                                       data-show-export="true"
                                       data-pagination="true"
                                       data-click-to-select="true"
                                >
                                    <!--<thead>
                                    <tr>
                                        <th data-field="date" data-sortable="true">日期</th>
                                        <th data-field="areaName" data-sortable="true">区域</th>
                                        <th data-field="cityName" data-sortable="true">城市</th>
                                        <th data-field="platform" data-sortable="true">平台</th>
                                        <th data-field="channel" data-sortable="true">渠道</th>
                                        <th data-field="source" data-sortable="true">utm_source</th>
                                        <th data-field="medium" data-sortable="true">utm_medium</th>
                                        <th data-field="campaign" data-sortable="true">utm_campaign</th>
                                        <th data-field="uv" data-sortable="true">访问用户数</th>
                                        <th data-field="inquiry_uv" data-sortable="true">询价用户数</th>
                                        <th data-field="trade_uv" data-sortable="true">提交用户数</th>
                                        <th data-field="trade_cnt_num" data-sortable="true">提交量</th>
                                        <th data-field="trade_success_uv" data-sortable="true">成交用户数</th>
                                        <th data-field="trade_success_cnt_num" data-sortable="true">成交量</th>
                                        <th data-field="trade_success_amount_num" data-sortable="true">成交金额</th>
                                    </tr>
                                    </thead>-->
                                </table>
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                </div>

                <!--<div class="row box box-primary" style="width: auto;">-->
                    <!--<div class="box-header with-border">-->
                        <!--<h3 class="box-title" style="border-style: none;font-weight: bold">综合日报</h3>-->
                    <!--</div>&lt;!&ndash; /.box-header &ndash;&gt;-->
                    <!--<div class="box-body">-->
                        <!--<div class="row" style="">-->
                            <!--<div  class="col-md-12 col-sm-12 col-xs-12" >-->
                                <!--<table id="marketingSummaryWebTrafficDataTable"-->
                                       <!--data-toggle="table"-->
                                       <!--data-show-export="true"-->
                                       <!--data-pagination="true"-->
                                       <!--data-click-to-select="true"-->
                                <!--&gt;-->
                                <!--</table>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>&lt;!&ndash; /.box-body &ndash;&gt;-->
                <!--</div>-->


            </div>
            <div style="text-align: center;margin-top: 150px" id="loading">
                <img src="/images/loading.gif">
            </div>



        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
</template>