<template name="marketingTrafficMonitorNewChannel">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
            <span style="color:red">注：</span><span>只包含官网(aihuishou.com)、M版(m.aihuishou.com)、APP版(此页面数据仅供查看2017/08/01以后的准确数据,APP可以查看历史的准确数据)</span>
            <br/><span style="color:red">另注：</span><span>1、小程序渠道数据维度不全，不可与其他渠道混合查看，否则导致汇总数据漏斗误差；2、小程序单日汇总流量和营收数据起始日期2017-9-14；3、小程序只提供汇总数据；4、小程序物流数据只看访客和营收，询价和提交相关数据不准确。</span>
            <br/><span style="color:red">另注：</span><span>询价完成数据从2018-01-01开始。</span>
            <br/><span style="color:red">另注：</span><span>市场流量脑图发生变更，<a href="{{pathFor 'MarketingMSTR' flag=0}}">请查看MSTR报表</a></span>
            <br/><span style="color:red">另注：</span><span>小程序总uv，询价uv，询价完成uv，订单提交uv从2018年6月27日从piwik获取</span>
            <div class="row c-border" style="padding-left: 15px;padding-right: 15px;margin-left: 15px;
    margin-right: 15px;">
                <div class="col-md-12 col-sm-12 col-xs-12 "
                     style="display:flex;flex-wrap:wrap;">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <span style="">请选择类型:</span>
                        <select class="dateType" style=";border-radius: 4px;padding: 6px 12px;width: 150px;">
                            <option value="daily">按日期选择</option>
                            <option value="weekly">按周选择</option>
                            <option value="monthly">按月选择</option>
                        </select>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <span style="width: 100px">请选择时间:</span>
                        <button type="button" style="border: 1px gray solid;background-color:white"
                                class="daily btn btn-default marketingStartDatePicker">
                            <i class="fa fa-calendar"></i>
                            <span class="startDateSelectLabel">2017-01-01~2017-01-01</span>
                            <i class="fa fa-caret-down" style="margin-left: 28px"></i>
                        </button>
                        <button type="button" style="border: 1px gray solid;background-color:white" class="weekly btn btn-default marketingWeeklyStartDatePicker">
                            <i class="fa fa-calendar"></i>
                            <span class="startWeekDateSelectLabel"></span>
                            <i class="fa fa-caret-down" style="margin-left: 28px"></i>
                        </button>
                        <button type="button" style="border: 1px gray solid;background-color:white" class="monthly btn btn-default marketingMonthlyStartDatePicker">
                            <i class="fa fa-calendar"></i>
                            <span class="startMonthDateSelectLabel"></span>
                            <i class="fa fa-caret-down" style="margin-left: 28px"></i>
                        </button>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 "
                     style="display:flex;flex-wrap:wrap;">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <span>请选择区域:</span>
                        <select class="areaName" style=";border-radius: 4px;padding: 6px 12px;">
                        </select>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <span>请选择城市:</span>
                        <select class="city" style=";border-radius: 4px;padding: 6px 12px;">
                        </select>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <span>请选择平台:</span>
                        <select class="platform" style=";border-radius: 4px;padding: 6px 12px;">
                        </select>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <span>请选择渠道:</span>
                        <select class="channelFirst" style=";border-radius: 4px;padding: 6px 12px;">
                        </select>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <span>选择分渠道:</span>
                        <select class="channelSecond" style=";border-radius: 4px;padding: 6px 12px;">
                        </select>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <span>细分支渠道:</span>
                        <select class="channelThird" style=";border-radius: 4px;padding: 6px 12px;">
                        </select>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12" style="margin-left: -5px">
                        <span>utm_source:</span>
                        <select class="source" style=";border-radius: 4px;padding: 6px 12px;">
                        </select>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12" style="margin-left: -7px">
                        <span>utm_medium:</span>
                        <input type="text" placeholder="全部" class="medium" style="padding-left: 5px;border-radius: 4px;margin-left: 2px;    width: 150px;"/>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12" style="margin-left: -23px">
                        <span>utm_campaign:</span>
                        <input type="text" placeholder="全部" class="campaign" style="padding-left: 5px;border-radius: 4px;    width: 150px;"/>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12"  style="position: relative;left:23px">
                        <span style="visibility: hidden;">请选择区域:</span>
                        <button class="btn btn-primary search" style="padding: 2px 60px;">
                            查询
                        </button>
                    </div>
                </div>
            </div>
            <div id="chartContent" class="template-dashboard content body">

                <div class="row box box-primary" style="width: auto;">
                    <div class="box-header with-border">
                        <h3 class="box-title" style="border-style: none;font-weight: bold">图形化</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                        </div>
                        <div class="row">
                            <div id="dailyTrafficFunnelChart" class="col-sm-offset-2 col-md-offset-2 col-md-8 col-sm-8 col-xs-12"
                                 style="height:400px;">


                            </div>
                            <div id="dailyMarketingUVTrend2" class=" col-md-12 col-sm-12 col-xs-12"
                                 style="height:400px;">


                            </div>
                            <div id="dailyTrafficStackChart" class=" col-md-12 col-sm-12 col-xs-12"
                                 style="height:400px;">


                            </div>
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->

                <div class="row box box-primary" style="width: auto;">
                    <div class="box-header with-border">
                        <h3 class="box-title" style="border-style: none;font-weight: bold">UV折线图</h3>
                        <div class="box-body">
                            <div class="row">
                                <div>
                                    <span>请选择查看数据</span>
                                    <select class="c-mleft28" style="margin-left: 28px;width:150px;border-radius: 4px;padding: 6px 12px;" id="datatype">
                                        <option value="uv">总UV</option>
                                        <option value="inquiry_uv">询价UV</option>
                                        <option value="inquiry_success_uv">询价完成UV</option>
                                        <option value="submit_success_uv">提交成功UV</option>
                                        <option value="trade_success_uv">交易成功UV</option>
                                        <option value="inquiry_uv_rate">询价转化率</option>
                                        <option value="inquiry_success_uv_rate">询价完成转化率</option>
                                        <option value="submit_inquiry_rate">提交询价率</option>
                                        <option value="submit_uv_rate">提交转化率</option>
                                        <option value="submit_success_cnt">订单提交量</option>
                                        <option value="trade_success_cnt">订单成交量</option>
                                        <option value="trade_submit_rate">成交提交率</option>
                                        <option value="trade_num">成交金额</option>
                                        <option value="per_trade_num">客单价</option>
                                    </select>
                                </div>
                                <div class="col-xs-12 col-md-12 col-sm-12" id="uvlinechart" style="height: 600px">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


               <div class="row box box-primary" style="width: auto;">
                    <div class="box-header with-border">
                        <h3 class="box-title" style="border-style: none;font-weight: bold">数据细分</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="row" style="">
                            <div  class="col-md-12 col-sm-12 col-xs-12" >
                                <table id="marketingWebTrafficDataTable"
                                       data-toggle="table"
                                       data-show-export="true"
                                       data-pagination="true"
                                       data-click-to-select="true"
                                >
                                </table>
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                </div>


                <div class="row box box-primary" style="width: auto;">
                    <div class="box-header with-border">
                        <h3 class="box-title" style="border-style: none;font-weight: bold">综合日报</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="row" style="">
                            <div  class="col-md-12 col-sm-12 col-xs-12" >
                                <table id="marketingSummaryWebTrafficDataTable"
                                       data-toggle="table"
                                       data-show-export="true"
                                       data-pagination="true"
                                       data-click-to-select="true"
                                >
                                </table>
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                </div>
            </div>
            <div style="text-align: center;margin-top: 150px" id="loading">
                <img src="/images/loading.gif">
            </div>
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->

</template>