<template name="afterDealDashboard">
    <style>
        .spa{
            letter-spacing: 3px;
        }
        .for-num {
            font-size: 18px;
            font-weight: bold;
        }

        @media (min-width: 768px){
            .re-modal-dialog {
                width: 85%;
                margin: 30px auto;
            }
        }

        /*数字区域加载动画css*/
        .spinner {
            width: 100px;
            text-align: center;
            margin: 0 auto;
        }

        .spinner > div {
            width: 10px;
            height: 10px;
            background-color: #747474;

            border-radius: 100%;
            display: inline-block;
            -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
            animation: bouncedelay 1.4s infinite ease-in-out;
            /* Prevent first frame from flickering when animation starts */
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
        }

        .spinner .bounce1 {
            -webkit-animation-delay: -0.32s;
            -moz-animation-delay: -0.32s;
            -ms-animation-delay: -0.32s;
            -o-animation-delay: -0.32s;
            animation-delay: -0.32s;
        }

        .spinner .bounce2 {
            -webkit-animation-delay: -0.16s;
            -moz-animation-delay: -0.16s;
            -ms-animation-delay: -0.16s;
            -o-animation-delay: -0.16s;
            animation-delay: -0.16s;
        }

        @-webkit-keyframes bouncedelay {
            0%, 80%, 100% { -webkit-transform: scale(0.0) }
            40% { -webkit-transform: scale(1.0) }
        }

        @-moz-keyframes bouncedelay {
            0%, 80%, 100% { -moz-transform: scale(0.0) }
            40% { -moz-transform: scale(1.0) }
        }

        @-ms-keyframes bouncedelay {
            0%, 80%, 100% { -ms-transform: scale(0.0) }
            40% { -ms-transform: scale(1.0) }
        }

        @-o-keyframes bouncedelay {
            0%, 80%, 100% { -o-transform: scale(0.0) }
            40% { -o-transform: scale(1.0) }
        }

        @keyframes bouncedelay {
            0%, 80%, 100% {
                transform: scale(0.0);
                -webkit-transform: scale(0.0);
                -moz-transform: scale(0.0);
                -ms-transform: scale(0.0);
                -o-transform: scale(0.0);
            } 40% {
                  transform: scale(1.0);
                  -webkit-transform: scale(1.0);
                  -moz-transform: scale(0.0);
                  -ms-transform: scale(0.0);
                  -o-transform: scale(0.0);
              }
        }



        .body-div-pro{
            border-top:1px solid #eee;border-top-width:5px;
        }

        .info-box-resize{
            height:45px;min-height:45px;
        }

        .info-box-icon-resize{
            height:45px;line-height:45px;
        }

        .bg-green-resize{
            background-color: #3c8dbc !important;
        }

        @media screen and (max-width:1600px) {
            .re-modal-content{
                overflow-y:auto;max-height:500px;
            }

            .description-fo-title {
                font-size:10px;
                color: #3e3e3e;
                font-weight: BOLD;
            }
            .description-fo {
                font-size:12px;
                /*color:#999;*/
                font-weight: BOLD;
            }
            .box-title-resize {
                font-size:12px !important;
                font-weight: bold;
            }
            .box-subtitle-resize {
                font-size:12px !important;
                font-weight: bold;
            }
            .h1-resize{
                position:relative;font-size:12px;font-weight:600;width:180px;
            }
        }

        /*大于1600px*/
        /*数字区域加载动画css结束*/
        @media screen and (min-width:1600px) {
            .re-modal-content{
                overflow-y:auto;max-height:700px;
            }

            .description-fo-title {
                font-size:14px;
                color:#3e3e3e;
                font-weight: BOLD;
            }

            .description-fo {
                font-size:18px;
                /*color: #259987;*/
                /*font-weight: BOLD;*/
                font-weight: bold;
            }
            .box-title-resize {
                font-size:18px !important;
                font-weight: bold;
            }
            .box-subtitle-resize {
                font-size:15px !important;
                font-weight: bold;
            }
            .h1-resize{
                position:relative;font-size:18px;font-weight:600;width:180px;
            }
        }

    </style>
    <div class="content">
        <section class="content" style="background:#eee;">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-solid">
                        <div class="box-header">
                            <h5 class="box-title box-subtitle-resize"> </h5>
                            <div class="box-tools pull-right">
                                <h5 class="description-header" style="text-align:right;margin-right:15px;"><span style="font-size:12px;">　更新频率：30分钟</span></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="box box-solid">
                        <div class="box-header">
                            <i class="fa fa-bar-chart-o"></i>
                            <h3 class="box-title box-subtitle-resize">实时成交订单数据</h3>
                        </div>

                        <div class="box-body body-div-pro">
                            <div class="row">

                                <div class="col-md-6 col-sm-6 col-xs-6 border-right" style="display: block;">
                                    <div class="description-block">
                                        <span class="description-text"><span class="description-fo-title">今时今日</span></span>
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-6 col-xs-6 border-right" style="display: block;">
                                    <div class="description-block">
                                        <span class="description-text"><span class="description-fo-title">昨日同时</span></span>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="box-body body-div-pro">
                            <div class="row">

                                <div class="col-md-6 col-sm-6 col-xs-6 border-right" id="currentSuccessNumLoadingPanel" style="display: none;">
                                    <div class="description-block">
                                        <div class="spinner">
                                            <div class="bounce1"></div>
                                            <div class="bounce2"></div>
                                            <div class="bounce3"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 border-right" id="currentSuccessNumPanel" style="display: block;">
                                    <div class="description-block">
                                        <span class="description-text"><span class="description-fo" id="currentSuccessNum">0</span></span>
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-6 col-xs-6 border-right" id="lastSuccessNumLoadingPanel" style="display: none;">
                                    <div class="description-block">
                                        <div class="spinner">
                                            <div class="bounce1"></div>
                                            <div class="bounce2"></div>
                                            <div class="bounce3"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 border-right" id="lastSuccessNumPanel" style="display: block;">
                                    <div class="description-block">
                                        <span class="description-text"><span class="description-fo" id="lastSuccessNum">0</span></span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="box box-solid">
                        <div class="box-header">
                            <i class="fa fa-bar-chart-o"></i>
                            <h3 class="box-title box-subtitle-resize">实时成交金额数据</h3>
                        </div>

                        <div class="box-body body-div-pro">
                            <div class="row">

                                <div class="col-md-6 col-sm-6 col-xs-6 border-right" style="display: block;">
                                    <div class="description-block">
                                        <span class="description-text"><span class="description-fo-title">今时今日</span></span>
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-6 col-xs-6 border-right" style="display: block;">
                                    <div class="description-block">
                                        <span class="description-text"><span class="description-fo-title">昨日同时</span></span>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="box-body body-div-pro">
                            <div class="row">

                                <div class="col-md-6 col-sm-6 col-xs-6 border-right" id="currentSuccessAmountLoadingPanel" style="display: none;">
                                    <div class="description-block">
                                        <div class="spinner">
                                            <div class="bounce1"></div>
                                            <div class="bounce2"></div>
                                            <div class="bounce3"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 border-right" id="currentSuccessAmountPanel" style="display: block;">
                                    <div class="description-block">
                                        <span class="description-text"><span class="description-fo" id="currentSuccessAmount">0</span></span>
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-6 col-xs-6 border-right" id="lastSuccessAmountLoadingPanel" style="display: none;">
                                    <div class="description-block">
                                        <div class="spinner">
                                            <div class="bounce1"></div>
                                            <div class="bounce2"></div>
                                            <div class="bounce3"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 border-right" id="lastSuccessAmountPanel" style="display: block;">
                                    <div class="description-block">
                                        <span class="description-text"><span class="description-fo" id="lastSuccessAmount">0</span></span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!---->
            <!--提交图表-->
            <div class="row">
                <div class="col-md-6">
                    <div class="box box-solid">
                        <div class="box-header">
                            <i class="fa fa-bar-chart-o"></i>

                            <h3 class="box-title box-subtitle-resize">渠道来源</h3>

                            <div class="box-tools pull-right">

                            </div>
                        </div>
                        <div class="box-body">
                            <div class="chart tab-pane active" id="sourceNumChart" style="position: relative; height: 300px;"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="box box-solid">
                        <div class="box-header">
                            <i class="fa fa-bar-chart-o"></i>

                            <h3 class="box-title box-subtitle-resize">渠道来源</h3>

                            <div class="box-tools pull-right">

                            </div>
                        </div>
                        <div class="box-body">
                            <div class="chart tab-pane active" id="sourceAmountChart" style="position: relative; height: 300px;"></div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="box box-solid">
                        <div class="box-header">
                            <i class="fa fa-bar-chart-o"></i>

                            <h3 class="box-title box-subtitle-resize">交易方式</h3>

                            <div class="box-tools pull-right">

                            </div>
                        </div>
                        <div class="box-body">
                            <div class="chart tab-pane active" id="methodNumChart" style="position: relative; height: 300px;"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="box box-solid">
                        <div class="box-header">
                            <i class="fa fa-bar-chart-o"></i>

                            <h3 class="box-title box-subtitle-resize">交易方式</h3>

                            <div class="box-tools pull-right">

                            </div>
                        </div>
                        <div class="box-body">
                            <div class="chart tab-pane active" id="methodAmountChart" style="position: relative; height: 300px;"></div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="box box-solid">
                        <div class="box-header">
                            <i class="fa fa-bar-chart-o"></i>

                            <h3 class="box-title box-subtitle-resize">商品品类</h3>

                            <div class="box-tools pull-right">

                            </div>
                        </div>
                        <div class="box-body">
                            <div class="chart tab-pane active" id="categoryNumChart" style="position: relative; height: 300px;"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="box box-solid">
                        <div class="box-header">
                            <i class="fa fa-bar-chart-o"></i>

                            <h3 class="box-title box-subtitle-resize">商品品类</h3>

                            <div class="box-tools pull-right">

                            </div>
                        </div>
                        <div class="box-body">
                            <div class="chart tab-pane active" id="categoryAmountChart" style="position: relative; height: 300px;"></div>
                        </div>
                    </div>

                </div>
            </div>
            <!--成交图表-->
            <div class="row">
                <div class="col-md-6">
                    <div class="box box-solid">
                        <div class="box-header">
                            <i class="fa fa-bar-chart-o"></i>

                            <h3 class="box-title box-subtitle-resize">门店订单</h3>

                            <div class="box-tools pull-right">

                            </div>
                        </div>
                        <div class="box-body">
                            <div class="chart tab-pane active" id="storeNumChart" style="position: relative; height: 300px;"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="box box-solid">
                        <div class="box-header">
                            <i class="fa fa-bar-chart-o"></i>

                            <h3 class="box-title box-subtitle-resize">门店订单</h3>

                            <div class="box-tools pull-right">

                            </div>
                        </div>
                        <div class="box-body">
                            <div class="chart tab-pane active" id="storeAmountChart" style="position: relative; height: 300px;"></div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="box box-solid">
                        <div class="box-header">
                            <i class="fa fa-bar-chart-o"></i>

                            <h3 class="box-title box-subtitle-resize">上门订单</h3>

                            <div class="box-tools pull-right">

                            </div>
                        </div>
                        <div class="box-body">
                            <div class="chart tab-pane active" id="indoorNumChart" style="position: relative; height: 300px;"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="box box-solid">
                        <div class="box-header">
                            <i class="fa fa-bar-chart-o"></i>

                            <h3 class="box-title box-subtitle-resize">上门订单</h3>

                            <div class="box-tools pull-right">

                            </div>
                        </div>
                        <div class="box-body">
                            <div class="chart tab-pane active" id="indoorAmountChart" style="position: relative; height: 300px;"></div>
                        </div>
                    </div>

                </div>
            </div>
            <!---->
            <!-- 弹框 -->
            <div>
                <div class="modal fade" id="myWarnModal" tabindex="-1" role="dialog" aria-labelledby="myWarnModalLabel" aria-hidden="true">
                    <div class="modal-dialog re-modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                                </button>
                                <h4 class="modal-title" id="myWarnModalLabel">

                                </h4>
                            </div>
                            <div class="modal-body re-modal-content">
                                <!--content开始-->
                                <div name="showContent">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="chart tab-pane active" id="cityNumChart" style="position: relative; height: 650px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>
