<template name="realtimeTrafficUv">
    <!-- Content Wrapper. Contains page content -->
    <div class="content">
        <!-- Main content -->
        <section class="content">

            <!-- Your Page Content Here -->
            <div class="template-dashboard content body">
                <!--<div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title" style="border-style: none;font-weight: bolder">实时提交订单数据</h3>
                    </div>
                    <div class="box-body">

                    </div>
                </div>-->
                <div class="row" style="border: solid 1px gray;border-radius: 10px;">
                    <div id="currentUvChart" class="col-md-6 col-sm-6 col-xs-12"
                         style="height:400px"></div>
                    <div id="realtimeUvChart" class="col-md-6 col-sm-6 col-xs-12"
                         style="height:400px"></div>
                </div>

                <div class="row" style="border: solid 1px gray;border-radius: 10px;padding:15px">
                    <div  class="col-md-12 col-sm-12 col-xs-12" >
                        <label>请选择渠道:</label>
                        <select id="channel" style="width:130px;border-radius: 4px;padding: 6px 12px;">
                            <option value="1">官网</option>
                            <option value="6">官网M版</option>
                            <option value="9">口袋优品</option>
                            <option value="10">口袋优品M版</option>
                            <option value="14">安卓APP</option>
                            <option value="17">IOS APP</option>
                            <option value="18">爱租赁</option>
                        </select>
                    </div>
                    <div  class="col-md-6 col-sm-6 col-xs-12">

                        <!--<div style="margin-left: 50px;">
                            <label>请选择渠道:</label>
                            <select id="source" style="width:130px;border-radius: 4px;padding: 6px 12px;">
                                <option value="1">官网</option>
                                <option value="6">官网M版</option>
                                <option value="9">口袋优品</option>
                                <option value="10">口袋优品M版</option>
                                <option value="14">安卓APP</option>
                                <option value="18">爱租赁</option>
                            </select>
                        </div>-->
                        <div id="realtimeSourceUvChart"
                             style="height:400px"></div>
                    </div>
                    <div  class="col-md-6 col-sm-6 col-xs-12">

                        <!--<div style="margin-left: 50px;">
                            <label>请选择渠道:</label>
                            <select id="keyword" style="width:130px;border-radius: 4px;padding: 6px 12px;">
                                <option value="1">官网</option>
                                <option value="6">官网M版</option>
                                <option value="9">口袋优品</option>
                                <option value="10">口袋优品M版</option>
                                <option value="18">爱租赁</option>
                            </select>
                        </div>-->
                        <div id="realtimeKeywordUvChart"
                             style="height:400px"></div>
                    </div>
                    <div  class="col-md-12 col-sm-12 col-xs-12">

                        <!--<div style="margin-left: 50px;">
                            <label>请选择渠道:</label>
                            <select id="hotPage" style="width:130px;border-radius: 4px;padding: 6px 12px;">
                                <option value="1">官网</option>
                                <option value="6">官网M版</option>
                                <option value="9">口袋优品</option>
                                <option value="10">口袋优品M版</option>
                                <option value="14">安卓APP</option>
                                <option value="17">IOS APP</option>
                                <option value="18">爱租赁</option>
                            </select>
                        </div>-->
                        <!--<div id="realtimeHotPageUvChart"
                             style="height:400px"></div>-->
                        <div style="text-align: center;font-size: 16pt;"><label>主要活动页面</label></div>
                        <table id="table">
                        </table>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12" >
                        <div id="realtimeMapUvCount" style="height:800px"></div>
                    </div>
                </div>

                <div class="row">

                </div>

                <!--<div class="row">

                </div>-->
            </div>

        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
</template>



