<template name="JDRiskOrderTempl">
    <!-- Content Wrapper. Contains page content -->
    <div class="content">
        <!-- Main content -->
        <section class="content">

            <div class="row box box-primary" style="width: auto;margin-left: 0px;">
                <div class="box-header with-border">
                    <h3 class="box-title" style="border-style: none;font-weight: bold">信用回收</h3>

                </div><!-- /.box-header -->
                <div class="box-body">

                        <table id="creditTable" class="table table-striped"
                               data-toggle="table"
                               data-show-export="true"
                               data-pagination="true"
                               data-click-to-select="true">

                        </table>

                </div>
            </div>

            <div class="row box box-primary" style="width: auto;margin-left: 0px;">
                <div class="box-header with-border">
                    <h3 class="box-title" style="border-style: none;font-weight: bold">以旧换新</h3>

                </div><!-- /.box-header -->
                <div class="box-body">

                    <table id="TradeInAllowanceTable" class="table table-striped"
                           data-toggle="table"
                           data-show-export="true"
                           data-pagination="true"
                           data-click-to-select="true">

                    </table>

                </div>
            </div>

        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
</template>