<template name="VenderTransDepartMSTR">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
            <div class="row col-md-12 col-sm-12 col-xs-12">
                <span style="color: red;font-weight: bold">刷新页面(F5)即可回到本部门报表首页。</span>
            </div>
            <div class="row col-md-12 col-sm-12 col-xs-12" id="mainIFrame-wrapper" style="overflow:auto;">
                <iframe id="mainIFrame"
                        name="mainIFrame"
                        frameborder="no"
                        width="1800"
                        height="1000"
                        scrolling="yes"
                        src="" ></iframe>
            </div>
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
</template>