<template name="KAVenderBussinessAnalysis">
    <!-- Content Wrapper. Contains page content -->
    <!--<div class="content">-->
        <!-- Main content -->
        <section class="content" style="background-color: white">

            <!-- Your Page Content Here -->

            <div class="template-dashboard content body">

                <div class="row desktop-only c-border">
                    <!--<div class="tempExplain"><label id="templabel" style="margin-left: 1%;font-weight:bold;">注：用户在浏览过程中访问过活动页面，就算活动引来的量</label></div>-->
                    <div class=" col-md-12 col-sm-12 col-xs-12 ">
                        <span>请选择查看类型:</span>
                        <select  class="dateType" style="width: 150px;height: 34px;border-radius: 4px;padding: 6px 12px;">
                            <option value="daily">按日期选择</option>
                            <option value="weekly">按周选择</option>
                            <option value="monthly">按月选择</option>
                        </select>
                        <button type="button" class="daily btn btn-default webTrafficFunnelDate"  style="border: 1px gray solid;width:240px;background-color:white">
                            <i class="fa fa-calendar"></i>
                            <span class="dateSelectLabel"></span>
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <button type="button" class="daily btn btn-default webTrafficFunnelWeek"  style="border: 1px gray solid;width:240px;background-color:white">
                            <i class="fa fa-calendar"></i>
                            <span class="weekSelectLabel"></span>
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <button type="button" class="daily btn btn-default webTrafficFunnelMonth"  style="border: 1px gray solid;width:240px;background-color:white">
                            <i class="fa fa-calendar"></i>
                            <span class="monthSelectLabel"></span>
                            <i class="fa fa-caret-down"></i>
                        </button>

                        <button class="btn btn-primary search">查询</button>
                    </div>
                </div>
                <div class="row mobile-only desktop-none ">
                    <!--<div class="tempExplain"><label id="templabel" style="margin-left: 1%;font-weight:bold;">注：用户在浏览过程中访问过活动页面，就算活动引来的量</label></div>-->
                    <div class=" col-md-12 col-sm-12 col-xs-12 ">
                        <span>请选择查看类型:</span>
                        <select  class="dateType" style="width: 150px;height: 34px;border-radius: 4px;padding: 6px 12px;">
                            <option value="daily">按日期选择</option>
                            <option value="weekly">按周选择</option>
                            <option value="monthly">按月选择</option>
                        </select>
                        <button type="button" class="daily btn btn-default webTrafficFunnelDate"  style="border: 1px gray solid;width:240px;background-color:white">
                            <i class="fa fa-calendar"></i>
                            <span class="dateSelectLabel"></span>
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <button type="button" class="daily btn btn-default webTrafficFunnelWeek"  style="border: 1px gray solid;width:240px;background-color:white">
                            <i class="fa fa-calendar"></i>
                            <span class="weekSelectLabel"></span>
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <button type="button" class="daily btn btn-default webTrafficFunnelMonth"  style="border: 1px gray solid;width:240px;background-color:white">
                            <i class="fa fa-calendar"></i>
                            <span class="monthSelectLabel"></span>
                            <i class="fa fa-caret-down"></i>
                        </button>


                        <button class="btn btn-primary search">查询</button>
                    </div>
                </div>


                <div class="row box box-primary" style="width: auto; margin-top:25px">
                    <div class="box-body">
                        <div id="chartContent">

                            <div class="row" style="background-color: white">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <table class="cell-border"
                                           data-show-export="true"
                                           data-toggle="table"
                                           data-pagination="true"
                                           data-click-to-select="true"
                                           id="BussinessDataTable">

                                        <thead>
                                        <tr>
                                            <th data-field="registerCnt" data-sortable="true">注册门店(家)</th>
                                            <th data-field="liveGroupCnt" data-sortable="true">活跃门店(家)</th>
                                            <th data-field="zeroGroupCnt" data-sortable="true">0订单门店(家)</th>
                                            <th data-field="loginCnt" data-sortable="true">未登录APP子账户(个)</th>
                                            <th data-field="orderCnt" data-sortable="true">累计回收订单(台)</th>
                                            <th data-field="orderNum" data-sortable="true">累计回收额(元)</th>
                                            <th data-field="newOrderCnt" data-sortable="true">以旧换新订单(台)</th>
                                            <th data-field="newOrderRate" data-sortable="true">以旧换新比率</th>
                                            <th data-field="inspectionSuccessNum" data-sortable="true">累计验货成功回收额(元)</th>
                                            <th data-field="inspectNum" data-sortable="true">累计差异额(元)</th>
                                            <th data-field="errorRate" data-sortable="true">累计失误率</th>
                                            <th data-field="frozenNum" data-sortable="true">冻结资金(元)</th>
                                            <th data-field="differNum" data-sortable="true">特殊豁免旧机差额(元)</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div><!-- /.box-body -->
                </div>

                <div style="text-align: center;margin-top: 150px" id="loading">
                    <img src="/images/loading.gif">
                </div>
            </div>



        </section><!-- /.content -->
    <!--</div>&lt;!&ndash; /.content-wrapper &ndash;&gt;-->
</template>
