<template name="VenderOrderLostAnalysis">
    <!-- Content Wrapper. Contains page content -->
    <!--<div class="content">-->
        <!-- Main content -->
        <section class="content" style="background-color: white">

            <!-- Your Page Content Here -->

            <div class="template-dashboard content body">

                <div class="row desktop-only c-border">
                    <!--<div class="tempExplain"><label id="templabel" style="margin-left: 1%;font-weight:bold;">注：用户在浏览过程中访问过活动页面，就算活动引来的量</label></div>-->
                    <div class=" col-md-12 col-sm-12 col-xs-12 ">
                        <span>请选择查看类型:</span>
                        <select  class="dateType" style="width: 150px;height: 34px;border-radius: 4px;padding: 6px 12px;">
                            <option value="daily">按日期选择</option>
                            <option value="weekly">按周选择</option>
                            <option value="monthly">按月选择</option>
                        </select>
                        <button type="button" class="daily btn btn-default webTrafficFunnelDate"  style="border: 1px gray solid;width:240px;background-color:white">
                            <i class="fa fa-calendar"></i>
                            <span class="dateSelectLabel"></span>
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <button type="button" class="daily btn btn-default webTrafficFunnelWeek"  style="border: 1px gray solid;width:240px;background-color:white">
                            <i class="fa fa-calendar"></i>
                            <span class="weekSelectLabel"></span>
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <button type="button" class="daily btn btn-default webTrafficFunnelMonth"  style="border: 1px gray solid;width:240px;background-color:white">
                            <i class="fa fa-calendar"></i>
                            <span class="monthSelectLabel"></span>
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <span>请选择省份:</span>
                        <select  class="province c-mleft5" style="margin-left: 28px;width:100px;border-radius: 4px;padding: 6px 12px;">
                        </select>
                        <span class="cityOption">市:</span>
                        <select  class="city c-mleft5" style="margin-left: 28px;width:100px;border-radius: 4px;padding: 6px 12px;">
                        </select>
                        <span class="districtOption">县区:</span>
                        <select class="district c-mleft5" style="margin-left: 28px;width:100px;border-radius: 4px;padding: 6px 12px;">
                        </select>
                        <span class="venderOption">请选择客户:</span>
                        <select  class="vender c-mleft5" style="margin-left: 45px;width:150px;border-radius: 4px;padding: 6px 12px;">
                        </select>
                        <span class="groupOption">请选择门店:</span>
                        <select class="group c-mleft5" style="margin-left: 28px;width:150px;border-radius: 4px;padding: 6px 12px;">
                        </select>

                        <button class="btn btn-primary search">查询</button>
                        <a href="#" class="glyphicon glyphicon-question-sign pull-right" style="margin-top:1%;margin-bottom: 1%;" data-toggle="tooltip"
                           title="说明：&#10;数据包含有imei号且询价金额大于5"></a>
                    </div>
                </div>
                <div class="row mobile-only desktop-none ">
                    <!--<div class="tempExplain"><label id="templabel" style="margin-left: 1%;font-weight:bold;">注：用户在浏览过程中访问过活动页面，就算活动引来的量</label></div>-->
                    <div class=" col-md-12 col-sm-12 col-xs-12 ">
                        <span>请选择查看类型:</span>
                        <select  class="dateType" style="width: 150px;height: 34px;border-radius: 4px;padding: 6px 12px;">
                            <option value="daily">按日期选择</option>
                            <option value="weekly">按周选择</option>
                            <option value="monthly">按月选择</option>
                        </select>
                        <button type="button" class="daily btn btn-default webTrafficFunnelDate"  style="border: 1px gray solid;width:240px;background-color:white">
                            <i class="fa fa-calendar"></i>
                            <span class="dateSelectLabel"></span>
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <button type="button" class="daily btn btn-default webTrafficFunnelWeek"  style="border: 1px gray solid;width:240px;background-color:white">
                            <i class="fa fa-calendar"></i>
                            <span class="weekSelectLabel"></span>
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <button type="button" class="daily btn btn-default webTrafficFunnelMonth"  style="border: 1px gray solid;width:240px;background-color:white">
                            <i class="fa fa-calendar"></i>
                            <span class="monthSelectLabel"></span>
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div>
                            <span>请选择省份:</span>
                            <select  class="province c-mleft5" style="margin-left: 28px;width:100px;border-radius: 4px;padding: 6px 12px;">
                            </select>
                        </div>
                    <div class="">
                        <span class="cityOption">地市:</span>
                        <select  class="city c-mleft5" style="margin-left: 28px;width:100px;border-radius: 4px;padding: 6px 12px;">
                        </select>
                    </div>

                    <div>
                        <span class="districtOption">县区:</span>
                        <select class="district c-mleft5" style="margin-left: 28px;width:100px;border-radius: 4px;padding: 6px 12px;">
                        </select>
                    </div>

                    <div class="">
                        <span class="venderOption">请选择客户:</span>
                        <select  class="vender c-mleft5" style="margin-left: 45px;width:150px;border-radius: 4px;padding: 6px 12px;">
                        </select>
                    </div>

                    <div>
                        <span class="groupOption">请选择门店:</span>
                        <select class="group c-mleft5" style="margin-left: 28px;width:150px;border-radius: 4px;padding: 6px 12px;">
                        </select>
                    </div>

                        <button class="btn btn-primary search">查询</button>
                    </div>
                </div>


                <div class="row box box-primary" style="width: auto; margin-top:25px">
                    <div class="box-body">
                        <div id="chartContent">

                            <div class="row" style="background-color: white">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <table class="cell-border"
                                           data-show-export="true"
                                           data-toggle="table"
                                           data-pagination="true"
                                           data-click-to-select="true"
                                           id="BussinessDataTable">

                                        <thead>
                                        <tr>
                                            <th data-field="vender_group_province_name" data-sortable="true">省份</th>
                                            <th data-field="vender_group_city_name" data-sortable="true">地市</th>
                                            <th data-field="vender_group_district_name" data-sortable="true">县区</th>
                                            <th data-field="vender_parent_name" data-sortable="true">客户名称</th>
                                            <th data-field="vender_group_name" data-sortable="true">门店名称</th>
                                            <th data-field="inqueryCnt" data-sortable="true">累计询价次数（次）</th>
                                            <th data-field="inqueryNum" data-sortable="true">累计询价金额（元）</th>
                                            <th data-field="submitCnt" data-sortable="true">实际下单数量（台）</th>
                                            <th data-field="submitNum" data-sortable="true">实际下单金额（元）</th>
                                            <th data-field="differCnt" data-sortable="true">询价下单差异量（台）</th>
                                            <th data-field="differNum" data-sortable="true">询价下单差异金额（元）</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div><!-- /.box-body -->
                </div>

                <div style="text-align: center;margin-top: 150px" id="loading">
                    <img src="/images/loading.gif">
                </div>
            </div>



        </section><!-- /.content -->
    <!--</div>&lt;!&ndash; /.content-wrapper &ndash;&gt;-->
</template>
