<template name="embedControl">
    <!-- Content Wrapper. Contains page content -->
    <!--<div class="content">-->
    <!-- Main content -->
    <section class="content" style="background-color: white">

        <!-- Your Page Content Here -->

        <div class="template-dashboard content body">

            <div class="row box box-primary" style="width: auto; margin-top:25px">
                <div class="box-body">
                    <div id="chartContent">

                        <div class="row" style="background-color: white">
                            <div class="col-sm-offset-2 col-md-offset-2 col-md-10 col-sm-10 col-xs-10">
                                <table class="table">
                                    <caption>嵌入页面管理</caption>
                                    <thead>
                                    <tr>
                                        <th>爱机汇代理商页面</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td><a href="/vender/venderFinance/2854/成都英普瑞生通讯设备有限公司/3">爱机汇月度财务报表</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="/vender/VenderBussinessAnalysis/8/成都英普瑞生通讯设备有限公司">爱机汇运营数据分析</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="/vender/VenderIncomeAnalysis/8/成都英普瑞生通讯设备有限公司">爱机汇收益分析</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="/vender/VenderErrorRateAnalysis/8/成都英普瑞生通讯设备有限公司">爱机汇失误率分析</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="/vender/VenderOrderLostAnalysis/8/成都英普瑞生通讯设备有限公司">煮熟的鸭子飞了</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="/vender/VenderQualityErrorAnalysis/8/成都英普瑞生通讯设备有限公司">爱机汇子账户质检失误统计</a></td>
                                    </tr>
                                    </tbody>
                                    <thead>
                                    <tr>
                                        <th>爱机汇KA页面</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td><a href="/vender/VenderOrderStatistics/3106/成都联创杭瑞科技有限公司">爱机汇KA订单统计</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="/vender/KAVenderBussinessAnalysis/5303/成都讯捷通讯连锁有限公司">爱机汇KA运营数据分析</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="/vender/KAVenderOrderLostAnalysis/5303/成都讯捷通讯连锁有限公司">KA煮熟的鸭子飞了</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="/vender/KAVenderQualityErrorAnalysis/5303/成都讯捷通讯连锁有限公司">爱机汇KA子账户质检失误统计</a></td>
                                    </tr>
                                    </tbody>

                                    <thead>
                                    <tr>
                                        <th>嵌入</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <!--/customer/intelligenceShop/1505/黄思浩-->
                                        <td><a href="/customer/intelligenceShop/1505/黄思浩">智能门店</a></td>
                                    </tr>
                                    <tr>
                                        <!--/area/dealSmartShopReport/1505/黄思浩-->
                                        <td><a href="/area/dealSmartShopReport/1505/黄思浩">智能门店实时数据</a></td>
                                    </tr>
                                    <tr>
                                        <!--/area/coupon/黄思浩/1505-->
                                        <td><a href="/area/coupon/黄思浩/1505">大区优惠券分析页面</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
