<template name="ETLJobList">
    <div class="content">
        <section class="content">
            <div class="template-dashboard content body">
                <div class="row" style="background-color:white">
                    <!--<div id = "ETLJobVisualize" class="col-md-12 col-sm-12 col-xs-12"
                    style="height:500px">
                </div>-->
                        <div class="form-group col-md-3 col-sm-6 col-xs-12">
                            <label for="jobid">JobID:</label>
                            <input type="text" class="form-control" id="jobid">
                        </div>
                        <div class="form-group col-md-3 col-sm-6 col-xs-12">
                            <label for="jobsid">JobSubID:</label>
                            <input type="text" class="form-control" id="jobsid">
                        </div>
                        <div class="form-group col-md-3 col-sm-6 col-xs-12">
                            <label for="joborder">Priority:</label>
                            <input type="text" class="form-control" id="joborder">
                        </div>
                        <div class="form-group col-md-3 col-sm-6 col-xs-12">
                            <label for="jobname">JobName:</label>
                            <input type="text" class="form-control" id="jobname">
                        </div>
                        <button id="add" class="btn btn-default col-md-12 col-sm-12 col-xs-12">增加数据</button>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div id="toolbar" class="col-md-12 col-sm-12 col-xs-12">
                            <button id="remove" class="btn btn-default col-md-4 col-sm-4 col-xs-4">删除选中项</button>
                            <button id="Submit" class="btn btn-default col-md-4 col-sm-4 col-xs-4">提交更改</button>
                            <button id="refresh" class="btn btn-default col-md-4 col-sm-4 col-xs-4">刷新数据</button>
                        </div>
                        <table id="ETLJobData" class="cell-border" 
                            data-show-export="true"
                            data-toolbar="#toolbar" >
                            <thead>
                                <tr>
                                    <th data-field="state" data-checkbox="true"></th>
                                    <th data-field="_id" data-editable="false" data-sortable="true">InternalID</th>
                                    <th data-field="id" data-editable="true" data-sortable="true">JobID</th>
                                    <th data-field="sid" data-editable="true" data-sortable="true">JobSubID</th>
                                    <th data-field="order" data-editable="true" data-sortable="true">JobPriority</th>
                                    <th data-field="name" data-editable="true" data-sortable="true">JobName</th>
                                    <th data-field="LastModified" data-editable="false" data-sortable="true">LastModifiedTime</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>