<template name="ReptilianMonitoring">
    <!-- Content Wrapper. Contains page content -->
    <div class="content" style="background:#fff;">
        <!-- Main content -->
        <section class="content" style="background:#fff;">
            <!--爬虫日志监控title-->
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h1 style="position:relative;margin-bottom: 30px;font-size:18px;font-weight:600;width:180px;">
                        <img class="img-rounded" src="/assets/icon/shugang.png" width="40px" height="20px" alt=""/>
                        爬虫日志监控
                    </h1>
                    <hr>
                </div>
            </div>

            <!--爬虫日志监控-->
            <div class="row" style="width:100%;position:relative;margin:0 auto;background:#f9f9f9;padding-top:10px;">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <!--<div id="reptilianMonitoringChart" style="height:500px;"></div>-->
                    <iframe id="zeroIframe"
                            name="zeroIframe"
                            frameborder="no"
                            width="100%"
                            height="1700"
                            font-style="color: #FFF"
                            scrolling="yes"
                            src="http://10.81.65.163:3000/"></iframe>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h1 style="position:relative;margin-bottom: 30px;font-size:18px;font-weight:600;width:180px;">

                    </h1>
                    <hr>
                </div>
            </div>

            <!--爬虫日志监控-->
            <div class="row" style="width:100%;position:relative;margin:0 auto;background:#f9f9f9;padding-top:10px;">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <iframe id="firstIframe"
                            name="firstIframe"
                            frameborder="no"
                            width="100%"
                            height="1100"
                            font-style="color: #FFF"
                            scrolling="yes"
                            src="http://10.81.70.97:8036"></iframe>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h1 style="position:relative;margin-bottom: 30px;font-size:18px;font-weight:600;width:180px;">

                    </h1>
                    <hr>
                </div>
            </div>

            <!--爬虫日志监控-->
            <div class="row" style="width:100%;position:relative;margin:0 auto;background:#f9f9f9;padding-top:10px;">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <iframe id="secondIframe"
                            name="secondIframe"
                            frameborder="no"
                            width="100%"
                            height="1100"
                            font-style="color: #FFF"
                            scrolling="yes"
                            src="http://10.81.65.163:8036/"></iframe>
                </div>
            </div>

        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
</template>