<template name="toastTipsTmpl">
    <div class="content">
        <section class="content">
            <div class="template-dashboard content body">
                <div class="row" style="background-color:white">
                    <!--<div id = "ETLJobVisualize" class="col-md-12 col-sm-12 col-xs-12"
                    style="height:500px">
                </div>-->
                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                            <label for="tips">tips:</label>
                            <input type="text" class="form-control" id="tips">
                        </div>
                        <button id="add" class="btn btn-default col-md-12 col-sm-12 col-xs-12">增加数据</button>
                    <div class="col-md-12 col-sm-12 col-xs-12">

                        <table id="table" class="cell-border"
                            data-show-export="true" 
                            data-toolbar="#toolbar" >

                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>