<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>base</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/static/resources/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/resources/css/base.css"/>
    <link rel="stylesheet" href="/static/resources/css/component.css"/>
    <link rel="stylesheet" href="/static/resources/css/jquery.loadmask.spin.css"/>
    <link rel="stylesheet" href="/static/resources/css/jquery-ui.css"/>
    <link rel="stylesheet" href="/static/resources/css/jquery-ui.structure.css"/>
    <link rel="stylesheet" href="/static/resources/css/jquery-ui.theme.css"/>
    <link href="/static/resources/css/jquery.fancybox.min.css" rel="stylesheet">

    <script type="text/javascript">
        Meteor = {
            isClient: true
        };
        dataService = window.origin + "/watcher";
        mstrHost = "http://47.97.240.5:8080/";
        mstrServer = "iZbp172lfmnsuqa9wsegh2Z";
        davinci = "http://47.97.240.5:8092";
    </script>
    <script src="/static/resources/js/jquery.min.js"></script>
    <script src="/static/resources/js/jquery-migrate-1.2.1.js"></script>
    <script src="/static/resources/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/utils.js"></script>
    <script src="/static/resources/js/vendor.js"></script>
    <script src="/static/resources/js/library.js"></script>
    <!--<script src="/static/resources/js/TweenLite.min.js"></script>-->
    <script src="/static/resources/js/lem_counter.js"></script>
    <!--<script src="/static/resources/js/underscore.js"></script>-->
    <!--<script src="/static/resources/js/echarts.min.js"></script>-->
    <script src="/static/resources/js/component.js"></script>
    <script src="/static/resources/js/moment.min.js"></script>
    <script src="/static/resources/js/daterangepicker.js"></script>
    <script src="/static/resources/js/bootstrap-table.js"></script>
    <script src="/static/resources/js/multiple-select.js"></script>
    <script src="/static/resources/js/china.js"></script>
    <script src="/static/resources/js/jquery.loadmask.spin.js"></script>
    <script src="/static/resources/js/jquery.fancybox.min.js"></script>
    <script src="/static/resources/js/jquery-ui.js"></script>
    <script src="/static/resources/js/Clock.js"></script>
</head>
<body>
<div id="page1">
</div>

<script th:inline="javascript">
    Template = {};
    Template[eval('"' + [[${model.position}]] + '"')] = {};
    var isMapping = [[${is_mapping}]];
    if(isMapping) {
        var value = [[${param_value}]];
        Template[eval('"' + [[${param_key}]] + '"')] = value;
    }
</script>
<script th:src="${model.loadName}" type="text/javascript"></script>
<!--<script th:src="@{/static/davinci/aihuishou/areaCK.js}" type="text/javascript"></script>-->
<script th:inline="javascript">
    $("#page1").load([[${model.staticName}]], function (tpl) {
        $("body").append($("template")[0].content);
        Template[eval('"' + [[${model.position}]] + '"')].rendered();
    });
</script>

</body>
</html>
