<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--<meta http-equiv="Cache-Control" content="public, max-age=31536000" />-->
    <title>爱回收信息管理平台</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/static/resources/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/resources/css/base.css"/>
    <link rel="stylesheet" href="/static/resources/css/component.css"/>
    <!--<link rel="stylesheet" href="/static/resources/css/jquery.loadmask.spin.css"/>-->
    <!--<link rel="stylesheet" href="/static/resources/css/jquery-ui.css"/>-->
    <!--<link rel="stylesheet" href="/static/resources/css/jquery-ui.structure.css"/>-->
    <!--<link rel="stylesheet" href="/static/resources/css/jquery-ui.theme.css"/>-->
    <link href="/static/resources/css/jquery.fancybox.min.css" rel="stylesheet">
    <script>
        (function(para) {
          var p = para.sdk_url, n = para.name, w = window, d = document, s = 'script',x = null,y = null;
          if(typeof(w['sensorsDataAnalytic201505']) !== 'undefined') {
              return false;
          }
          w['sensorsDataAnalytic201505'] = n;
          w[n] = w[n] || function(a) {return function() {(w[n]._q = w[n]._q || []).push([a, arguments]);}};
          var ifs = ['track','quick','register','registerPage','registerOnce','trackSignup', 'trackAbtest', 'setProfile','setOnceProfile','appendProfile', 'incrementProfile', 'deleteProfile', 'unsetProfile', 'identify','login','logout','trackLink','clearAllRegister'];
          for (var i = 0; i < ifs.length; i++) {
            w[n][ifs[i]] = w[n].call(null, ifs[i]);
          }
          if (!w[n]._t) {
            x = d.createElement(s), y = d.getElementsByTagName(s)[0];
            x.async = 1;
            x.src = p;
            w[n].para = para;
            y.parentNode.insertBefore(x, y);
          }
        })({
              sdk_url: '/static/resources/js/sensorsdata.min.js',
              name: 'sensors',
              server_url:'https://bi-log.aihuishou.com/trace/log/ahs',
              //heatmap_url神策分析中点击分析及触达分析功能代码，代码生成工具会自动生成。如果神策代码中 `sensorsdata.min.js` 版本是 1.9.1 及以上版本，这个参数必须配置，低于此版本不需要配置。
              heatmap_url: '/static/resources/js/heatmap.min.js',
              //web_url 神策分析中点击分析及触达分析功能会用到此地址，代码生成工具会自动生成。如果神策后台版本及 `sensorsdata.min.js` 均是 1.10 及以上版本，这个参数不需要配置。
            //   web_url:'',
              heatmap: {
                 //是否开启点击图，默认 default 表示开启，自动采集 $WebClick 事件，可以设置 'not_collect' 表示关闭
                 //需要 JSSDK 版本号大于 1.7
                 clickmap:'default',
                 //是否开启触达注意力图，默认 default 表示开启，自动采集 $WebStay 事件，可以设置 'not_collect' 表示关闭
                 //需要 JSSDK 版本号大于 1.9.1
                scroll_notice_map:'not_collect'
            },
            use_client_time: true
        });
    </script>
    <script>
        let currentUser;
        let currentMenuItem;
        const full_name = window.sessionStorage.getItem('full_name');
        if (window.sessionStorage.getItem('currentMenuItem')) {
            currentMenuItem = JSON.parse(window.sessionStorage.getItem('currentMenuItem'));
            console.log(currentMenuItem, '-currentMenuItem-');
        }
        if (window.sessionStorage.getItem('currentUser')) {
            currentUser = JSON.parse(window.sessionStorage.getItem('currentUser'));
            console.log(window.sessionStorage.getItem('currentUser'), '-currentUser-');
        }
        const { name, obId, employeeNo } = currentUser || {};
        const { auth, component, name: menu_name, path: menu_path } = currentMenuItem || {};
        const trackInfo = {
          user_name: name,
          employee_no:employeeNo,
          menu_name,
          menu_path,
          visit_time: new Date(),
          full_name,
        };
        // if (auth) {
           sensors.quick('autoTrack', {
              platform:'web_pc',
              app_name: 'watcher',
              app_channel: '',
              user_key: obId,
              properties_ext: JSON.stringify(trackInfo)
            });
        // }
    </script>
    <script type="text/javascript">
        Meteor = {
            isClient: true,
            settings: {public: {downloadService: {baseUrl: "https://10.111.74.248/report/nfs/"}}}
        };
        dataService = window.origin + "/watcher";
        thirdService = window.origin + "/third/watcher";
        mstrHost = "https://watcher.intra.aihuishou.com:8810/";
        mstrServer = "iZbp172lfmnsuqa9wsegh2Z";
        davinci = "https://abdavinci.aihuishou.com";
        warning = function(text) {
            zeroModal.error(text);
        };
    </script>
    <!--<script src="/static/resources/js/TweenLite.min.js"></script>-->
    <!--<script src="/static/resources/js/underscore.js"></script>-->
    <!--<script src="/static/resources/js/echarts.min.js"></script>-->

    <!--<script src="/static/resources/js/jquery.min.js"></script>-->
    <!--<script src="/static/resources/js/jquery-migrate-1.2.1.js"></script>-->
    <!--<script src="/static/resources/js/bootstrap.min.js"></script>-->
    <!--<script src="/static/resources/js/vendor.js"></script>-->
    <!--<script src="/static/resources/js/library.js"></script>-->
    <!--<script src="/static/resources/js/lem_counter.js"></script>-->
    <!--<script src="/static/resources/js/component.js"></script>-->
    <!--<script src="/static/resources/js/moment.min.js"></script>-->
    <!--<script src="/static/resources/js/daterangepicker.js"></script>-->
    <!--<script src="/static/resources/js/bootstrap-table.js"></script>-->
    <!--<script src="/static/resources/js/multiple-select.js"></script>-->
    <!--<script src="/static/resources/js/china.js"></script>-->
    <!--<script src="/static/resources/js/jquery.loadmask.spin.js"></script>-->
    <!--<script src="/static/resources/js/jquery.fancybox.min.js"></script>-->
    <!--<script src="/static/resources/js/jquery-ui.js"></script>-->
    <!--<script src="/static/resources/js/Clock.js"></script>-->
    <script type="text/javascript" src="/static/resources/core/base.js"></script>
    <script type="text/javascript" src="/static/resources/core/utils.js"></script>
    <script type="text/javascript" src="/static/resources/js/tableExport.js"></script>
    <script type="text/javascript" src="/static/resources/js/dataExport.js"></script>
</head>
<body>
<div id="page1">
</div>

<script th:inline="javascript">
    Template = {};
    Template[eval('"' + [[${model.position}]] + '"')] = {};
    var isMapping = [[${is_mapping}]];
    if(isMapping) {
        var value = [[${param_value}]];
        Template[eval('"' + [[${param_key}]] + '"')] = value;
    }
</script>
<script th:src="${model.loadName}" type="text/javascript"></script>
<!--<script th:src="@{/static/davinci/aihuishou/areaCK.js}" type="text/javascript"></script>-->
<script th:inline="javascript">
    $("#page1").load([[${model.staticName}]], function (tpl) {
        $("body").append($("template")[0].content);
        Template[eval('"' + [[${model.position}]] + '"')].rendered();
        // window.addEventListener('message', function(rs) {
        //     console.log('子接受的数据:' + rs);
        //     let data = JSON.parse(rs.data);
        //     console.log('子接受的数据data:' + data);
        //     if (rs.origin !== data.parentOrigin){
        //       return
        //     }
        //     console.log('我返回页面高度:' + document.body.scrollHeight);
        //     setTimeout(() => {
        //         rs.source.postMessage(document.body.scrollHeight,rs.origin)
        //     }, 1000);
        // })
        setTimeout(() => {
            window.parent.postMessage(document.body.scrollHeight,'*')
        }, 1000);
        setTimeout(() => {
            window.parent.postMessage(document.body.scrollHeight,'*')
        }, 3000);
        setTimeout(() => {
            window.parent.postMessage(document.body.scrollHeight,'*')
        }, 6000);
    });
</script>

</body>
</html>
