<template name="riskControlSubmitOrderRealTimeInfo">
    <!-- Content Wrapper. Contains page content -->
    <div class="content">
        <!-- Main content -->
        <section class="content">

            <!-- Your Page Content Here -->

            <div id="chartContent" class="template-dashboard content body">

                <!--<span style="color:red">注：</span><span>只包含官网和M版流量</span>-->
                <div class="row desktop-only c-border">
                    <div class=" col-md-12 col-sm-12 col-xs-12 ">
                        <span>请选择提交异常订单数>=</span>
                        <input type="text" class="orderCnt" value="" style="margin-left: 28px;width:150px;border-radius: 4px;padding: 6px 12px;" placeholder="3"/>
                        <span>台</span>
                        <span>请输入提交异常单价>=</span>
                        <input type="text" class="numPerOrder" value="" style="margin-left: 28px;width:150px;border-radius: 4px;padding: 6px 12px;" placeholder="700"/>
                        <span>元</span>
                        <button class="btn btn-primary search">查询</button>
                        <a href="#" class="glyphicon glyphicon-question-sign pull-right" style="margin-top:1%;margin-bottom: 1%;" data-toggle="tooltip"
                           title="说明：&#10;1、订单数据按小时更新，累计数据截止到昨日。&#10;2、异常订单数、提交异常单价、安卓提交异常订单数、苹果提交异常订单数都是默认价格>=700的订单
3、总提交单数是当天提交单数的总和。&#10;累积的数据是历史所有数据的总和。
4、此处如果输入框为空，则默认是订单数>=3台，单价>=700元。"></a>


                    </div>
                    <div class=" col-md-12 col-sm-12 col-xs-12 ">

                    </div>

                </div>
                <div class="row mobile-only desktop-none">

                </div>
                <div >

                    <label style="margin-top:20px">当天提交订单异常分析</label>
                    <div id="etable" class="row" style="margin-top: 15px;border: 1px solid gray">
                        <div style="text-align: center;margin-top: 150px" id="loading2">
                            <img src="/images/loading.gif">
                        </div>
                        <div id="righte" class="col-md-12 col-sm-12 col-xs-12" style="">
                            <table id="tablee"
                                   data-toggle="table"
                                   data-show-export="true"
                                   data-pagination="true"
                                   data-click-to-select="true"
                            >
                                <thead>
                                <tr>
                                    <th data-field="vender_parent_name" data-sortable="true">客户名称</th>
                                    <th data-field="level" data-sortable="true">客户属性</th>
                                    <th data-field="abnormal_submit" data-sortable="true">异常订单数(台)</th>
                                    <th data-field="orderNumPerCustomer" data-sortable="true">提交异常单价(元)</th>
                                    <th data-field="android_submit" data-sortable="true">安卓提交异常订单数(台)</th>
                                    <th data-field="iphone_submit" data-sortable="true">苹果提交异常订单数(台)</th>
                                    <th data-field="submitCnt" data-sortable="true">总提交订单数(台)</th>
                                    <th data-field="profit" data-sortable="true">累积毛利额(元)</th>
                                    <th data-field="profitRate" data-sortable="true">累积毛利率</th>
                                    <th data-field="vender_business_mode" data-sortable="true">是否调整为维修类客户</th>
                                </tr>
                                </thead>


                            </table>

                        </div>
                    </div>

                    <div id="chartfContent" class="template-dashboard content body">

                        <!--<span style="color:red">注：</span><span>只包含官网和M版流量</span>-->
                        <div class="row desktop-only c-border">
                            <div class=" col-md-12 col-sm-12 col-xs-12 ">
                                <span>请选择查看时间:</span>

                                <button type="button" class="daily btn btn-default webTrafficFunnelDate"  style="border: 1px gray solid;width:240px;background-color:white">
                                    <i class="fa fa-calendar"></i>
                                    <span class="dateSelectLabel"></span>
                                    <i class="fa fa-caret-down"></i>
                                </button>
                                <span>请选择提交异常订单数>=</span>
                                <input type="text" class="orderCntHistory" value="" style="margin-left: 28px;width:150px;border-radius: 4px;padding: 6px 12px;" placeholder="3"/>
                                <span>台</span>
                                <span>请选择提交异常单价>=</span>
                                <input type="text" class="numPerOrderHistory" value="" style="margin-left: 28px;width:150px;border-radius: 4px;padding: 6px 12px;" placeholder="700"/>
                                <span>元</span>
                                <button class="btn btn-primary searchHistory">查询</button>
                                <a href="#" class="glyphicon glyphicon-question-sign pull-right" style="margin-top:1%;margin-bottom: 1%;" data-toggle="tooltip"
                                   title="说明：&#10;1、以下截止到昨天的历史数据。&#10;2、异常订单数、提交异常单价、安卓提交异常订单数、苹果提交异常订单数都是默认价格>=700的订单
3、总提交单数是所选日期的提交单数的总和。&#10;累积的数据是历史所有数据的总和。
4、此处如果输入框为空，则默认是订单数>=3台，单价>=700元。"></a>
                            </div>
                            <div class=" col-md-12 col-sm-12 col-xs-12 ">

                            </div>

                        </div>

                    <label style="margin-top:20px">历史总账户提交订单异常分析</label>
                    <div id="ftable" class="row" style="margin-top: 15px;border: 1px solid gray">
                        <div style="text-align: center;margin-top: 150px" id="loading3">
                            <img src="/images/loading.gif">
                        </div>
                        <div id="rightf" class="col-md-12 col-sm-12 col-xs-12" style="">
                            <table id="tablef"
                                   data-toggle="table"
                                   data-show-export="true"
                                   data-pagination="true"
                                   data-click-to-select="true"
                            >
                                <thead>
                                <tr>
                                    <th data-field="vender_parent_name" data-sortable="true">客户名称</th>
                                    <th data-field="level" data-sortable="true">客户属性</th>
                                    <th data-field="abnormal_submit" data-sortable="true">异常订单数(台)</th>
                                    <th data-field="orderNumPerCustomer" data-sortable="true">提交异常单价(元)</th>
                                    <th data-field="android_submit" data-sortable="true">安卓提交订单数(台)</th>
                                    <th data-field="iphone_submit" data-sortable="true">苹果提交订单数(台)</th>
                                    <th data-field="submitCnt" data-sortable="true">提交订单数(台)</th>
                                    <th data-field="profit" data-sortable="true">累积毛利额(元)</th>
                                    <th data-field="profitRate" data-sortable="true">累积毛利率</th>
                                    <th data-field="vender_business_mode" data-sortable="true">是否调整为维修类客户</th>
                                </tr>
                                </thead>


                            </table>

                        </div>
                    </div>

                        <label style="margin-top:20px">历史门店提交订单异常分析</label>
                        <div id="gtable" class="row" style="margin-top: 15px;border: 1px solid gray">
                            <div style="text-align: center;margin-top: 150px" id="loading4">
                                <img src="/images/loading.gif">
                            </div>
                            <div id="rightg" class="col-md-12 col-sm-12 col-xs-12" style="">
                                <table id="tableg"
                                       data-toggle="table"
                                       data-show-export="true"
                                       data-pagination="true"
                                       data-click-to-select="true"
                                >
                                    <thead>
                                    <tr>
                                        <th data-field="vender_parent_id" data-sortable="true">门店名称</th>
                                        <th data-field="vender_parent_name" data-sortable="true">客户名称</th>
                                        <th data-field="level" data-sortable="true">客户属性</th>
                                        <th data-field="abnormal_submit" data-sortable="true">异常订单数(台)</th>
                                        <th data-field="orderNumPerCustomer" data-sortable="true">提交异常单价(元)</th>
                                        <th data-field="android_submit" data-sortable="true">安卓提交订单数(台)</th>
                                        <th data-field="iphone_submit" data-sortable="true">苹果提交订单数(台)</th>
                                        <th data-field="submitCnt" data-sortable="true">提交订单数(台)</th>
                                        <th data-field="profit" data-sortable="true">累积毛利额(元)</th>
                                        <th data-field="profitRate" data-sortable="true">累积毛利率</th>
                                    </tr>
                                    </thead>


                                </table>

                            </div>
                        </div>

                </div>

                </div>

            </div>

        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
</template>