<template name="riskControlCancelOrderInfo">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">

            <!-- Your Page Content Here -->

            <div id="chartContent" class="template-dashboard content body">

                <!--<span style="color:red">注：</span><span>只包含官网和M版流量</span>-->
                <div class="row desktop-only c-border">
                    <div class=" col-md-12 col-sm-12 col-xs-12 ">
                        <span>请选择查看时间:</span>

                        <button type="button" class="daily btn btn-default webTrafficFunnelDate"  style="border: 1px gray solid;width:240px;background-color:white">
                            <i class="fa fa-calendar"></i>
                            <span class="dateSelectLabel"></span>
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <button type="button" class="daily btn btn-default webTrafficFunnelWeek"  style="border: 1px gray solid;width:240px;background-color:white">
                            <i class="fa fa-calendar"></i>
                            <span class="weekSelectLabel"></span>
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <button type="button" class="daily btn btn-default webTrafficFunnelMonth"  style="border: 1px gray solid;width:240px;background-color:white">
                            <i class="fa fa-calendar"></i>
                            <span class="monthSelectLabel"></span>
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <a href="#" class="glyphicon glyphicon-question-sign pull-right" style="margin-top:1%;margin-bottom: 1%;" data-toggle="tooltip"
                           title="说明：&#10;订单取消情况
1、订单取消的总体情况
a 、昨日订单取消情况：在一个表格中呈现，共4个维度，分别为昨日订单取消的数量、订单取消的数量占昨日提交订单总数的占比、昨日订单取消的金额、订单取消的金额占昨日提交订单总金额的占比。
b 、订单取消情况的两周走势：在一个图表中呈现，横坐标是日期，纵坐标是比值；共两个维度，分别为每天订单取消的数量占当天提交订单总数的占比、当天订单取消的金额占当日提交订单总金额的占比。
2、履约金模式的订单取消的情况
a 、昨日履约金模式的订单取消情况：在一个表格中呈现，共4个维度，分别为昨日履约金模式订单取消的数量、履约金模式订单取消的数量占昨日提交履约金模式订单总数的占比、昨日履约金模式订单取消的金额、履约金模式订单取消的金额占昨日提交履约金模式订单总金额的占比。
b 、履约金模式的订单取消情况的两周走势：在一个图表中呈现，横坐标是日期，纵坐标是比值；共两个维度，分别为每天履约金模式订单取消的数量占当天提交履约金模式订单总数的占比、当天履约金模式订单取消的金额占当日提交履约金模式订单总金额的占比。"></a>


                    </div>
                    <div class=" col-md-12 col-sm-12 col-xs-12 ">

                    </div>

                </div>
                <div class="row mobile-only desktop-none">
                    <div>
                        <span>请选择查看时间:</span>

                    </div>
                    <div>
                        <span>请选择起始时间:</span>
                        <button type="button" style="border: 1px gray solid;width:200px;background-color:white" class="daily btn btn-default campaignStartDatePicker">
                            <i class="fa fa-calendar"></i>
                            <span class="startDateSelectLabel"></span>
                            <i class="fa fa-caret-down" style="margin-left: 78px"></i>
                        </button>
                        <select  class="weekly startWeek" style="width:200px;border-radius: 4px;padding: 6px 12px;">

                        </select>
                    </div>
                    <div>
                        <span>请选择结束时间:</span>
                        <button type="button" style="border: 1px gray solid;width:200px;background-color:white" class="daily btn btn-default campaignEndDatePicker">
                            <i class="fa fa-calendar"></i>
                            <span class="endDateSelectLabel"></span>
                            <i class="fa fa-caret-down" style="margin-left: 78px"></i>
                        </button>
                        <select  class="weekly endWeek" style="width:200px;border-radius: 4px;padding: 6px 12px;">



                        </select>
                    </div>
                </div>
                <div id="venderTradeTrendMixedChart" class="col-md-12 col-sm-12 col-xs-12"
                     style="height:400px;margin-top: 3%">
                </div>
                <div >


                    <label style="margin-top:20px">订单取消的总体情况</label>
                    <div id="etable" class="row" style="margin-top: 15px;border: 1px solid gray">
                        <div style="text-align: center;margin-top: 150px" id="loading2">
                            <img src="/images/loading.gif">
                        </div>
                        <div id="righte" class="col-md-12 col-sm-12 col-xs-12" style="">
                            <table id="tablee"
                                   data-toggle="table"
                                   data-show-export="true"
                                   data-pagination="true"
                                   data-click-to-select="true"
                            >
                                <thead>
                                <tr>
                                    <th data-field="dateSubCnt" data-sortable="true">时间</th>
                                    <th data-field="cancelCntSubCnt" data-sortable="true">订单取消的数量</th>
                                    <th data-field="cancelCntRateSubCnt" data-sortable="true">订单取消的数量占提交订单总数的占比</th>
                                    <th data-field="cancelNumSubNum" data-sortable="true">订单取消的金额</th>
                                    <th data-field="cancelNumRateSubNum" data-sortable="true">订单取消的金额占提交订单总金额的占比</th>
                                </tr>
                                </thead>


                            </table>

                        </div>
                    </div>

                </div>

                <div id="venderTradeTrendMixedChartRisk" class="col-md-12 col-sm-12 col-xs-12"
                     style="height:400px;margin-top: 3%">
                </div>
                <div >


                    <label style="margin-top:20px">履约金模式下的订单取消的总体情况</label>
                    <div id="etablee" class="row" style="margin-top: 15px;border: 1px solid gray">
                        <div style="text-align: center;margin-top: 150px" id="loading3">
                            <img src="/images/loading.gif">
                        </div>
                        <div id="rightee" class="col-md-12 col-sm-12 col-xs-12" style="">
                            <table id="tableee"
                                   data-toggle="table"
                                   data-show-export="true"
                                   data-pagination="true"
                                   data-click-to-select="true"
                            >
                                <thead>
                                <tr>
                                    <th data-field="dateSubCntRisk" data-sortable="true">时间</th>
                                    <th data-field="cancelCntSubCntRisk" data-sortable="true">履约金模式下订单取消的数量</th>
                                    <th data-field="cancelCntRateSubCntRisk" data-sortable="true">履约金模式下订单取消的数量占提交订单总数的占比</th>
                                    <th data-field="cancelNumSubNumRisk" data-sortable="true">履约金模式下订单取消的金额</th>
                                    <th data-field="cancelNumRateSubNumRisk" data-sortable="true">履约金模式下订单取消的金额占提交订单总金额的占比</th>
                                </tr>
                                </thead>


                            </table>

                        </div>
                    </div>

                    <label style="margin-top:20px">总账户订单取消的Top20总体情况</label>
                    <div id="vendertable" class="row" style="margin-top: 15px;border: 1px solid gray">
                        <div style="text-align: center;margin-top: 150px" id="loadingvender">
                            <img src="/images/loading.gif">
                        </div>
                        <div id="rightvender" class="col-md-12 col-sm-12 col-xs-12" style="">
                            <table id="tableVender"
                                   data-toggle="table"
                                   data-show-export="true"
                                   data-pagination="true"
                                   data-click-to-select="true"
                            >
                                <thead>
                                <tr>
                                    <th data-field="dateSubCnt" data-sortable="true">总账户</th>
                                    <th data-field="cancelCntSubCnt" data-sortable="true">订单取消的数量</th>
                                    <th data-field="cancelCntRateSubCnt" data-sortable="true">订单取消的数量占提交订单总数的占比</th>
                                    <th data-field="cancelNumSubNum" data-sortable="true">订单取消的金额</th>
                                    <th data-field="cancelNumRateSubNum" data-sortable="true">订单取消的金额占提交订单总金额的占比</th>
                                </tr>
                                </thead>


                            </table>

                        </div>
                    </div>

                    <label style="margin-top:20px">门店订单取消的Top20总体情况</label>
                    <div id="grouptable" class="row" style="margin-top: 15px;border: 1px solid gray">
                        <div style="text-align: center;margin-top: 150px" id="loadinggroup">
                            <img src="/images/loading.gif">
                        </div>
                        <div id="rightgroup" class="col-md-12 col-sm-12 col-xs-12" style="">
                            <table id="tableGroup"
                                   data-toggle="table"
                                   data-show-export="true"
                                   data-pagination="true"
                                   data-click-to-select="true"
                            >
                                <thead>
                                <tr>
                                    <th data-field="riskCnt" data-sortable="true">总账户</th>
                                    <th data-field="dateSubCnt" data-sortable="true">门店</th>
                                    <th data-field="cancelCntSubCnt" data-sortable="true">订单取消的数量</th>
                                    <th data-field="cancelCntRateSubCnt" data-sortable="true">订单取消的数量占提交订单总数的占比</th>
                                    <th data-field="cancelNumSubNum" data-sortable="true">订单取消的金额</th>
                                    <th data-field="cancelNumRateSubNum" data-sortable="true">订单取消的金额占提交订单总金额的占比</th>
                                </tr>
                                </thead>


                            </table>

                        </div>
                    </div>

                    <label style="margin-top:20px">订单取消系统的数据情况</label>
                    <div id="brandtable" class="row" style="margin-top: 15px;border: 1px solid gray">
                        <div style="text-align: center;margin-top: 150px" id="loadingbrand">
                            <img src="/images/loading.gif">
                        </div>
                        <div id="rightbrand" class="col-md-12 col-sm-12 col-xs-12" style="">
                            <table id="tablebrand"
                                   data-toggle="table"
                                   data-show-export="true"
                                   data-pagination="true"
                                   data-click-to-select="true"
                            >
                                <thead>
                                <tr><th colspan="12" data-valign="middle" data-align="center">不同价格区间取消订单统计</th></tr>
                                <tr>
                                    <th colspan="1" data-valign="middle" data-align="center"></th>
                                    <th colspan="1" data-valign="middle" data-align="center"></th>
                                    <th colspan="2" data-valign="middle" data-align="center">1000及以上</th>
                                    <th colspan="2" data-valign="middle" data-align="center">500-1000元(包括500)</th>
                                    <th colspan="2" data-valign="middle" data-align="center">200-500元(包括200)</th>
                                    <th colspan="2" data-valign="middle" data-align="center">50-200元(包括50)</th>
                                    <th colspan="2" data-valign="middle" data-align="center">50元以下</th>
                                </tr>
                                <tr>
                                    <th data-field="date" data-sortable="true">时间</th>
                                    <th data-field="brand" data-sortable="true">品牌</th>
                                    <th data-field="thBrandCount" data-sortable="true">数量</th>
                                    <th data-field="thCountRate" data-sortable="true">占比</th>
                                    <th data-field="fiveHuBrandCount" data-sortable="true">数量</th>
                                    <th data-field="fiveHuCountRate" data-sortable="true">占比</th>
                                    <th data-field="twoHuBrandCount" data-sortable="true">数量</th>
                                    <th data-field="twoHuCountRate" data-sortable="true">占比</th>
                                    <th data-field="fiftyBrandCount" data-sortable="true">数量</th>
                                    <th data-field="fiftyCountRate" data-sortable="true">占比</th>
                                    <th data-field="lowerBrandCount" data-sortable="true">数量</th>
                                    <th data-field="lowerCountRate" data-sortable="true">占比</th>
                                </tr>
                                </thead>


                            </table>

                        </div>
                    </div>

                </div>

            </div>

        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
</template>