<template name="riskControlLossOrderDataInfo">
    <!-- Content Wrapper. Contains page content -->
    <div class="content">
        <!-- Main content -->
        <section class="content">

            <!-- Your Page Content Here -->

            <div id="chartContent" class="template-dashboard content body">

                <!--<div >-->
                    <!--&lt;!&ndash;<label style="margin-top:20px">累计亏损/利润Top20客户</label>&ndash;&gt;-->
                    <!--<div class="row desktop-only c-border">-->
                        <!--<div class=" col-md-12 col-sm-12 col-xs-12 ">-->
                            <!--<span>请选择查看时间:</span>-->
                            <!--&lt;!&ndash;<select  class="dateType" style="width: 120px;height: 34px;border-radius: 4px;padding: 6px 12px;">&ndash;&gt;-->
                            <!--&lt;!&ndash;<option value="daily">按日期选择</option>&ndash;&gt;-->
                            <!--&lt;!&ndash;<option value="weekly">按周选择</option>&ndash;&gt;-->
                            <!--&lt;!&ndash;<option value="monthly">按月选择</option>&ndash;&gt;-->
                            <!--&lt;!&ndash;</select>&ndash;&gt;-->
                            <!--<button type="button" class="daily btn btn-default webTrafficFunnelDate2"  style="border: 1px gray solid;width:240px;background-color:white">-->
                                <!--<i class="fa fa-calendar"></i>-->
                                <!--<span class="dateSelectLabel2"></span>-->
                                <!--<i class="fa fa-caret-down"></i>-->
                            <!--</button>-->

                            <!--<a href="#" class="glyphicon glyphicon-question-sign pull-right" style="margin-top:1%;margin-bottom: 1%;" data-toggle="tooltip"-->
                               <!--title="说明：&#10;利润及利润率情况-->
<!--1、每日利润率的值和走势-->
<!--在一张图表中呈现，时间维度是2周，横坐标是日期，纵坐标是利润率。-->
<!--2、每日、当月TOP10利润贡献客户和金额-->
<!--可筛选时间维度；在一张表格中呈现，列出TOP10利润贡献的客户名称和相应的金额。-->
<!--3、每日、当月TOP10亏损贡献客户和金额-->
<!--可筛选时间维度；在一张表格中呈现，列出TOP10亏损贡献的客户名称和相应的金额。-->
<!--4、昨日TOP10利润贡献的订单-->
<!--针对iOS和安卓系列的手机分别列出TOP10；需呈现5个维度的信息，分别是订单号、产品名称、子账户、所属总账户、利润额。-->
<!--5、昨日TOP10失误贡献/亏损的订单-->
<!--针对iOS和安卓系列的手机分别列出TOP10；需呈现5个维度的信息，分别是订单号、产品名称、子账户、所属总账户、亏损金额。"></a>-->
                            <!--&lt;!&ndash;<span>选择网址名:</span>&ndash;&gt;-->
                            <!--&lt;!&ndash;<select class="siteName" style="margin-left: 28px;width:150px;border-radius: 4px;padding: 6px 12px;">&ndash;&gt;-->

                            <!--&lt;!&ndash;</select>&ndash;&gt;-->
                            <!--&lt;!&ndash;<button class="btn btn-primary search">查询</button>&ndash;&gt;-->

                        <!--</div>-->
                        <!--<div class=" col-md-12 col-sm-12 col-xs-12 ">-->

                        <!--</div>-->

                    <!--</div>-->
                    <!--<div class="row mobile-only desktop-none">-->
                        <!--<div>-->
                            <!--<span>请选择查看时间:</span>-->
                            <!--&lt;!&ndash;<select  class="dateType" style=";width:200px;border-radius: 4px;padding: 6px 12px;">&ndash;&gt;-->
                            <!--&lt;!&ndash;<option value="daily">按日期选择</option>&ndash;&gt;-->
                            <!--&lt;!&ndash;&lt;!&ndash;<option value="weekly">按周选择</option>&ndash;&gt;&ndash;&gt;-->
                            <!--&lt;!&ndash;&lt;!&ndash;<option value="monthly">按月选择</option>&ndash;&gt;&ndash;&gt;-->
                            <!--&lt;!&ndash;</select>&ndash;&gt;-->
                        <!--</div>-->
                        <!--<div>-->
                            <!--<button type="button" class="daily btn btn-default webTrafficFunnelDate2"  style="border: 1px gray solid;width:240px;background-color:white">-->
                                <!--<i class="fa fa-calendar"></i>-->
                                <!--<span class="dateSelectLabel2"></span>-->
                                <!--<i class="fa fa-caret-down"></i>-->
                            <!--</button>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--&lt;!&ndash;<div>&ndash;&gt;-->
                        <!--&lt;!&ndash;<label style="margin-top:20px">亏损Top20客户</label>&ndash;&gt;-->
                        <!--&lt;!&ndash;<div id="etableVenderDown" class="row" style="margin-top: 15px;border: 1px solid gray">&ndash;&gt;-->
                            <!--&lt;!&ndash;<div style="text-align: center;margin-top: 150px" id="loadingVenderDown">&ndash;&gt;-->
                                <!--&lt;!&ndash;<img src="/images/loading.gif">&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--&lt;!&ndash;<div id="rightVenderDown" class="col-md-12 col-sm-12 col-xs-12" style="">&ndash;&gt;-->
                                <!--&lt;!&ndash;<table id="tableVenderDown"&ndash;&gt;-->
                                       <!--&lt;!&ndash;data-toggle="table"&ndash;&gt;-->
                                       <!--&lt;!&ndash;data-show-export="true"&ndash;&gt;-->
                                       <!--&lt;!&ndash;data-pagination="true"&ndash;&gt;-->
                                       <!--&lt;!&ndash;data-click-to-select="true"&ndash;&gt;-->
                                <!--&lt;!&ndash;&gt;&ndash;&gt;-->
                                    <!--&lt;!&ndash;&lt;!&ndash;<thead>&ndash;&gt;&ndash;&gt;-->
                                    <!--&lt;!&ndash;&lt;!&ndash;<tr>&ndash;&gt;&ndash;&gt;-->
                                        <!--&lt;!&ndash;&lt;!&ndash;<th data-field="vender_parent_name" data-sortable="true">总账户</th>&ndash;&gt;&ndash;&gt;-->
                                        <!--&lt;!&ndash;&lt;!&ndash;<th data-field="cancelCnt" data-sortable="true">客户属性</th>&ndash;&gt;&ndash;&gt;-->
                                        <!--&lt;!&ndash;&lt;!&ndash;<th data-field="profit" data-sortable="true">亏损金额(元)</th>&ndash;&gt;&ndash;&gt;-->
                                        <!--&lt;!&ndash;&lt;!&ndash;<th data-field="cancelNum" data-sortable="true">出货金额</th>&ndash;&gt;&ndash;&gt;-->
                                        <!--&lt;!&ndash;&lt;!&ndash;<th data-field="riskCnt" data-sortable="true">毛利率</th>&ndash;&gt;&ndash;&gt;-->
                                        <!--&lt;!&ndash;&lt;!&ndash;<th data-field="cancelRiskCnt" data-sortable="true">提交订单量</th>&ndash;&gt;&ndash;&gt;-->
                                        <!--&lt;!&ndash;&lt;!&ndash;<th data-field="riskNum" data-sortable="true">提交订单金额</th>&ndash;&gt;&ndash;&gt;-->
                                        <!--&lt;!&ndash;&lt;!&ndash;<th data-field="num" data-sortable="true">是否调整为维修类客户</th>&ndash;&gt;&ndash;&gt;-->
                                    <!--&lt;!&ndash;&lt;!&ndash;</tr>&ndash;&gt;&ndash;&gt;-->
                                    <!--&lt;!&ndash;&lt;!&ndash;</thead>&ndash;&gt;&ndash;&gt;-->


                                <!--&lt;!&ndash;</table>&ndash;&gt;-->

                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->

                    <!--&lt;!&ndash;<div>&ndash;&gt;-->
                        <!--&lt;!&ndash;<label style="margin-top:20px">亏损Top20门店</label>&ndash;&gt;-->
                        <!--&lt;!&ndash;<div id="etableGroupDown" class="row" style="margin-top: 15px;border: 1px solid gray">&ndash;&gt;-->
                            <!--&lt;!&ndash;<div style="text-align: center;margin-top: 150px" id="loadingGroupDown">&ndash;&gt;-->
                                <!--&lt;!&ndash;<img src="/images/loading.gif">&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--&lt;!&ndash;<div id="rightGroupDown" class="col-md-12 col-sm-12 col-xs-12" style="">&ndash;&gt;-->
                                <!--&lt;!&ndash;<table id="tableGroupDown"&ndash;&gt;-->
                                       <!--&lt;!&ndash;data-toggle="table"&ndash;&gt;-->
                                       <!--&lt;!&ndash;data-show-export="true"&ndash;&gt;-->
                                       <!--&lt;!&ndash;data-pagination="true"&ndash;&gt;-->
                                       <!--&lt;!&ndash;data-click-to-select="true"&ndash;&gt;-->
                                <!--&lt;!&ndash;&gt;&ndash;&gt;-->
                                    <!--&lt;!&ndash;<thead>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<tr>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<th data-field="vender_parent_name" data-sortable="true">客户名称</th>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<th data-field="level" data-sortable="true">客户属性</th>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<th data-field="vender_parent_id" data-sortable="true">门店名称</th>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<th data-field="profit" data-sortable="true">亏损金额(元)</th>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<th data-field="iphone_submit" data-sortable="true">出货金额</th>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<th data-field="profitRate" data-sortable="true">毛利率</th>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<th data-field="submitCnt" data-sortable="true">提交订单数(台)</th>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<th data-field="orderNumPerCustomer" data-sortable="true">提交金额(元)</th>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</tr>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</thead>&ndash;&gt;-->


                                <!--&lt;!&ndash;</table>&ndash;&gt;-->

                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->

                    <!--<div>-->
                        <!--<label style="margin-top:20px">小微容忍Top20客户</label>-->
                        <!--<div id="etableTolenrateVenderDown" class="row" style="margin-top: 15px;border: 1px solid gray">-->
                            <!--<div style="text-align: center;margin-top: 150px" id="loadingTolenrateVenderDown">-->
                                <!--<img src="/images/loading.gif">-->
                            <!--</div>-->
                            <!--<div id="rightT" class="col-md-12 col-sm-12 col-xs-12" style="">-->
                                <!--<table id="dataTableTolenrateVenderDown"-->
                                       <!--data-toggle="table"-->
                                       <!--data-show-export="true"-->
                                       <!--data-pagination="true"-->
                                       <!--data-click-to-select="true"-->
                                <!--&gt;-->
                                    <!--<thead>-->
                                    <!--<tr>-->
                                        <!--<th data-field="vender_parent_name" data-sortable="true">总账户名称</th>-->
                                        <!--<th data-field="mistakeCnt" data-sortable="true">拆修进水炸弹机</th>-->
                                        <!--<th data-field="mistakeRate" data-sortable="true">拆修进水炸弹机与成交订单比值</th>-->
                                        <!--<th data-field="inspection_tolerate_num" data-sortable="true">小微容忍金额</th>-->
                                        <!--<th data-field="tolerateRate" data-sortable="true">小微容忍金额与出货金额比值</th>-->
                                        <!--<th data-field="specialNum" data-sortable="true">特殊豁免+特殊补款金额</th>-->
                                        <!--<th data-field="specialRate" data-sortable="true">特殊豁免+特殊补款金额与出货价格比值</th>-->
                                        <!--<th data-field="goldenEggBonusNum" data-sortable="true">金蛋+红包金额</th>-->
                                        <!--<th data-field="goldenEggBonusRate" data-sortable="true">金蛋+红包金额与出货价格比值</th>-->
                                    <!--</tr>-->
                                    <!--</thead>-->


                                <!--</table>-->

                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div>-->
                        <!--<label style="margin-top:20px">小微容忍Top20门店</label>-->
                        <!--<div id="etableTolenrateGroupDownTolerate" class="row" style="margin-top: 15px;border: 1px solid gray">-->
                            <!--<div style="text-align: center;margin-top: 150px" id="loadingTolenrateGroupDown">-->
                                <!--<img src="/images/loading.gif">-->
                            <!--</div>-->
                            <!--<div id="rightG" class="col-md-12 col-sm-12 col-xs-12" style="">-->
                                <!--<table id="dataTableTolenrateGroupDown"-->
                                       <!--data-toggle="table"-->
                                       <!--data-show-export="true"-->
                                       <!--data-pagination="true"-->
                                       <!--data-click-to-select="true"-->
                                <!--&gt;-->
                                    <!--<thead>-->
                                    <!--<tr>-->
                                        <!--<th data-field="vender_parent_name" data-sortable="true">总账户名称</th>-->
                                        <!--<th data-field="mistakeCnt" data-sortable="true">拆修进水炸弹机</th>-->
                                        <!--<th data-field="mistakeRate" data-sortable="true">拆修进水炸弹机与成交订单比值</th>-->
                                        <!--<th data-field="inspection_tolerate_num" data-sortable="true">小微容忍金额</th>-->
                                        <!--<th data-field="tolerateRate" data-sortable="true">小微容忍金额与出货金额比值</th>-->
                                        <!--<th data-field="specialNum" data-sortable="true">特殊豁免+特殊补款金额</th>-->
                                        <!--<th data-field="specialRate" data-sortable="true">特殊豁免+特殊补款金额与出货价格比值</th>-->
                                        <!--<th data-field="goldenEggBonusNum" data-sortable="true">金蛋+红包金额</th>-->
                                        <!--<th data-field="goldenEggBonusRate" data-sortable="true">金蛋+红包金额与出货价格比值</th>-->
                                    <!--</tr>-->
                                    <!--</thead>-->


                                <!--</table>-->

                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                <!--</div>-->
                <div >

                    <label style="margin-top:20px">利润/亏损TOP10的订单</label>
                    <div class="row desktop-only c-border">
                        <div class=" col-md-12 col-sm-12 col-xs-12 ">
                            <span>请选择查看时间:</span>
                            <!--<select  class="dateType" style="width: 120px;height: 34px;border-radius: 4px;padding: 6px 12px;">-->
                            <!--<option value="daily">按日期选择</option>-->
                            <!--<option value="weekly">按周选择</option>-->
                            <!--<option value="monthly">按月选择</option>-->
                            <!--</select>-->
                            <button type="button" class="daily btn btn-default webTrafficFunnelDate3"  style="border: 1px gray solid;width:240px;background-color:white">
                                <i class="fa fa-calendar"></i>
                                <span class="dateSelectLabel3"></span>
                                <i class="fa fa-caret-down"></i>
                            </button>

                            <!--<a href="#" class="glyphicon glyphicon-question-sign pull-right" style="margin-top:1%;margin-bottom: 1%;" data-toggle="tooltip"-->
                               <!--title="说明：&#10;此页面中的活跃客户或门店的规则如下：周报或7天及以上则>=2单为有效门店，月报或28天及以上则>=10单为有效门店。&#10;重大失误率：在交易成功下，验货失败差异额/验货成功提交额，此处使用交易成功时间；重大失误率适用于2016/09/01以后，之前数据已清算。"></a>-->

                        </div>
                        <div class=" col-md-12 col-sm-12 col-xs-12 ">

                        </div>

                    </div>
                        <div class="row mobile-only desktop-none">
                            <div>
                                <span>请选择查看时间:</span>
                                <!--<select  class="dateType" style=";width:200px;border-radius: 4px;padding: 6px 12px;">-->
                                <!--<option value="daily">按日期选择</option>-->
                                <!--&lt;!&ndash;<option value="weekly">按周选择</option>&ndash;&gt;-->
                                <!--&lt;!&ndash;<option value="monthly">按月选择</option>&ndash;&gt;-->
                                <!--</select>-->
                            </div>
                            <div>
                                <button type="button" class="daily btn btn-default webTrafficFunnelDate3"  style="border: 1px gray solid;width:240px;background-color:white">
                                    <i class="fa fa-calendar"></i>
                                    <span class="dateSelectLabel3"></span>
                                    <i class="fa fa-caret-down"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                <label style="margin-top:20px">亏损苹果订单</label>
                    <div id="etableIosDown" class="row" style="margin-top: 15px;border: 1px solid gray">
                        <div style="text-align: center;margin-top: 150px" id="loadingIosDown">
                            <img src="/images/loading.gif">
                        </div>
                        <div id="rightIosDown" class="col-md-12 col-sm-12 col-xs-12" style="">
                            <table id="tableIosDown"
                                   data-toggle="table"
                                   data-show-export="true"
                                   data-pagination="true"
                                   data-click-to-select="true"
                            >
                                <!--<thead>-->
                                <!--<tr>-->
                                    <!--<th data-field="cnt" data-sortable="true">订单号</th>-->
                                    <!--<th data-field="cancelCnt" data-sortable="true">产品名称</th>-->
                                    <!--<th data-field="num" data-sortable="true">子账户</th>-->
                                    <!--<th data-field="cancelNum" data-sortable="true">所属总账户</th>-->
                                    <!--<th data-field="riskCnt" data-sortable="true">亏损金额(元)</th>-->
                                <!--</tr>-->
                                <!--</thead>-->


                            </table>

                        </div>
                    </div>
                <label style="margin-top:20px">亏损安卓订单</label>
                    <div id="etableAndroidDown" class="row" style="margin-top: 15px;border: 1px solid gray">
                        <div style="text-align: center;margin-top: 150px" id="loadingAndroidDown">
                            <img src="/images/loading.gif">
                        </div>
                        <div id="rightAndroidDown" class="col-md-12 col-sm-12 col-xs-12" style="">
                            <table id="tableAndroidDown"
                                   data-toggle="table"
                                   data-show-export="true"
                                   data-pagination="true"
                                   data-click-to-select="true"
                            >
                                <!--<thead>-->
                                <!--<tr>-->
                                    <!--<th data-field="cnt" data-sortable="true">订单号</th>-->
                                    <!--<th data-field="cancelCnt" data-sortable="true">产品名称</th>-->
                                    <!--<th data-field="num" data-sortable="true">子账户</th>-->
                                    <!--<th data-field="cancelNum" data-sortable="true">所属总账户</th>-->
                                    <!--<th data-field="riskCnt" data-sortable="true">亏损金额(元)</th>-->
                                <!--</tr>-->
                                <!--</thead>-->


                            </table>

                        </div>
                    </div>

                </div>

        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
</template>