<template name="profitExceptionMonitor">
    <!-- Content Wrapper. Contains page content -->
    <div class="content">
        <!-- Main content -->
        <section class="content">

            <!-- Your Page Content Here -->

            <div id="chartContent" class="template-dashboard content body">
                <!--<span style="color:red">注：</span><span>只包含官网和M版流量</span>-->
                <div class="row  c-border" style="margin: 0px 0px;">
                    <div class="  ">
                        <span>请选择查看时间:</span>
                        <button type="button" class="daily btn btn-default dateBtn"  style="border: 1px gray solid;width:240px;background-color:white">
                            <i class="fa fa-calendar"></i>
                            <span class="dateSelectLabel"></span>
                            <i class="fa fa-caret-down"></i>
                        </button>
                    </div>

                </div>
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active notAijihuiTab" style="width:28% ;margin-right: 0px; "><a href="#bdself" data-toggle="tab">BD+自营</a></li>
                        <li class="ctab" style="width:28%;margin-right: 0px;"><a href="#aijihui" data-toggle="tab" >爱机汇</a></li>
                    </ul>
                    <div class="tab-content">
                        <div style="text-align: center;margin-top: 150px" id="loading">
                            <img src="/images/loading.gif">
                        </div>
                        <!--整体-->
                        <div class="active tab-pane notAijihuiTab" id="bdself" >
                            <div id="bd_self_content">
                                <p style="color: red"><span style="font-weight:bold">注:</span>剔除所有退货以及回收额50元以下订单!
                                    总体订单汇总：根据商品品类筛选条件得出;
                                    异常订单汇总：根据商品品类、毛利区间筛选条件得出;
                                    异常占比：异常订单汇总/总体订单汇总;
                                </p>
                                <div class="row c-border" style="padding-left: 15px;padding-right: 15px;margin: 0px;">
                                    <div class="col-md-12 col-sm-12 col-xs-12 "
                                         style="display:flex;flex-wrap:wrap;">
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <span>商品品类:</span>
                                            <select style="height: 32px;width: 100px;border-radius: 4px;" class="category" id="category">
                                                <option value="1">手机</option>
                                                <option value="6">平板电脑</option>
                                                <option value="5">笔记本</option>
                                                <option value="22">摄影摄像</option>
                                                <option value="3">智能数码</option>
                                                <option value="-1">全品类</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <span>毛利区间:</span>
                                            <select style="height: 32px;width: 100px;border-radius: 4px;" class="category" id="profitRange">
                                                <option value="<0%">小于0%</option>
                                                <option value="0-5%">0-5%</option>
                                                <option value="0-8%">0-8%</option>
                                                <option value="0-10%">0-10%</option>
                                                <option value=">30%">大于30%</option>
                                                <option value=">40%">大于40%</option>
                                                <option value=">50%">大于50%</option>

                                            </select>
                                        </div>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <span style="visibility: hidden;">选择区域:</span>
                                            <button class="btn btn-primary search" style="padding: 3px 35px;">
                                                查询
                                            </button>
                                        </div>

                                    </div>
                                </div>
                                <div class="box box-primary">
                                    <div class="box-header with-border">
                                        <i class="fa fa-bar-chart-o"></i>

                                        <h3 class="box-title">总计</h3>

                                        <div class="box-tools pull-right">
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div class="row">
                                            <h5 class="box-title">异常订单利润率汇总分析</h5>
                                            <table id="bd_self_table_summary" class="table table-striped"
                                                   data-toggle="table"
                                                   data-show-export="true"
                                                   data-pagination="true"
                                                   data-click-to-select="true"></table>
                                            <h5 class="box-title">异常订单明细</h5>
                                            <table id="exception_order_table" class="table table-striped"
                                                   data-toggle="table"
                                                   data-show-export="true"
                                                   data-pagination="true"
                                                   data-click-to-select="true"></table>
                                            <h5 class="box-title">异常型号利润率分析</h5>
                                            <table id="bd_self_table" class="table table-striped"
                                                   data-toggle="table"
                                                   data-show-export="true"
                                                   data-pagination="true"
                                                   data-click-to-select="true"></table>
                                            <div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="box box-primary">
                                    <div class="box-header with-border">
                                        <i class="fa fa-bar-chart-o"></i>

                                        <h3 class="box-title">自营</h3>

                                        <div class="box-tools pull-right">
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div class="row">
                                            <h5 class="box-title">异常订单利润率汇总分析</h5>
                                            <table id="self_table_summary" class="table table-striped"
                                                   data-toggle="table"
                                                   data-show-export="true"
                                                   data-pagination="true"
                                                   data-click-to-select="true"></table>
                                            <h5 class="box-title">异常型号利润率分析</h5>
                                            <table id="self_table" class="table table-striped"
                                                   data-toggle="table"
                                                   data-show-export="true"
                                                   data-pagination="true"
                                                   data-click-to-select="true"></table>
                                            <div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box box-primary">
                                    <div class="box-header with-border">
                                        <i class="fa fa-bar-chart-o"></i>

                                        <h3 class="box-title">BD</h3>

                                        <div class="box-tools pull-right">
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div class="row">
                                            <h5 class="box-title">异常订单利润率汇总分析</h5>
                                            <table id="bd_table_summary" class="table table-striped"
                                                   data-toggle="table"
                                                   data-show-export="true"
                                                   data-pagination="true"
                                                   data-click-to-select="true"></table>

                                            <h5 class="box-title">异常型号利润率分析</h5>
                                            <table id="bd_table" class="table table-striped"
                                                   data-toggle="table"
                                                   data-show-export="true"
                                                   data-pagination="true"
                                                   data-click-to-select="true"></table>
                                            <div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!--爱机汇-->
                        <div class="active tab-pane ctab" id="aijihui" >
                            <div id="aijihui_content">
                                <p style="color: red"><span style="font-weight:bold">注:</span>剔除所有退货以及回收额50元以下订单!(爱机汇只包含手机);
                                    总体订单汇总：根据系统类型筛选条件得出;
                                    异常订单汇总：根据系统类型、质检毛利率筛选条件得出;
                                    异常占比：异常订单汇总/总体订单汇总;
                                    爱机汇数据不包括目标达量服务费、周末狂欢、门店奖励、抽奖、询价小费、子账户/总账户/代理商加款减款、部分活动奖励、垫资模式KA服务费。
                                    质检毛利率=[回收商竞价金额-质检后金额]/竞价金额。
                                    质检毛利额=回收商竞价金额-质检后金额。
                                </p>
                                <div class="row c-border" style="padding-left: 15px;padding-right: 15px;margin: 0px;">
                                    <div class="col-md-12 col-sm-12 col-xs-12 "
                                         style="display:flex;flex-wrap:wrap;">
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <span>系统类型:</span>
                                            <select style="height: 32px;width: 100px;border-radius: 4px;" class="type" id="type">
                                                <option value="Apple" selected="selected">苹果</option>
                                                <option value="Android">安卓</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <span>异常质检毛利率&lt;:</span>
                                            <input class="type" id="profitScope" style="height: 32px;width: 100px;border-radius: 4px; padding: 6px 12px ;" value="22">
                                            <span>%</span>
                                        </div>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <button class="btn btn-primary search" style="padding: 3px 35px;">
                                                查询
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="box box-primary">
                                    <div class="box-header with-border">
                                        <i class="fa fa-bar-chart-o"></i>

                                        <h3 class="box-title">爱机汇</h3>

                                        <div class="box-tools pull-right">
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div class="row">
                                            <h5 class="box-title">异常订单质检毛利率汇总分析</h5>
                                            <table id="aijihui_table_summary" class="table table-striped"
                                                   data-toggle="table"
                                                   data-show-export="true"
                                                   data-pagination="true"
                                                   data-click-to-select="true"></table>
                                            <h5 class="box-title">异常订单明细</h5>
                                            <table id="aijihui_exception_order_table" class="table table-striped"
                                                   data-toggle="table"
                                                   data-show-export="true"
                                                   data-pagination="true"
                                                   data-click-to-select="true"></table>
                                            <h5 class="box-title">异常型号质检毛利率分析</h5>
                                            <table id="aijihui_table" class="table table-striped"
                                                   data-toggle="table"
                                                   data-show-export="true"
                                                   data-pagination="true"
                                                   data-click-to-select="true"></table>
                                            <div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
</template>
