<template name = "Tables">
    <section>
        <div class="row">
            <div class = "col-md-12 col-sm-12 col-xs-12" style="background-color:white;border-width:5px;border-style:solid;">
                <div id="toolbar" class="col-md-6 col-sm-6 col-xs-6">
                </div>
                <table id="OtherPVStatics" 
                        class="cell-border" 
                        style="margin:15px;"
                        data-show-export="true"
                        data-click-to-select="true"
                        data-toolbar="#toolbar" >
                </table>
            </div>
        </div>
        <style>
        </style>
    </section>
</template>