<template name="quotationPrice">
    <div class="content">
        <!-- Main content -->
        <section class="content">
            <div class="template-inspector content body">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <i class="fa fa-bar-chart-o"></i>
                        <h3 class="box-title">竞拍价格 </h3>
                        <div class="box-tools pull-right">
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-6">
                                <div class="small-box bg-light-blue">
                                    <div class="inner">
                                        <h3 name="" id="quotationPrice11">……</h3>
                                        <p>支付金额（竞拍后）</p>
                                        <p>当日11点前</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-6">
                                <div class="small-box bg-light-blue">
                                    <div class="inner">
                                        <h3 name="" id="quotationPrice16">……</h3>
                                        <p>支付金额（竞拍后）</p>
                                        <p>当日16点前</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
</template>