<template name = "pageViewModal">
    <section class="content" style="background-color: white">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="row desktop-only pull-right" style="margin-bottom:1%;position:relative;z-index:2">
                <button type="button" class="daily btn btn-default webTrafficFunnelDate"  style="border: 1px gray solid;width:240px;background-color:white">
                    <i class="fa fa-calendar"></i>
                    <span class="dateSelectLabel"></span>
                    <i class="fa fa-caret-down"></i>
                </button>
            </div>
            <div class="box box-primary " style="border-top-color: transparent;">
                <div class="box-header with-border">
                    <h3 class="box-title" style="border-style: none;font-weight: bolder">URL统计图</h3>
                </div>
                <div class="box-body">
                    <div class="small-box bg-light-blue">
                    </div>
                    <div id="pagenameChart"
                         style="height:550px;margin-top: 3%">
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>