<template name="productCategoryTrafficChart">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">

            <!-- Your Page Content Here -->

            <div class="template-dashboard content body">
                <span style="color:red">注：</span><span>一次数据导出限制在一周。</span>
                <div class="row c-border">
                    <!--<div class="tempExplain"><label class="templabel" style="margin-left: 1%;font-weight:bold;">注：用户在浏览过程中访问过活动页面，就算活动引来的量</label></div>-->
                    <div class=" col-md-12 col-sm-12 col-xs-12 ">
                        <span>请选择查看类型:</span>
                        <select  class="dateType" style="width: 150px;height: 34px;border-radius: 4px;padding: 6px 12px;">
                            <option value="daily">按日期选择</option>
                            <option value="weekly">按周选择</option>
                            <option value="monthly">按月选择</option>
                        </select>
                        <button type="button" class="daily btn btn-default webTrafficFunnelDate"  style="border: 1px gray solid;width:240px;background-color:white">
                            <i class="fa fa-calendar"></i>
                            <span class="dateSelectLabel"></span>
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <button type="button" class="daily btn btn-default webTrafficFunnelWeek"  style="border: 1px gray solid;width:240px;background-color:white">
                            <i class="fa fa-calendar"></i>
                            <span class="weekSelectLabel"></span>
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <button type="button" class="daily btn btn-default webTrafficFunnelMonth"  style="border: 1px gray solid;width:240px;background-color:white">
                            <i class="fa fa-calendar"></i>
                            <span class="monthSelectLabel"></span>
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <span>城市:</span>
                        <select  class="cityName c-mleft5" style="margin-left: 15px;width:150px;border-radius: 4px;padding: 6px 12px;">
                        </select>
                        <span>平台:</span>
                        <select  class="platform c-mleft5" style="margin-left: 28px;width:150px;border-radius: 4px;padding: 6px 12px;">
                        </select>
                        <span>品类:</span>
                        <select class="categoryParentName c-mleft5" style="margin-left: 28px;width:150px;border-radius: 4px;padding: 6px 12px;">
                        </select>
                        <span>子品类:</span>
                        <select  class="categoryName c-mleft5" style="margin-left: 28px;width:150px;border-radius: 4px;padding: 6px 12px;">
                        </select>
                        <span>品牌:</span>
                        <select  class="brandName c-mleft5" style="margin-left: 28px;width:150px;border-radius: 4px;padding: 6px 12px;">
                        </select>
                        <button class="btn btn-primary search">查询</button>
                        <!--<a href="#" class="glyphicon glyphicon-question-sign pull-right" style="margin-top:1%;margin-bottom: 1%;" data-toggle="tooltip"-->
                           <!--title="说明：&#10;一次数据导出限制在一周。"></a>-->
                    </div>
                </div>

                <div id="chartContent">

                <div class="row">

                    <div id="trafficFunnelChart" class="col-md-offset-1 col-md-10 col-sm-10 col-xs-12"
                         style="height:400px;margin-top: 3%;">
                    </div>

                    <div id="trafficStackChart" class="col-md-offset-1 col-md-10 col-sm-10 col-xs-12"
                         style="height:400px;margin-top: 3%;/*border: 1px solid gray*/">
                    </div>

                </div>

                <div id="ctable" class="row" style="margin-top: 15px">

                    <div id="right" class="col-md-12 col-sm-12 col-xs-12" style="border: 1px solid gray">
                        <table id="table"
                               data-toggle="table"
                               data-show-export="true"
                               data-pagination="true"
                               data-click-to-select="true"
                        >
                            <thead>
                            <tr>
                                <th data-field="date" data-sortable="true">日期</th>
                                <th data-field="cityName" data-sortable="true">城市</th>
                                <th data-field="platform" data-sortable="true">平台</th>
                                <th data-field="categoryParentName" data-sortable="true">品类</th>
                                <th data-field="categoryName" data-sortable="true">子品类</th>
                                <th data-field="brandName" data-sortable="true">品牌</th>
                                <th data-field="query" data-sortable="true">询价访客数</th>
                                <th data-field="querySuccess" data-sortable="true">询价完成访客数</th>
                                <th data-field="tradeType" data-sortable="true">选择回收方式访客数</th>
                                <th data-field="submit" data-sortable="true">提交访客数</th>
                            </tr>
                            </thead>


                        </table>

                    </div>
                </div>
                </div>
                <div style="text-align: center;margin-top: 150px" id="loading">
                    <img src="/images/loading.gif">
                </div>
            </div>



        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
</template>
