<template name="productUserTagDataInfo">
    <!-- Content Wrapper. Contains page content -->
    <div class="content">
        <!-- Main content -->
        <section class="content">

            <!-- Your Page Content Here -->

            <div id="chartContent" class="template-dashboard content body">

                <div >
                    <span style="color:red">注：</span><span>请等待，文件导出大约1分钟...<br></span>

                    <div>
                        <label style="margin-top:20px">用户标签数据</label>
                        <div id="etableTolenrateVenderDown" class="row" style="margin-top: 15px;border: 1px solid gray">
                            <div style="text-align: center;margin-top: 150px" id="loadingTolenrateVenderDown">
                                <img src="/images/loading.gif">
                            </div>
                            <div id="rightT" class="col-md-12 col-sm-12 col-xs-12" style="">
                                <table id="dataTableTolenrateVenderDown"
                                       data-toggle="table"
                                       data-pagination="true"
                                       data-click-to-select="true"
                                >


                                </table>

                            </div>
                        </div>
                    </div>

                </div>

                </div>

        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
</template>