<template name="recyclerFullBidding">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">

            <!-- Your Page Content Here -->

            <div id="chartContent" class="template-dashboard content body" style="min-height: 10px">

                <div class="row c-border" style="padding-left: 15px;padding-right: 15px;">
                    <div class="col-md-12 col-sm-12 col-xs-12 "
                         style="display:flex;flex-wrap:wrap;">

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <span style="width: 100px">时间:</span>
                            <button type="button" style="border: 1px gray solid;background-color:white"
                                    class="daily btn btn-default datePicker">
                                <i class="fa fa-calendar"></i>
                                <span class="selectLabel">2017-01-01~2017-01-01</span>
                                <i class="fa fa-caret-down" style="margin-left: 28px"></i>
                            </button>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <span>品类:</span>
                            <select class="category" multiple="multiple" style=";border-radius: 4px;padding: 6px 12px;">
                                <option>手机</option>
                                <option>笔记本</option>
                                <option>平板电脑</option>
                                <option>单反相机+镜头</option>
                            </select>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <span>品牌:</span>
                            <select class="brand" multiple="multiple" style=";border-radius: 4px;padding: 6px 12px;">
                            </select>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <span style="visibility: hidden;">区域:</span>
                            <button class="btn btn-primary search" style="padding: 2px 60px;height: 34px">
                                查询
                            </button>
                        </div>
                    </div>


                </div>
                <div class="row box box-primary" style="width: auto;">
                    <div class="box-header with-border">
                        <h3 class="box-title" style="border-style: none;font-weight: bold">图形化</h3>

                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">

                        </div>
                        <div class="row">
                            <div id="chart" class="col-md-12 col-sm-12 col-xs-12"
                                 style="height:400px;">
                            </div>

                        </div>

                    </div><!-- /.box-body -->
                </div><!-- /.box -->
                <div class="row box box-primary" style="width: auto;">
                    <div class="box-header with-border">
                        <h3 class="box-title" style="border-style: none;font-weight: bold">数据细分</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="row" style="">
                            <div  class="col-md-12 col-sm-12 col-xs-12" >
                                <table id="table"
                                       data-toggle="table"
                                       data-show-export="true"
                                       data-pagination="true"
                                       data-click-to-select="true"
                                >
                                </table>
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                </div>
                <div style="text-align: center;margin-top: 150px" id="loading">
                    <img src="/images/loading.gif">
                </div>

            </div>

        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
</template>