.container {
  background-color: #fff;
}

.btn {
  margin-bottom: 10px;
}

.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}
.clearfix:after {
  clear: both;
}

.btnSearch {
  margin: 16px 0;
}

.searchWrapper {
  display: flex;
  margin-bottom: 16px;
  float: left;
  padding-left: 16px;
}

.btnContainer {
  margin-bottom: 16px;
  float: right;
  padding-right: 16px;
}

.search {
  width: 400px;
  margin-right: 16px;
}

.clearBtns {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.sortNo {
  width: 100%;
  display: inline-block;
}

.sortInput {
  width: 200px;
}
