<template name = "dataDictionary">
    <link rel="stylesheet" type="text/css" href="/assets/zTree_v3/css/metroStyle/metro.css"/>
    <style>

        .nav-tabs-custom > .nav-tabs > li.active {
            border-top-color: #131111;
        }

        .box-resize {
            margin-bottom: 2px;
        }
        .selfSelectedNode{
            background-color:#3c8dbc !important;
        }
    </style>

    <div class="content">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-resize box-solid">
                        <div class="box-header" style="padding-left: 10px;padding-top: 10px;padding-bottom: 2px;">
                            <i class="fa fa-bar-chart-o"></i>

                            <h3 class="box-title">数据字典</h3>

                            <div class="box-tools pull-right">

                            </div>
                        </div>
                        <div class="box-body" style="background:#eee;border:5px solid #fff;">
                            <div class="row" style="margin:0 auto;padding-top:2px;">
                                <div class="col-md-3" style="padding-left: 0px;">
                                    <div class="box box-resize box-solid">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">数据树</h3>
                                            <div class="box-tools">
                                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="box-body no-padding" style="overflow-x:auto;overflow-y:auto;height:745px;">
                                            <ul id="treeDemo" class="ztree"></ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-9" style="padding-left: 0px;padding-right: 0px;">
                                    <div class="box box-resize box-solid">
                                        <div class="box-header with-border" id="header-title">
                                            <h3 class="box-title">面板</h3>
                                        </div>

                                        <div id="home-db-or-table" class="box-body no-padding" style="overflow-x:auto;overflow-y:auto;height:745px;">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>