<template name="departmentRevenueShow">
    <!-- Content Wrapper. Contains page content -->
    <div class="content">
        <!-- Main content -->
        <section class="content">

            <!-- Your Page Content Here -->

            <div id="chartContent" class="template-dashboard content body">
                <div class="row box box-primary" style="width: auto;">
                    <div class="box-header with-border">
                        <h3 class="box-title" style="border-style: none;font-weight: bold">营收额，毛利额走势图</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-3 col=sm-3 col-md-3">
                                <span>请选择时间</span>
                                <button type="button" style="border: 1px gray solid;background-color:white"
                                        class="monthly btn btn-default  datePicker">
                                    <i class="fa fa-calendar"></i>
                                    <span class="duringDateLabel"></span>
                                    <i class="fa fa-caret-down" style="margin-left: 28px"></i>
                                </button>
                            </div>

                           <!-- <span>请选择部门</span>
                            <select class="department">
                            </select>-->

                            <!--<button class="btn btn-primary search" style="width:150px;border:none">确定</button>-->
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div id="realtimeRevenueChart" style="height:400px;margin-top:40px">

                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div id="realtimeGrossChart" style="height:400px;margin-top:40px">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <!--<div style="text-align: center;margin-top: 150px" id="loading">
                <img src="/images/loading.gif">
            </div>-->


        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
</template>