<template name="ZhiMaTradeMonitor">
    <!-- Content Wrapper. Contains page content -->
    <div class="content">

        <section class="content">

            <div class="col-md-12">
                <div class="nav-tabs-custom">

                    <div class="template-operation content body">
                        <div  class="row">
                            <select id="type" class="pull-right" style="width: 100px; height: 34px; border-radius: 4px; padding: 6px 12px;    margin-right: 15px;/">
                                <option value="147">支付宝小程序</option>
                                <option value="91">芝麻</option>
                                <option value="110">闲鱼</option>
                                <option value="102">华为</option>
                                <option value="122">三星信用回收</option>
                                <option value="48">京东信用回收</option>
                                <option value="4801">京东以旧换新</option>
                            </select>
                        </div>
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <i class="fa fa-bar-chart-o"></i>

                                <h3 class="box-title">今日订单数据</h3>

                                <div class="box-tools pull-right">
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-3 col-sm-6 col-xs-6">
                                        <div class="small-box bg-light-blue">
                                            <div class="inner">
                                                <h3 name="operationData" id="creditRecycleCount">……</h3>
                                                <span id="creditRecycleCountYesterday" style="font-size: medium">
                                                    (昨日同时间:……)
                                                </span>

                                                <p style="font-size: large">信用回收提交量</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-6">
                                        <div class="small-box bg-light-blue">
                                            <div class="inner">
                                                <h3 name="operationData" id="creditRecycleAmount">……</h3>
                                                <span id="creditRecycleAmountYesterday" style="font-size: medium">
                                                    (昨日同时间:……)
                                                </span>

                                                <p style="font-size: large">信用回收提交额</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 col-sm-6 col-xs-6">
                                        <div class="small-box bg-light-blue">
                                            <div class="inner">
                                                <h3 name="operationData" id="creditRecycleDealCount">……</h3>
                                                <span id="creditRecycleDealCountYesterday" style="font-size: medium">
                                                    (昨日同时间:……)
                                                </span>

                                                <p style="font-size: large">信用回收成交量</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-6">
                                        <div class="small-box bg-light-blue">
                                            <div class="inner">
                                                <h3 name="operationData" id="creditRecycleDealAmount">……</h3>
                                                <span id="creditRecycleDealAmountYesterday" style="font-size: medium">
                                                    (昨日同时间:……)
                                                </span>

                                                <p style="font-size: large">信用回收成交额</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 col-sm-6 col-xs-6">
                                        <div class="small-box bg-light-blue">
                                            <div class="inner">
                                                <h3 name="operationData" id="prePayCount">……</h3>
                                                <span id="prePayCountYesterday" style="font-size: medium">
                                                    (昨日同时间:……)
                                                </span>

                                                <p style="font-size: large">预付订单量</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-6">
                                        <div class="small-box bg-light-blue">
                                            <div class="inner">
                                                <h3 name="operationData" id="prePayAmount">……</h3>
                                                <span id="prePayAmountYesterday" style="font-size: medium">
                                                    (昨日同时间:……)
                                                </span>

                                                <p style="font-size: large">预付订单额</p>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <div class="row jd" style="display: none;">
                                    <div class="col-md-3 col-sm-6 col-xs-6">
                                        <div class="small-box bg-light-blue">
                                            <div class="inner">
                                                <h3 name="operationData" id="xiaobai">……</h3>
                                                <span id="prexiaobai" style="font-size: medium">
                                                    (昨日同时间:……)
                                                </span>

                                                <p style="font-size: large">小白通过数</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3 col-sm-6 col-xs-6">
                                        <div class="small-box bg-light-blue">
                                            <div class="inner">
                                                <h3 name="operationData" id="ahsrate">……</h3>
                                                <span id="preahsrate" style="font-size: medium">
                                                    (昨日同时间:……)
                                                </span>

                                                <p style="font-size: large">风控通过率</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row jd" style="display: none;">

                                    <div class="col-md-3 col-sm-6 col-xs-6">
                                        <div class="small-box bg-light-blue">
                                            <div class="inner">
                                                <h3 name="operationData" id="ahspass">……</h3>
                                                <span id="preahspass" style="font-size: medium">
                                                    (昨日同时间:……)
                                                </span>

                                                <p style="font-size: large">AHS通过量</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-6">
                                        <div class="small-box bg-light-blue">
                                            <div class="inner">
                                                <h3 name="operationData" id="ahsreject">……</h3>
                                                <span id="preahsreject" style="font-size: medium">
                                                    (昨日同时间:……)
                                                </span>

                                                <p style="font-size: large">AHS拦截量</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row jd" style="display: none;">
                                    <div class="col-md-3 col-sm-6 col-xs-6">
                                        <div class="small-box bg-light-blue">
                                            <div class="inner">
                                                <h3 name="operationData" id="withhold">……</h3>
                                                <span id="prewithhold" style="font-size: medium">
                                                    (昨日同时间:……)
                                                </span>

                                                <p style="font-size: large">代扣量</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer">
                            </div>
                        </div>
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <i class="fa fa-bar-chart-o"></i>

                                <h3 class="box-title">历史总数据</h3>

                                <div class="box-tools pull-right">
                                </div>
                            </div>
                            <div class="box-body">
                                <!--<div class="row">
                                    <div class="col-md-3 col-sm-6 col-xs-6">
                                        <div class="small-box bg-light-blue">
                                            <div class="inner">
                                                <h3 name="operationData" id="prePayCountTotal">……</h3>

                                                <p>预付订单总量</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-6">
                                        <div class="small-box bg-light-blue">
                                            <div class="inner">
                                                <h3 name="operationData" id="prePayAmountTotal">……</h3>

                                                <p>预付订单总额</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->
                                <div class="row">
                                    <div class="col-md-3 col-sm-6 col-xs-6">
                                        <div class="small-box bg-light-blue">
                                            <div class="inner">
                                                <h3 name="operationData" id="failChargebackCount">……</h3>

                                                <p>代扣未成功总量</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-6">
                                        <div class="small-box bg-light-blue">
                                            <div class="inner">
                                                <h3 name="operationData" id="failChargebackAmount">……</h3>

                                                <p>代扣未成功总额</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer">
                            </div>
                        </div>
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <i class="fa fa-bar-chart-o"></i>

                                <h3 class="box-title">代扣未成功明细</h3>

                                <div class="box-tools pull-right">
                                </div>
                            </div>
                            <div class="">
                                <div  class="col-md-12 col-sm-12 col-xs-12" >
                                    <table id="table"
                                           data-toggle="table"
                                           data-show-export="true"
                                           data-pagination="true"
                                           data-click-to-select="true"
                                    >
                                        <thead>
                                        <tr>
                                            <th data-field="create_dt">订单创建时间</th>
                                            <th data-field="product_name" data-sortable="true">商品名</th>
                                            <th data-field="submited_amount" data-sortable="true">提交金额</th>
                                           <!-- <th data-field="orderStatus" data-sortable="true">订单状态</th>-->
                                            <th data-field="order_no" data-sortable="true">订单号</th>
                                            <th data-field="type" data-sortable="true">代扣类型</th>
                                            <th data-field="amount" data-sortable="true">代扣金额</th>
                                            <th data-field="status" data-sortable="true">支付状态</th>
                                            <th data-field="errMsg" data-sortable="true">代扣失败信息</th>
                                            <th data-field="wait_paid_dt" data-sortable="true">代扣发起时间</th>
                                            <th data-field="param_value" data-sortable="true">芝麻分/用户等级</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Your Page Content Here -->
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
</template>