<Template name="priceComparisonJDTest">
    <div class="content">

        <section class="content">

            <div id="chartContent" class="template-dashboard content body">

                <div class="row">
                    <span style="color:red">注：每天凌晨清空旧数据同时导入新数据，早上7点开始爬取价格。</span>
                    <div class="col-md-12 col-sm-12 col-xs-12" style="display:flex;flex-wrap:wrap;">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <span class="search_span">sku_id</span>
                            <select class="sku_id  "></select>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <span class="search_span">品类</span>
                            <select class="category "></select>

                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <span class="search_span">品牌</span>
                            <select class="brand "></select>

                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <span class="search_span">型号</span>
                            <select class="type"></select>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <span class="search_span">小型号</span>
                            <select class="sm_type"></select>

                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <span class="search_span">购买渠道</span>
                            <select class="buy_channel "></select>

                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <span class="search_span">网络制式</span>
                            <select class="network_type "></select>

                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <span class="search_span ">容量</span>
                            <select class="store_capacity "></select>

                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <span class="search_span">颜色</span>
                            <select class="color "></select>

                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <span class="search_span">保修</span>
                            <select class="guarantee "></select>

                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <span class="search_span">对比渠道</span>
                            <select class="comparison_channel "></select>


                        </div>
                        <!--<div class="col-md-3 col-sm-6 col-xs-12">-->
                            <!--<span class="search_span">对比参数</span>-->
                            <!--<select class="parameter "></select>-->


                        <!--</div>-->

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <span class="search_span">爱回收价</span>
                            <select class="price_ahs "></select>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <span class="search_span">竞品价</span>
                            <select class="price_other "></select>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">

                            <button class="btn btn-primary search" style="padding: 2px 60px;position:relative;left:-50px">
                                查询
                            </button>
                        </div>

                    </div>
                </div>
                <div class="row" style="margin-top: 40px">
                    <div class="col-xs-12 col-sm-12 col-md-12  ">
                        <table id="comparisonDataShow"
                               data-toggle="table"
                               data-show-export="true"
                               data-pagination="true"
                               >

                        </table>

                    </div>
                </div>



            </div>

            <div style="text-align: center;margin-top: 150px" id="loading">
                <img src="/images/loading.gif">
            </div>

        </section>

    </div>
</Template>