<template name="RecyclerMap">
    <!-- Content Wrapper. Contains page content -->
    <div class="content">
        <!-- Main content -->
        <section class="content">

            <!-- Your Page Content Here -->
            <div class="template-dashboard content body">
                <div class="row">
                    <div id="RecyclerCityDistributionGeoChart" class="col-md-12 col-sm-12 col-xs-12"
                         style="height:800px">
                    </div>
                </div>
                <div class="row" style="margin-top: 3%">
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        <div id="ctable" class="row" style="margin-top: 15px">

                            <div id="right" class="col-md-12 col-sm-12 col-xs-12" style="border: 1px solid gray">
                                <table id="RecyclerMaintainerTable"
                                       data-toggle="table"
                                       data-show-export="true"
                                       data-pagination="true"
                                       data-click-to-select="true">
                                    <thead>
                                    <tr>
                                        <th data-field="maintainer" data-sortable="true">维护人</th>
                                        <th data-field="recyclerType" data-sortable="true">回收商类型</th>
                                        <th data-field="recyclerCount" data-sortable="true">回收商数量</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="RecyclerCityDistributionPieChart" class="col-md-5 col-sm-5 col-xs-12" style="height:400px">
                    </div>
                </div>

            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
</template>