<template name="RTQuotationData">
    <!-- Content Wrapper. Contains page content -->
    <div class="content">
        <!-- Main content -->
        <section class="content">
            <div class="row col-md-12 col-sm-12 col-xs-12" style="overflow: auto">
                <h3>当日竞价结算明细</h3>
                <table id="table"
                       data-toggle="table"
                       data-show-export="true"
                       data-pagination="true"
                       data-click-to-select="true"
                ></table>
            </div>
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
</template>