<template name="saleInventoryRealTimeDetailInfo">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">

            <!-- Your Page Content Here -->

            <div  class="template-dashboard content body">
                <!--<div>-->
                    <!--<a href="#" class="glyphicon glyphicon-question-sign "  data-toggle="tooltip" title="说明：-->
<!--1、平均成本=库存金额/库存数量。-->
<!--2、库存数量：在库可用库存总数量。-->
<!--3、库存金额：在库可用库存总金额。-->
<!--"></a>-->
                <!--</div>-->
                <div class="row c-border" style="padding-left: 15px;padding-right: 15px;width: 100%;">
                    <div class="col-md-12 col-sm-12 col-xs-12 "
                         style="display:flex;flex-wrap:wrap;">

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <span style="padding-right: 22px;">品类:</span>
                            <input type="text" class="category" style=";border-radius: 4px;padding: 6px 12px;"/>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <span style="padding-right: 22px;">品牌:</span>
                            <input type="text" class="brand" style=";border-radius: 4px;padding: 6px 12px;"/>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <span style="padding-right: 22px;">商品:</span>
                            <input type="text" class="product" style=";border-radius: 4px;padding: 6px 12px;"/>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 "
                         style="display:flex;flex-wrap:wrap;">

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <span style="padding-right: 17px;">skuId:</span>
                            <input type="text" class="skuId" style=";border-radius: 4px;padding: 6px 12px;"/>

                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <span>sku名称:</span>
                            <input type="text" class="skuName" style=";border-radius: 4px;padding: 6px 12px;"/>

                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <span style="padding-right: 22px;">等级:</span>
                            <input type="text" class="level" style=";border-radius: 4px;padding: 6px 12px;"/>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <span style="visibility: hidden;padding-right: 8px;">请区域:</span>
                            <button class="btn btn-primary search" style="padding: 5px 60px;">
                                查询
                            </button>
                        </div>

                    </div>

                </div>

                <div id="chartContent">
                    <div class="row box box-primary">
                        <div class="box-header with-border">
                            <i class="fa fa-bar-chart-o"></i>

                            <h3 class="box-title">汇总数据</h3>

                            <div class="box-tools pull-right">
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">

                                <div class="col-md-3 col-sm-6 col-xs-6">
                                    <div class="small-box bg-light-blue">
                                        <div class="inner">
                                            <h3 id="inventoryCount">……</h3>
                                            <p>库存数量</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-6">
                                    <div class="small-box bg-light-blue">
                                        <div class="inner">
                                            <h3 id="inventoryAmount">……</h3>
                                            <p>库存金额</p>
                                        </div>
                                    </div>
                                </div>
                                <div class = "col-md-3 col-sm-6 col-xs-6">
                                    <div class = "small-box bg-light-blue" >
                                        <div class="inner">
                                            <h3 id = "avgCost">……</h3>
                                            <p>平均成本(不含维修)</p>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class = "col-md-3 col-sm-6 col-xs-6">
                                    <div class = "small-box bg-light-blue">
                                        <div class="inner">
                                            <h3 id = "avgCostRepair">……</h3>
                                            <p>平均成本(含维修)</p>
                                        </div>
                                    </div>
                                </div>-->
                            </div>
                        </div>
                        <div class="box-footer">
                        </div>
                    </div>
                    <div class="row box box-primary" >
                        <div class="box-header with-border">
                            <i class="fa fa-bar-chart-o"></i>
                            <h3 class="box-title" style="border-style: none;font-weight: bold">详细数据</h3>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <div class="row" style="">
                                <div  class="col-md-12 col-sm-12 col-xs-12" >
                                    <table id="table"
                                           data-toggle="table"
                                           data-show-export="true"
                                           data-pagination="true"
                                           data-click-to-select="true"
                                    >
                                    </table>
                                </div>
                            </div>
                        </div><!-- /.box-body -->
                    </div>

                    <div style="margin-left: 1%;font-weight:bold;">
                        <span style="color:red">注：</span><br>
                        1、平均成本=库存金额/库存数量。<br>
                        2、库存数量：在库可用库存总数量。<br>
                        3、库存金额：在库可用库存总金额。<br>
                    </div>

                </div>

            </div>
            <div style="text-align: center;margin-top: 150px" id="loading">
                <img src="/images/loading.gif">
            </div>
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
</template>