<template name="userMigrationMatrix">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
    <!-- Main content -->
    <section class="content" style="background-color: white">

        <!-- Your Page Content Here -->

        <div class="template-dashboard content body">

            <div class="row desktop-only c-border">
                <div class="tempExplain"><label id="templabel" style="margin-left: 1%;font-weight:bold;">注：颜色深浅代表数值的大小；灰色代表两种可能：1、分母为0，2、没有值。</label></div>
                <div class=" col-md-12 col-sm-12 col-xs-12 ">
                    <span>请选择查看类型:</span>
                    <select  class="dateType" style="width: 150px;height: 34px;border-radius: 4px;padding: 6px 12px;">
                        <!--<option value="weekly">按周选择</option>-->
                        <option value="monthly">按月选择</option>
                    </select>
                    <button type="button" class="daily btn btn-default webTrafficFunnelWeek"  style="border: 1px gray solid;width:240px;background-color:white">
                        <i class="fa fa-calendar"></i>
                        <span class="weekSelectLabel"></span>
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <button type="button" class="daily btn btn-default webTrafficFunnelMonth"  style="border: 1px gray solid;width:240px;background-color:white">
                        <i class="fa fa-calendar"></i>
                        <span class="monthSelectLabel"></span>
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <span>渠道:</span>
                    <select  class="source" style="width: 150px;height: 34px;border-radius: 4px;padding: 6px 12px;">
                        <option value="自营">自营</option>
                        <option value="BD">BD</option>
                    </select>
                    <span>类型:</span>
                    <select  class="type" style="width: 150px;height: 34px;border-radius: 4px;padding: 6px 12px;">
                        <option value="recency">用户数(%)</option>
                        <option value="profit">金额(元)</option>
                    </select>

                    <button class="btn btn-primary search">查询</button>
                </div>
            </div>
            <div class="row mobile-only desktop-none ">
                <!--<div class="tempExplain"><label id="templabel" style="margin-left: 1%;font-weight:bold;">注：用户在浏览过程中访问过活动页面，就算活动引来的量</label></div>-->
                <div class=" col-md-12 col-sm-12 col-xs-12 ">
                    <span>请选择查看类型:</span>
                    <select  class="dateType" style="width: 150px;height: 34px;border-radius: 4px;padding: 6px 12px;">
                        <!--<option value="weekly">按周选择</option>-->
                        <option value="monthly">按月选择</option>
                    </select>
                    <button type="button" class="daily btn btn-default webTrafficFunnelWeek"  style="border: 1px gray solid;width:240px;background-color:white">
                        <i class="fa fa-calendar"></i>
                        <span class="weekSelectLabel"></span>
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <button type="button" class="daily btn btn-default webTrafficFunnelMonth"  style="border: 1px gray solid;width:240px;background-color:white">
                        <i class="fa fa-calendar"></i>
                        <span class="monthSelectLabel"></span>
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div>
                    <span>渠道:</span>
                    <select  class="source" style="width: 150px;height: 34px;border-radius: 4px;padding: 6px 12px;">
                        <option value="自营">自营</option>
                        <option value="BD">BD</option>
                    </select>
                    </div>
                    <div>
                    <span>类型:</span>
                    <select  class="type" style="width: 150px;height: 34px;border-radius: 4px;padding: 6px 12px;">
                        <option value="recency">用户数</option>
                        <option value="profit">金额</option>
                    </select>
                    </div>

                    <button class="btn btn-primary search">查询</button>
                </div>
            </div>


            <div class="row box box-primary" style="width: auto; margin-top:15px">
                <div class="box-body">
                    <div id="chartContent">

                        <div class="row">

                            <div id="trafficFunnelChart" class="col-md-12 col-sm-12 col-xs-12"
                                 style="height:600px;margin-top: 3%;/*border: 1px solid gray*/">
                            </div>

                        </div>

                    </div>
                </div><!-- /.box-body -->
            </div>

            <div style="margin-left: 1%;font-weight:bold;">
                用户群体定义：<br>
                zero or negtive profit：平均利润 &lt;=0<br>
                churn：购买频率 &gt;18<br>
                silent：购买频率 &gt;12<br>
                active mid value：【平均利润 &lt;=80且购买频率&lt;=12】或【80 &lt;平均利润&lt;=420且6&lt;购买频率&lt;=12】 <br>
                active high value：【平均利润&gt;420且购买频率&lt;=12】或【80 &lt;平均利润&lt;=420且购买频率&lt;=6】 <br>
                other：在以上条件区间外的归于此 <br><br>
                注：利润（元）、购买频率（月）<br>
            </div>


            <div style="text-align: center;margin-top: 150px" id="loading">
                <img src="/images/loading.gif">
            </div>
        </div>

    </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
</template>
