<template name="home">
    <div class="content" style="background-color: #d2d6de;min-height:1000px">
        <section class="content">
            <div class="login-box">
                <div class="login-logo">
                    爱回收信息管理平台
                </div>
                <div class="login-box-body">
                    <p class="login-box-msg">您没有该模块访问权限！</p>
                    <div class="social-auth-links text-center">
                        <p>- -</p>
                        <p>watcher访问权限，请走OA流程，具体路径：</p>
                        <p>登录oa-->流程-->新建流程-->数据中台-->数据报表权限申请</p>
                        <p>（1)权限类型：watcher权限</p>
                        <p>（2)权限子类型：</p>
                        <p>C2B相关--收机渠道；</p>
                        <p>拍机堂提交、竞拍相关--竞价平台；</p>
                        <p>运营中心、标准相关--运营平台；</p>
                    </div>
                    <br>
                </div>
            </div>
        </section>
    </div>
</template>