<template name="alirealtimeOPTB2BSupplyInfo">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">

            <div class="row col-md-12 col-sm-12 col-xs-12" id="mainIFrame-wrapper" style="overflow:auto;">
                <iframe id="mainIFrame"
                        name="mainIFrame"
                        frameborder="no"
                        width="1800"
                        height="1000"
                        scrolling="yes"
                        src="https://datav.aliyun.com/share/7b5210bf9d6d1d4c716a9ade80224bf5"></iframe>
            </div>
<!--
            http://datav.aliyun.com/share/2b4fd6b7f61d7b32e4c8f150ca5f2fb2?spm=0.0.0.0.i4c7tq
-->
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
</template>

