<template name="AllExpressTradeDashboard">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">

            <!-- Your Page Content Here -->
            <div class="template-dashboard content body">

                <div class="row"><span class="text-bold">注:不包括B2B订单。</span></div>

                <div class="row">
                    <h3 id="yesterdayTradeReceiptCount">……</h3>
                    <div id="realTimeAllExpressSourceTypeMixedChart" class="col-md-12 col-sm-12 col-xs-12"
                         style="height:600px;margin-top: 3%">
                    </div>
                    <!--<div id="realTimeTrafficChart" class="col-md-6 col-sm-6 col-xs-12"
                         style="height:400px;margin-top: 3%"></div>-->
                </div>
                <!--<div class="row">

                </div>-->
            </div>

        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
</template>

