<template name="InspectionStats">
    <div class="content">
        <!-- Main content -->
        <section class="content">
            <div class="template-inspector content body">

                <div class="row"><span class="text-bold">注:括号内百分比为一次性质检通过率。</span></div>
                <div class="row">
                    <div id="inspectorStatsChart" class="col-md-10 col-sm-12 col-xs-12" style="height: 600px"></div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div id="inspectorByCategoryStatsChart" class="col-md-10 col-sm-12 col-xs-12" style="height: 600px"></div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div id="randomInspectorStatsChart" class="col-md-10 col-sm-12 col-xs-12" style="height: 400px"></div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div id="reInspectorStatsChart" class="col-md-10 col-sm-12 col-xs-12" style="height: 400px"></div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div id="returnStatsChart" class="col-md-10 col-sm-12 col-xs-12"
                         style="height:400px;margin-top: 3%"></div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div id="inspectionGroupChart" class="col-md-10 col-sm-12 col-xs-12"
                         style="height:400px;margin-top: 3%"></div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div id="pickingStatsChart" class="col-md-10 col-sm-12 col-xs-12" style="height: 600px"></div>
                </div>
            </div>
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
</template>