<template name="inspector">
    <div class="content">
        <!-- Main content -->
        <section class="content">
            <div class="template-inspector content body">

                <div class="row">
                    <div id="inspectorStatsChart" class="col-md-10 col-sm-12 col-xs-12"
                         style="height:900px"></div>
                </div>
                <div class="row"><span class="text-bold">注:括号内百分比为质检通过率。</span></div>
                <div class="row">
                    <div id="inspectionGroupChart" class="col-md-10 col-sm-12 col-xs-12"
                         style="height:400px;margin-top: 3%"></div>
                </div>
            </div>
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
</template>