<template name="operationRealTimeData">
    <style>

        /*数字区域加载动画css*/
        .spinner {
            width: 100px;
            text-align: center;
            margin: 0 auto;
        }

        .spinner > div {
            width: 10px;
            height: 10px;
            background-color: #747474;

            border-radius: 100%;
            display: inline-block;
            -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
            animation: bouncedelay 1.4s infinite ease-in-out;
            /* Prevent first frame from flickering when animation starts */
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
        }

        .spinner .bounce1 {
            -webkit-animation-delay: -0.32s;
            -moz-animation-delay: -0.32s;
            -ms-animation-delay: -0.32s;
            -o-animation-delay: -0.32s;
            animation-delay: -0.32s;
        }

        .spinner .bounce2 {
            -webkit-animation-delay: -0.16s;
            -moz-animation-delay: -0.16s;
            -ms-animation-delay: -0.16s;
            -o-animation-delay: -0.16s;
            animation-delay: -0.16s;
        }

        @-webkit-keyframes bouncedelay {
            0%, 80%, 100% { -webkit-transform: scale(0.0) }
            40% { -webkit-transform: scale(1.0) }
        }

        @-moz-keyframes bouncedelay {
            0%, 80%, 100% { -moz-transform: scale(0.0) }
            40% { -moz-transform: scale(1.0) }
        }

        @-ms-keyframes bouncedelay {
            0%, 80%, 100% { -ms-transform: scale(0.0) }
            40% { -ms-transform: scale(1.0) }
        }

        @-o-keyframes bouncedelay {
            0%, 80%, 100% { -o-transform: scale(0.0) }
            40% { -o-transform: scale(1.0) }
        }

        @keyframes bouncedelay {
            0%, 80%, 100% {
                transform: scale(0.0);
                -webkit-transform: scale(0.0);
                -moz-transform: scale(0.0);
                -ms-transform: scale(0.0);
                -o-transform: scale(0.0);
            } 40% {
                  transform: scale(1.0);
                  -webkit-transform: scale(1.0);
                  -moz-transform: scale(0.0);
                  -ms-transform: scale(0.0);
                  -o-transform: scale(0.0);
              }
        }

        @media screen and (max-width:1600px) {
            .unit-s{
                font-size:12px;
                font-weight: normal;
                color:#999;
            }

            .description-fo{
                font-size:12px;
                color:#999;
                font-weight: BOLD;
            }
        }

        /*大于1600px*/
        /*数字区域加载动画css结束*/
        @media screen and (min-width:1600px) {
            .unit-s{
                font-size:14px;
                font-weight: normal;
                color:#999;
            }

            .description-fo{
                font-size:18px;
                color:#999;
                font-weight: BOLD;
            }
        }

        .num-z{
            font-size:25px;
        }

        .body-div-pro{
            border-top:1px solid #eee;border-top-width:5px;
        }

        .none-span {
            font-size:25px;color:#afa7a7;text-align:center;width:100%;margin:0 auto;display:block;margin-top:20px;letter-spacing:5px;
        }

    </style>
    <div class="content">
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-solid">
                        <div class="box-header">
                            <i class="fa fa-bar-chart-o"></i>
                            <h3 class="box-title">运营中心实时概览</h3>
                            <div class="box-tools pull-right">
                                <h5 class="description-header" style="text-align:right;margin-right:15px;"><span>最新更新时间:</span> <span id="cacheUpdateTime"></span> &nbsp;&nbsp;更新频率:5分钟</h5>
                            </div>
                        </div>
                        <div class="box-body body-div-pro">
                            <div class="row">
                                <div class="col-md-3 col-sm-6 border-right" id="receiveGoodsLoadingPanel" style="display: none;">
                                    <div class="description-block">
                                        <br>
                                        <br>
                                        <div class="spinner">
                                            <div class="bounce1"></div>
                                            <div class="bounce2"></div>
                                            <div class="bounce3"></div>
                                        </div>
                                        <br>
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-6 border-right" id="receiveGoodsPanel" style="display: block;">
                                    <div class="description-block">
                                        <h5 class="description-header"><span id="receiveGoodsNum" class="num-z">13</span> <span class="unit-s"> 台</span></h5>
                                        <br>
                                        <span class="description-text"><span class="description-fo">总收货量</span></span>
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-6 border-right" id="qualityCheckLoadingPanel" style="display: none;">
                                    <div class="description-block">
                                        <br>
                                        <br>
                                        <div class="spinner">
                                            <div class="bounce1"></div>
                                            <div class="bounce2"></div>
                                            <div class="bounce3"></div>
                                        </div>
                                        <br>
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-6 border-right" id="qualityCheckPanel" style="display: block;">
                                    <div class="description-block">
                                        <h5 class="description-header"><span id="qualityCheckNum" class="num-z">108,991</span> <span class="unit-s"> 台</span></h5>
                                        <br>
                                        <span class="description-text"><span class="description-fo">总质检量</span></span>
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-6 border-right" id="randomCheckLoadingPanel" style="display: none;">
                                    <div class="description-block">
                                        <br>
                                        <br>
                                        <div class="spinner">
                                            <div class="bounce1"></div>
                                            <div class="bounce2"></div>
                                            <div class="bounce3"></div>
                                        </div>
                                        <br>
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-6 border-right" id="randomCheckPanel" style="display: block;">
                                    <div class="description-block">
                                        <h5 class="description-header"><span id="randomCheckNum" class="num-z">13</span> <span class="unit-s"> 台</span></h5>
                                        <br>
                                        <span class="description-text"><span class="description-fo">总抽检量</span></span>
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-6" id="inHouseLoadingPanel" style="display: none;">
                                    <div class="description-block">
                                        <br>
                                        <br>
                                        <div class="spinner">
                                            <div class="bounce1"></div>
                                            <div class="bounce2"></div>
                                            <div class="bounce3"></div>
                                        </div>
                                        <br>
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-6" id="inHousePanel" style="display: block;">
                                    <div class="description-block">
                                        <h5 class="description-header"><span id="inHouseNum" class="num-z">108,991</span> <span class="unit-s"> 台</span></h5>
                                        <br>
                                        <span class="description-text"><span class="description-fo">总入库量</span></span>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="box-body body-div-pro">

                            <div class="row">
                                <div class="col-md-3 col-sm-6 border-right" id="outHouseLoadingPanel" style="display: none;">
                                    <div class="description-block">
                                        <br>
                                        <br>
                                        <div class="spinner">
                                            <div class="bounce1"></div>
                                            <div class="bounce2"></div>
                                            <div class="bounce3"></div>
                                        </div>
                                        <br>
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-6 border-right" id="outHousePanel" style="display: block;">
                                    <div class="description-block">
                                        <h5 class="description-header"><span id="outHouseNum" class="num-z">13</span> <span class="unit-s"> 台</span></h5>
                                        <br>
                                        <span class="description-text"><span class="description-fo">总出库量</span></span>
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-6 border-right" id="stockLoadingPanel" style="display: none;">
                                    <div class="description-block">
                                        <br>
                                        <br>
                                        <div class="spinner">
                                            <div class="bounce1"></div>
                                            <div class="bounce2"></div>
                                            <div class="bounce3"></div>
                                        </div>
                                        <br>
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-6 border-right" id="stockPanel" style="display: block;">
                                    <div class="description-block">
                                        <h5 class="description-header"><span id="stockNum" class="num-z">108,991</span> <span class="unit-s"> 台</span></h5>
                                        <br>
                                        <span class="description-text"><span class="description-fo">总库存量</span></span>
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-6 border-right" id="sendGoodsLoadingPanel" style="display: none;">
                                    <div class="description-block">
                                        <br>
                                        <br>
                                        <div class="spinner">
                                            <div class="bounce1"></div>
                                            <div class="bounce2"></div>
                                            <div class="bounce3"></div>
                                        </div>
                                        <br>
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-6 border-right" id="sendGoodsPanel" style="display: block;">
                                    <div class="description-block">
                                        <h5 class="description-header"><span id="sendGoodsNum" class="num-z">13</span> <span class="unit-s"> 台</span></h5>
                                        <br>
                                        <span class="description-text"><span class="description-fo">总发货量</span></span>
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-6" id="rejectGoodsLoadingPanel" style="display: none;">
                                    <div class="description-block">
                                        <br>
                                        <br>
                                        <div class="spinner">
                                            <div class="bounce1"></div>
                                            <div class="bounce2"></div>
                                            <div class="bounce3"></div>
                                        </div>
                                        <br>
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-6" id="rejectGoodsPanel" style="display: block;">
                                    <div class="description-block">
                                        <h5 class="description-header"><span id="rejectGoodsNum" class="num-z">108,991</span> <span class="unit-s"> 台</span></h5>
                                        <br>
                                        <span class="description-text"><span class="description-fo">总退货量</span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="box box-solid">
                        <div class="box-header">
                            <i class="fa fa-bar-chart-o"></i>

                            <h3 class="box-title">收货</h3>

                            <div class="box-tools pull-right">

                            </div>
                        </div>
                        <div class="box-body">
                            <div class="chart tab-pane active" id="receiveGoodsChart" style="position: relative; height: 300px;"></div>
                        </div>
                    </div>

                    <div class="box box-solid">
                        <div class="box-header">
                            <i class="fa fa-bar-chart-o"></i>

                            <h3 class="box-title">抽检</h3>

                            <div class="box-tools pull-right">

                            </div>
                        </div>
                        <div class="box-body">
                            <div class="chart tab-pane active" id="randomCheckChart" style="position: relative; height: 300px;"></div>
                        </div>
                    </div>

                </div>

                <div class="col-md-6">
                    <div class="box box-solid">
                        <div class="box-header">
                            <i class="fa fa-bar-chart-o"></i>

                            <h3 class="box-title">质检</h3>

                            <div class="box-tools pull-right">

                            </div>
                        </div>
                        <div class="box-body">
                            <div class="chart tab-pane active" id="qualityCheckChart" style="position: relative; height: 300px;"></div>
                        </div>
                    </div>

                    <div class="box box-solid">
                        <div class="box-header">
                            <i class="fa fa-bar-chart-o"></i>

                            <h3 class="box-title">入库</h3>

                            <div class="box-tools pull-right">

                            </div>
                        </div>
                        <div class="box-body">
                            <div class="chart tab-pane active" id="inHouseChart" style="position: relative; height: 300px;"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="box box-solid">
                        <div class="box-header">
                            <i class="fa fa-bar-chart-o"></i>

                            <h3 class="box-title">出库</h3>

                            <div class="box-tools pull-right">

                            </div>
                        </div>
                        <div class="box-body">
                            <div class="chart tab-pane active" id="outHouseChart" style="position: relative; height: 300px;"></div>
                        </div>
                    </div>

                    <div class="box box-solid">
                        <div class="box-header">
                            <i class="fa fa-bar-chart-o"></i>

                            <h3 class="box-title">退货</h3>

                            <div class="box-tools pull-right">

                            </div>
                        </div>
                        <div class="box-body">
                            <div class="chart tab-pane active" id="rejectGoodsChart" style="position: relative; height: 300px;"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="box box-solid">
                        <div class="box-header">
                            <i class="fa fa-bar-chart-o"></i>

                            <h3 class="box-title">发货</h3>

                            <div class="box-tools pull-right">

                            </div>
                        </div>
                        <div class="box-body">
                            <div class="chart tab-pane active" id="sendGoodsChart" style="position: relative; height: 300px;"></div>
                        </div>
                    </div>

                    <div class="box box-solid">
                        <div class="box-header">
                            <i class="fa fa-bar-chart-o"></i>

                            <h3 class="box-title">异常</h3>

                            <div class="box-tools pull-right">

                            </div>
                        </div>
                        <div class="box-body">
                            <div class="chart tab-pane active" id="exceptionChart" style="position: relative; height: 300px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>