<template name="operation">
    <!-- Content Wrapper. Contains page content -->
    <div class="content">

        <!--<section class="content-header">
            <h1 style="color: red">
                <small></small>
            </h1>
        </section>-->
        <!-- Main content -->
        <section class="content">
 
            <div class="col-md-12">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#operationIndex" data-toggle="tab">运营指标</a></li>
                        <li><a href="#dailyEmptyIndex" data-toggle="tab">日清指标</a></li>

                    </ul>

                    <div class="tab-content">
                        <div class="active tab-pane" id="operationIndex">
                            <div class="template-operation content body">

                                <div class="box box-primary">
                                    <div class="box-header with-border">
                                        <i class="fa fa-bar-chart-o"></i>

                                        <h3 class="box-title">收货指标</h3>

                                        <div class="box-tools pull-right">
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div class="row">

                                            <div class="col-md-3 col-sm-6 col-xs-6">
                                                <div class="small-box bg-light-blue">
                                                    <div class="inner">
                                                        <h3 id="tradeExpressCount">……</h3>
                                                        <!--<a href="{{pathFor 'preReturnDetail'}}"
                                                           style="font-size: medium;color: white">
                                                            (点击查看订单号)
                                                        </a>-->
                                                        <p>快递单量</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-6">
                                                <div class="small-box bg-light-blue">
                                                    <div class="inner">
                                                        <h3 id="tradeReceiptCount">……</h3>

                                                        <p>确认收货量</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class = "col-md-3 col-sm-6 col-xs-6">
                                                <div class = "small-box bg-light-blue" id="clickThis">
                                                    <div class="inner">
                                                        <h3 id = "reverseExpressCount">……</h3>
                                                        <p>逆向物流量</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--<div class = "col-md-3 col-sm-6 col-xs-6">
                                                <div class = "small-box bg-light-blue">
                                                    <div class="inner">
                                                        <h3 id = "JDreverseExpressCount">……</h3>
                                                        <p>京东逆向物流量</p>
                                                    </div>
                                                </div>
                                            </div>-->
                                            <!--{{#each statsToday "pullOff"}}
                                            <div class="col-md-3 col-sm-6 col-xs-6">
                                                <div class="small-box bg-light-blue">
                                                    <div class="inner">
                                                        <h3>{{count}}</h3>

                                                        <p>{{date}} 上海配件下架空出周转箱数量</p>
                                                    </div>
                                                </div>
                                            </div>
                                            {{/each}}
                                            {{#each statsToday "pullOn"}}
                                            <div class="col-md-3 col-sm-6 col-xs-6">
                                                <div class="small-box bg-light-blue">
                                                    <div class="inner">
                                                        <h3>{{count}}</h3>

                                                        <p>{{date}} 上海配件上架空出周转箱数量</p>
                                                    </div>
                                                </div>
                                            </div>
                                            {{/each}}-->
                                        </div>
                                    </div>
                                    <div class="box-footer">
                                    </div>
                                </div>

                                <div class="box box-primary">
                                    <div class="box-header with-border">
                                        <i class="fa fa-bar-chart-o"></i>

                                        <h3 class="box-title">质检指标</h3>

                                        <div class="box-tools pull-right">
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div class="row">
                                            <div class="col-md-3 col-sm-6 col-xs-6">
                                                <div class="small-box bg-light-blue">
                                                    <div class="inner">
                                                        <h3 id="orderInspection">……</h3>

                                                        <p>订单质检量</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-6">
                                                <div class="small-box bg-light-blue">
                                                    <div class="inner">
                                                        <h3 id="orderPreInspection">……</h3>

                                                        <p>待质检量</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-6">
                                                <div class="small-box bg-light-blue">
                                                    <div class="inner">
                                                        <h3 id="samplingInspection">……</h3>

                                                        <p>抽检量</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-6">
                                                <div class="small-box bg-light-blue">
                                                    <div class="inner">
                                                        <h3 id="samplingPreInspection">……</h3>

                                                        <p>待抽检量</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-footer">
                                    </div>
                                </div>

                                <div class="box box-primary">
                                    <div class="box-header with-border">
                                        <i class="fa fa-bar-chart-o"></i>

                                        <h3 class="box-title">仓库指标</h3>

                                        <div class="box-tools pull-right">
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div class="row">
                                            <div class="col-md-3 col-sm-6 col-xs-6">
                                                <div class="small-box bg-light-blue">
                                                    <div class="inner">
                                                        <h3 id="tallyInWarehouse">……</h3>

                                                        <p>理货入库量</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-6">
                                                <div class="small-box bg-light-blue">
                                                    <div class="inner">
                                                        <h3 id="transferInWarehouse">……</h3>

                                                        <p>调拨入库量</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-6">
                                                <div class="small-box bg-light-blue">
                                                    <div class="inner">
                                                        <h3 id="soldOutWarehouse">……</h3>

                                                        <p>商家销售出库量</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-6">
                                                <div class="small-box bg-light-blue">
                                                    <div class="inner">
                                                        <h3 id="transferOutWarehouse">……</h3>

                                                        <p>调拨出库量</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-footer">
                                    </div>
                                </div>

                                <div class="box box-primary">
                                    <div class="box-header with-border">
                                        <i class="fa fa-bar-chart-o"></i>

                                        <h3 class="box-title">周转箱及库位</h3>

                                        <div class="box-tools pull-right">
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div class="row">
                                            <div class="col-md-3 col-sm-6 col-xs-6">
                                                <div class="small-box bg-light-blue">
                                                    <div class="inner">
                                                        <h3 id="usedContainerCount">……</h3>

                                                        <p>周转箱占用数量</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-6">
                                                <div class="small-box bg-light-blue">
                                                    <div class="inner">
                                                        <h3 id="freeContainerCount">……</h3>

                                                        <p>剩余周转箱数量</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-6">
                                                <div class="small-box bg-light-blue">
                                                    <div class="inner">
                                                        <h3 id="usedTrolleyCount">……</h3>

                                                        <p>占用库位数量(容量)</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-6">
                                                <div class="small-box bg-light-blue">
                                                    <div class="inner">
                                                        <h3 id="freeTrolleyCount">……</h3>

                                                        <p>剩余库位数量(容量)</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-footer">
                                    </div>
                                </div>

                                <!--<div class="box box-primary">
                    <div class="box-header with-border">
                        <i class="fa fa-bar-chart-o"></i>

                        <h3 class="box-title">收货移交</h3>

                        <div class="box-tools pull-right">
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            {{#each transferTotalToday "receiptTransfer"}}
                                <div class="col-md-3 col-sm-4 col-xs-6">
                                    <div class="small-box bg-light-blue">
                                        <div class="inner">
                                            <h3>{{count}}</h3>

                                            <p>{{date}} 收货移交总量</p>
                                        </div>
                                    </div>
                                </div>
                            {{/each}}
                                    {{#each transferDetailToday "receiptTransfer"}}
                                <div class="col-md-2 col-sm-4 col-xs-6">
                                    <div class="info-box bg-light-blue">
                                        <div class="info-box-content" style="margin-left: 0">
                                            <span class="info-box-text">移交至{{descName}}</span>
                                            <span class="info-box-number">{{count}}</span>
                                        </div>
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                    <div class="box-footer">
                    </div>
                </div>-->


                                <!--<div class="box box-primary">
                    <div class="box-header with-border">
                        <i class="fa fa-bar-chart-o"></i>

                        <h3 class="box-title">验货移交</h3>

                        <div class="box-tools pull-right">
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            {{#each transferTotalToday "inspectionTransfer"}}
                                <div class="col-md-3 col-sm-4 col-xs-6">
                                    <div class="small-box bg-light-blue">
                                        <div class="inner">
                                            <h3>{{count}}</h3>

                                            <p>{{date}} 验货移交总量</p>
                                        </div>
                                    </div>
                                </div>
                            {{/each}}
                                    {{#each transferDetailToday "inspectionTransfer"}}
                                <div class="col-md-2 col-sm-4 col-xs-6">
                                    <div class="info-box bg-light-blue">
                                        <div class="info-box-content" style="margin-left: 0">
                                            <span class="info-box-text">移交至{{descName}}</span>
                                            <span class="info-box-number">{{count}}</span>
                                        </div>
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                    <div class="box-footer">
                    </div>
                </div>-->

                                <!--<div class="box box-primary">
                    <div class="box-header with-border">
                        <i class="fa fa-bar-chart-o"></i>

                        <h3 class="box-title">理货移交</h3>

                        <div class="box-tools pull-right">
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            {{#each transferTotalToday "tallyTransfer"}}
                                <div class="col-md-3 col-sm-4 col-xs-6">
                                    <div class="small-box bg-light-blue">
                                        <div class="inner">
                                            <h3>{{count}}</h3>

                                            <p>{{date}} 理货移交总量</p>
                                        </div>
                                    </div>
                                </div>
                            {{/each}}
                                    {{#each transferDetailToday "tallyTransfer"}}
                                <div class="col-md-2 col-sm-4 col-xs-6">
                                    <div class="info-box bg-light-blue">
                                        <div class="info-box-content" style="margin-left: 0">
                                            <span class="info-box-text">移交至{{descName}}</span>
                                            <span class="info-box-number">{{count}}</span>
                                        </div>
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                    <div class="box-footer">
                    </div>
                </div>-->

                            </div>
                        </div>
                        <div class="tab-pane" id="dailyEmptyIndex">
                            <div class="template-operation content body">
                                <div class="box box-primary">
                                    <div class="box-header with-border">
                                        <i class="fa fa-bar-chart-o"></i>

                                        <h3 class="box-title">收货日清指标</h3>

                                        <div class="box-tools pull-right">
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div class="row">
                                            <div class="col-md-3 col-sm-6 col-xs-6">
                                                <div class="small-box bg-light-blue">
                                                    <div class="inner">
                                                        <h3 id="receiptNotTransfer">……</h3>

                                                        <p>贴标未移交量</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-6">
                                                <div class="small-box bg-light-blue">
                                                    <div class="inner">
                                                        <h3 id="askPasswordNotReceipt">……</h3>

                                                        <p> 验货移交收货(问密码)未接收量</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-6">
                                                <div class="small-box bg-light-blue">
                                                    <div class="inner">
                                                        <h3 id="expressNotBindingNotPending">……</h3>

                                                        <p> 未绑定订单未入异常库快递单量(点击查看明细)</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-footer">
                                    </div>
                                </div>
                                <div class="box box-primary">
                                    <div class="box-header with-border">
                                        <i class="fa fa-bar-chart-o"></i>

                                        <h3 class="box-title">验货日清指标</h3>

                                        <div class="box-tools pull-right">
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div class="row">
                                            <div class="col-md-3 col-sm-6 col-xs-6">
                                                <div class="small-box bg-light-blue">
                                                    <div class="inner">
                                                        <h3 id="receiptToInspectionNotReceipt">……</h3>

                                                        <p>贴标移交验货未接收量</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div id="inspectedPreTrans" class="col-md-3 col-sm-6 col-xs-6"
                                                 style="cursor: pointer">
                                                <div class="small-box bg-light-blue">
                                                    <div class="inner">
                                                        <h3 id="inspectedNotTransfer">……</h3>

                                                        <p>验货后未移交量</p>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-6">
                                                <div class="small-box bg-light-blue">
                                                    <div class="inner">
                                                        <h3 id="askedPasswordNotReceipt">……</h3>

                                                        <p>问密码后收货移交验货未接收量</p>
                                                    </div>
                                                </div>
                                            </div>
                                            {{#each statsToday "inspectionTransferStat"}}
                                            <div class="col-md-3 col-sm-6 col-xs-6">
                                                <div class="small-box bg-light-blue">
                                                    <div class="inner">
                                                        <h3>
                                                            {{preReceive}}
                                                                <span style="font-size: medium">
                                            (质检同部门移交总量:{{total}})
                                        </span>
                                                        </h3>

                                                        <p>{{date}} 质检同部门移交未接收量</p>
                                                    </div>
                                                </div>
                                            </div>
                                            {{/each}}
                                        </div>
                                    </div>
                                    <div class="box-footer">
                                    </div>
                                </div>
                                <div class="box box-primary">
                                    <div class="box-header with-border">
                                        <i class="fa fa-bar-chart-o"></i>

                                        <h3 class="box-title">理货日清指标</h3>

                                        <div class="box-tools pull-right">
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div class="row">
                                            {{#each statsToday "inspectionTallyOrderPreReceive"}}
                                            <div class="col-md-3 col-sm-6 col-xs-6">
                                                <div class="small-box bg-light-blue">
                                                    <div class="inner">
                                                        <h3>{{count}}</h3>

                                                        <p>{{date}} 验货移交理货(物品来源:订单)未接收量</p>
                                                    </div>
                                                </div>
                                            </div>
                                            {{/each}}
                                            {{#each statsToday "inspectionTallySamplingTransferStats"}}
                                            <div class="col-md-3 col-sm-6 col-xs-6">
                                                <div class="small-box bg-light-blue">
                                                    <div class="inner">
                                                        <h3>{{count}}</h3>

                                                        <p>{{date}} 验货移交理货(物品来源:抽检)量</p>
                                                    </div>
                                                </div>
                                            </div>
                                            {{/each}}
                                            {{#each statsToday "tallyingInspectionFailedStats"}}
                                            <div class="col-md-3 col-sm-6 col-xs-6">
                                                <div class="small-box bg-light-blue">
                                                    <div class="inner">
                                                        <h3>{{count}}</h3>

                                                        <p>{{date}} 验货失败理货中</p>
                                                    </div>
                                                </div>
                                            </div>
                                            {{/each}}
                                        </div>
                                    </div>
                                    <div class="box-footer">
                                    </div>
                                </div>
                                <div class="box box-primary">
                                    <div class="box-header with-border">
                                        <i class="fa fa-bar-chart-o"></i>

                                        <h3 class="box-title">退货日清指标</h3>

                                        <div class="box-tools pull-right">
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div class="row">
                                            {{#each statsToday "preReturn"}}
                                            <div class="col-md-3 col-sm-6 col-xs-6">
                                                <div class="small-box bg-light-blue">
                                                    <div class="inner">
                                                        <h3>{{count}}
                                                            <a href="{{pathFor 'preReturnDetail'}}"
                                                               style="font-size: medium;color: white">
                                                                (点击查看订单号)
                                                            </a>
                                                        </h3>

                                                        <p>{{date}} 15:30 前待退货订单量</p>
                                                    </div>
                                                </div>
                                            </div>
                                            {{/each}}

                                            {{#each statsToday "tallyRetrievePreReceive"}}
                                            <div class="col-md-3 col-sm-6 col-xs-6">
                                                <div class="small-box bg-light-blue">
                                                    <div class="inner">
                                                        <h3>{{count}}</h3>

                                                        <p>{{date}} 理货移交退货未接收量</p>
                                                    </div>
                                                </div>
                                            </div>
                                            {{/each}}
                                            {{#each statsToday "returned"}}
                                            <div class="col-md-3 col-sm-6 col-xs-6">
                                                <div class="small-box bg-light-blue">
                                                    <div class="inner">
                                                        <h3>{{count}}</h3>

                                                        <p>{{date}} 15:30 前已退货订单量</p>
                                                    </div>
                                                </div>
                                            </div>
                                            {{/each}}
                                        </div>
                                    </div>
                                    <div class="box-footer">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Your Page Content Here -->
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
</template>
