<template name="tradePredictRM">
    <div class="content">
        <section class ="content">
            <div class="content body">
                <div class ="row box box-primary" style="width: auto">
                    <div class="box-header with-border">
                        <h3 class="box-title">快递订单预测</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <!--<div class="form-group col-md-3 col-sm-6 col-xs-12">-->
                                <!--<label for="datePicker">日期选择</label>-->
                                <!--<button type="button" style="border: 1px gray solid;background-color:white"-->
                                        <!--class="form-control daily btn btn-default marketingStartDatePicker" id ="datePicker">-->
                                    <!--<i class="fa fa-calendar"></i>-->
                                    <!--<span class="startDateSelectLabel"></span>-->
                                    <!--<i class="fa fa-caret-down"></i>-->
                                <!--</button>-->
                            <!--</div>-->
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="small-box bg-light-blue">
                                    <div class="inner">
                                        <h3 id="yExpressSubmit">……</h3>
                                        <p>昨日提交快递单量</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="small-box bg-light-blue">
                                    <div class="inner">
                                        <h3 id="yExpressReceive">……</h3>
                                        <p>昨日快递收货量</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="small-box bg-light-blue">
                                    <div class="inner">
                                        <h3 id="ExpressPredict1">……</h3>
                                        <p>今日快递收货预测</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="small-box bg-light-blue">
                                    <div class="inner">
                                        <h3 id="ExpressPredict2">……</h3>
                                        <p>明日快递收货预测</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-12 pull-left">
                                <table class="cell-border"
                                        data-show-export="true"
                                        data-toggle="table"
                                        data-pagination="true"
                                        id="trade_stats_table">
                                </table>
                            </div>
                            <div class="col-md-12 col-xs-12 col-sm-12" style="height: 600px" id="tradeStatsChart">

                            </div>
                            <div class="col-md-12 col-xs-12 col-sm-12" style="height: 600px" id="tradeRatioChart">

                            </div>
                            <div class="form-group col-md-3 col-sm-6 col-xs-12" style="visibility: hidden">
                                <label for="query">查询</label>
                                <button class="btn btn-primary search form-control" style="border-radius: 5px" id="query"><i class="fa fa-search"></i></button>
                            </div>
                            <!--<div class="col-md-12 col-sm-12 col-xs-12" id="trade_predict_chart" style="height: 600px;width: 100%"></div>-->
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <table class="cell-border"
                                       data-show-export="true"
                                       data-toggle="table"
                                       data-pagination="true"
                                       id="trade_predict_table">
                                    <!--<thead>-->
                                        <!--<tr>-->
                                            <!--<th data-field="city_name">城市名称</th>-->
                                            <!--<th data-field="trade_source_type_name">渠道名称</th>-->
                                            <!--<th data-field = "predicted_trade_num">到货量</th>-->
                                        <!--</tr>-->
                                    <!--</thead>-->
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>