<template name="AihuishouLogMonitor">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
            <!-- Your Page Content Here -->
            <div class="template-dashboard content body">
                <div class="row" style="align-items: center">

                    <div class="col-md-5 col-sm-5 col-xs-12">
                        <select id="hostSelect" class="form-control select2 select2-hidden-accessible" multiple=""
                                data-placeholder="选择Service(可多选,默认全选)" style="width: 100%;"
                                tabindex="-1" aria-hidden="true">
                            <optgroup label="后台服务">
                                <option value="order">订单服务(OrderService)</option>
                                <option value="payment">支付服务(PaymentService)</option>
                                <option value="user">用户服务(UserService)</option>
                                <option value="cms">内容服务(CMSService)</option>
                                <option value="finance">财务服务(FinanceService)</option>
                                <option value="foundationdata">基础数据服务(FoundationDataService)</option>
                                <option value="biservice">数据服务(BIService)</option>
                                <option value="inspection">质检服务(InspectionService)</option>
                                <option value="inventory">库存服务(InventoryService)</option>
                                <option value="logistics">物流服务(LogisticsService)</option>
                                <option value="merchant">批发商服务(MerchantService)</option>
                                <option value="quotation">报价服务(QuotationService)</option>
                                <option value="task">任务服务(TaskService)</option>
                                <option value="vender">加盟商服务(VenderService)</option>
                            </optgroup>
                        </select>
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-12">
                        <button id="queryBtn" type="button" class="btn btn-primary">
                            查询
                        </button>
                    </div>
                    <label class="col-md-1 col-sm-1 col-xs-12 checkbox">
                        <input id="autoRefresh" type="checkbox" checked>自动刷新
                    </label>

                </div>
                <div class="row" style="margin-top: 3%">
                    <div id="StatusChart" class="col-md-12 col-sm-12 col-xs-12"
                         style="height:400px">
                    </div>
                </div>
                <div class="row" style="margin-top: 3%">
                    <div id="TimeChart" class="col-md-12 col-sm-12 col-xs-12"
                         style="height:400px">
                    </div>
                </div>
            </div>
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
</template>
