<template name="PiwikLogMonitor">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
            <!-- Your Page Content Here -->
            <div class="template-dashboard content body">
                <div class="row" style="align-items: center">

                    <div class="col-md-5 col-sm-5 col-xs-12">
                        <select id="hostSelect" class="form-control select2 select2-hidden-accessible" multiple=""
                                data-placeholder="选择Host(可多选,默认全选)" style="width: 100%;"
                                tabindex="-1" aria-hidden="true">
                            <optgroup label="API">
                                <option value="tk.aihuishou.com">tk.aihuishou.com</option>
                            </optgroup>
                        </select>
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-12">
                        <button id="queryBtn" type="button" class="btn btn-primary">
                            查询
                        </button>
                    </div>
                    <label class="col-md-1 col-sm-1 col-xs-12 checkbox">
                        <input id="autoRefresh" type="checkbox" checked>自动刷新
                    </label>

                </div>
                <div class="row" style="margin-top: 3%">
                    <div id="hostStatusChart" class="col-md-12 col-sm-12 col-xs-12"
                         style="height:400px">
                    </div>
                </div>

                <div class="row" style="align-items: center;margin-top: 3%">

                    <div class="col-md-5 col-sm-5 col-xs-12">
                        <select id="pageSelect" class="form-control select2 select2-hidden-accessible" multiple=""
                                data-placeholder="选择页面(可多选,默认全选)" style="width: 100%;"
                                tabindex="-1" aria-hidden="true">
                        </select>
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-12">
                        <button id="queryPageBtn" type="button" class="btn btn-primary">
                            查询
                        </button>
                    </div>
                    <label class="col-md-1 col-sm-1 col-xs-12 checkbox">
                        <input id="pageAutoRefresh" type="checkbox" checked>自动刷新
                    </label>

                </div>
                <div class="row" style="margin-top: 3%">
                    <div id="hostPageTimeChart" class="col-md-12 col-sm-12 col-xs-12"
                         style="height:400px">
                    </div>
                </div>
                <div class="row" style="align-items: center;margin-top: 3%">

                    <div class="col-md-5 col-sm-5 col-xs-12">
                        <select id="minuteSelect" class="form-control select2 select2-hidden-accessible"
                                data-placeholder="选择时间范围" style="width: 100%;"
                                tabindex="-1" aria-hidden="true">
                            <option value="5">5分钟内</option>
                            <option value="15">15分钟内</option>
                            <option value="30">30分钟内</option>
                            <option value="60">1小时内</option>
                            <option value="120">2小时内</option>
                            <option value="1440">24小时内</option>
                        </select>
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-12">
                        <button id="queryPageTimeBtn" type="button" class="btn btn-primary">
                            查询
                        </button>
                    </div>
                </div>
                <div class="row" style="margin-top: 3%">
                    <div id="hostPageTimeAvgChart" class="col-md-12 col-sm-12 col-xs-12"
                         style="height:800px">
                    </div>
                </div>
            </div>
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
</template>
