<template name="bdOrderReceiptInspectionBargainDetailMonitor">
    <!-- Content Wrapper. Contains page content -->

    <!-- Main content -->
    <section class="content" style="background-color: white">

        <!-- Your Page Content Here -->


        <div class="template-dashboard content body">

            <div class="small-box bg-light-blue row">
                <div class="inner col-md-12 col-sm-12 col-xs-12">
                    <h3><label id="todayOrderCnt">...</label><p style="font-size: medium">(昨日同时间:<label id="ytdOrderCnt">...</label>)</p></h3>
                    <p><label class="tdDate">...</label><label id="orderType">...</label>订单量</p>
                </div>

            </div>

            <div class="row">
                <div id="orderCentreCntMixedChart" class="col-md-12 col-sm-12 col-xs-12"
                     style="height:400px;margin-top: 3%">
                </div>

            </div>

        </div>

    </section><!-- /.content -->
</template>
