<template name="contributionProfitInfo">
    <!-- 贡献利润页面-->
    <!-- Content Wrapper. Contains page content -->
    <style>
        .nav-tabs-custom {
            margin-bottom: 5px;
            background: #fff;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
            border-radius: 3px;
        }
    </style>
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
            <!-- Your Page Content Here -->
            <div class="row" style="margin:0 auto;width:98%;padding-top:10px;">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#all" data-toggle="tab">全品类</a></li>
                        <li><a href="#phone" data-toggle="tab">手机</a></li>
                        <li><a href="#computer" data-toggle="tab">笔记本</a></li>
                        <li><a href="#photography" data-toggle="tab">摄影摄像</a></li>
                        <li><a href="#digital" data-toggle="tab">智能数码</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="active tab-pane" id="activity" style="background:#eee;padding-top:5px;padding-left:5px;padding-right:5px;">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="nav-tabs-custom" style="cursor: move;">
                                        <!-- 查询条件 header -->
                                        <ul class="nav nav-tabs pull-right ui-sortable-handle">
                                            <!--<li class="pull-left header" style="font-weight: bold;">
                                                <span style="font-size:12px;">时间粒度：</span>
                                                <select id="model" class="model" style="height: 32px;width: 60px;border-radius: 4px;font-size:12px;" my-init="true">
                                                    <option value="0">不限</option>
                                                </select>
                                            </li>-->
                                            <li class="pull-left header" style="font-weight: bold;">
                                                <span class="pull-left" style="font-size:15px;">选择时间段：</span>
                                                <button type="button" class="btn btn-default pull-left" id="date-range-btn" style="background:#fff !important;font-size:15px;">
                                                    <i class="fa fa-calendar"></i>
                                                    <span>时间</span>
                                                    <i class="fa fa-caret-down"></i>
                                                </button>
                                            </li>
                                            <li class="pull-left header" style="font-weight: bold;">
                                                <span style="font-size:15px;">品牌:</span>
                                                <select id="brand" class="brand" style="border-radius: 4px;padding: 5px 12px;width: 200px;font-size:15px;">
                                                </select>
                                            </li>

                                            <li class="pull-left header" style="font-weight: bold;">
                                                <span style="font-size:15px;">价位段:</span>
                                                <select id="price" class="price" style="border-radius: 4px;padding: 5px 12px;width: 200px;font-size:15px;">
                                                </select>
                                            </li>
                                            <li class="pull-left header" style="font-weight: bold;">
                                                <button type="button" id="search-btn" class="btn btn-primary search" style="width:100px;">查询</button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="nav-tabs-custom" style="cursor: move;">

                                        <ul class="nav nav-tabs pull-right ui-sortable-handle">
                                            <li class="pull-left header" style="font-weight: bold;">
                                                <img class="img-rounded" src="/assets/icon/shugang.png" width="40px" height="20px" alt=""/>
                                                <span class="for-span-header">C2B</span>
                                            </li>
                                        </ul>


                                        <div class="tab-content no-padding row" style="margin-left:15px;margin-right:15px">
                                            <div class="col-sm-12 col-md-12 col-xs-12" style="margin-top:10px;">

                                                <div class="row">
                                                    <div class="col-md-12 col-sm-12 col-xs-12">

                                                    </div>
                                                </div>

                                                <div class="row" style="width:100%;position:relative;margin:0 auto;background:#f9f9f9;padding-top:10px;">
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <div id="C2BChartPanel">
                                                            <div class="chart tab-pane active" id="C2BChart" style="position: relative; width:98%;height: 500px;">

                                                            </div>
                                                            <div class="chart tab-pane active" id="C2BChartLoading" style="position: relative; width:98%;height: 500px;">

                                                            </div>
                                                        </div>
                                                        <div id="C2BChartLoadingPanel">
                                                            <div style="text-align: center;position:relative;top:-250px;">
                                                                <img src="/images/loading.gif"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <h1 style="position:relative;margin-bottom: 30px;font-size:18px;font-weight:600;width:100%;padding-right:20px;">

                                                        </h1>
                                                        <hr>
                                                    </div>
                                                </div>

                                                <div class="row" style="width:100%;position:relative;margin:0 auto;background:#f9f9f9;padding-top:10px;">
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <div id="C2BTablePanel" style="height:500px;">
                                                            <table id="C2BTable" class="table table-striped"
                                                                   data-toggle="table"
                                                                   data-show-export="true"
                                                                   data-pagination="true"
                                                                   data-click-to-select="true">
                                                            </table>
                                                        </div>
                                                        <div id="C2BTableLoadingPanel">
                                                            <div style="text-align: center;position:relative;top:-250px;">
                                                                <img src="/images/loading.gif"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <h1 style="position:relative;margin-bottom: 30px;font-size:18px;font-weight:600;width:100%;padding-right:20px;">

                                                        </h1>
                                                        <hr>
                                                    </div>
                                                </div>

                                                <div class="row" style="width:100%;position:relative;margin:0 auto;background:#f9f9f9;padding-top:10px;">
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <div id="C2BBrandTablePanel" style="height:500px;">
                                                            <table id="C2BBrandTable" class="table table-striped"
                                                                   data-toggle="table"
                                                                   data-show-export="true"
                                                                   data-pagination="true"
                                                                   data-click-to-select="true">
                                                            </table>
                                                        </div>
                                                        <div id="C2BBrandTableLoadingPanel">
                                                            <div style="text-align: center;position:relative;top:-250px;">
                                                                <img src="/images/loading.gif"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="margin: 0 auto;">
                                <div class="nav-tabs-custom" style="cursor: move;">
                                    <!-- header -->
                                    <ul class="nav nav-tabs pull-right ui-sortable-handle">
                                        <li class="pull-left header" style="font-weight: bold;">
                                            <img class="img-rounded" src="/assets/icon/shugang.png" width="40px" height="20px" alt=""/>
                                            <span class="for-span-header">自营</span>
                                        </li>
                                    </ul>
                                    <!--body-->
                                    <div class="tab-content no-padding row" style="margin-top:2%; margin-left:15px;margin-right:15px">
                                        <div class="col-sm-12 col-md-12 col-xs-12">
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12 col-xs-12">

                                                </div>
                                            </div>

                                            <div class="row" style="width:100%;position:relative;margin:0 auto;background:#f9f9f9;padding-top:10px;">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <div id="selfChartPanel">
                                                        <div class="chart tab-pane active" id="selfChart" style="position: relative; width:98%;height: 500px;">

                                                        </div>

                                                        <div class="chart tab-pane active" id="selfChartLoading" style="position: relative; width:98%;height: 500px;">

                                                        </div>
                                                    </div>
                                                    <div id="selfChartLoadingPanel">
                                                        <div style="text-align: center;position:relative;top:-250px;">
                                                            <img src="/images/loading.gif"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <h1 style="position:relative;margin-bottom: 30px;font-size:18px;font-weight:600;width:100%;padding-right:20px;">

                                                    </h1>
                                                    <hr>
                                                </div>
                                            </div>

                                            <div class="row" style="width:100%;position:relative;margin:0 auto;background:#f9f9f9;padding-top:10px;">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <div id="selfTablePanel" style="height:500px;">
                                                        <table id="selfTable" class="table table-striped"
                                                               data-toggle="table"
                                                               data-show-export="true"
                                                               data-pagination="true"
                                                               data-click-to-select="true">
                                                        </table>
                                                    </div>
                                                    <div id="selfTableLoadingPanel">
                                                        <div style="text-align: center;position:relative;top:-250px;">
                                                            <img src="/images/loading.gif"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <h1 style="position:relative;margin-bottom: 30px;font-size:18px;font-weight:600;width:100%;padding-right:20px;">

                                                    </h1>
                                                    <hr>
                                                </div>
                                            </div>

                                            <div class="row" style="width:100%;position:relative;margin:0 auto;background:#f9f9f9;padding-top:10px;">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <div id="selfBrandTablePanel" style="height:500px;">
                                                        <table id="selfBrandTable" class="table table-striped"
                                                               data-toggle="table"
                                                               data-show-export="true"
                                                               data-pagination="true"
                                                               data-click-to-select="true">
                                                        </table>
                                                    </div>
                                                    <div id="selfBrandTableLoadingPanel">
                                                        <div style="text-align: center;position:relative;top:-250px;">
                                                            <img src="/images/loading.gif"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="margin: 0 auto;">
                                <div class="nav-tabs-custom" style="cursor: move;">
                                    <!-- header -->
                                    <ul class="nav nav-tabs pull-right ui-sortable-handle">
                                        <li class="pull-left header" style="font-weight: bold;">
                                            <img class="img-rounded" src="/assets/icon/shugang.png" width="40px" height="20px" alt=""/>
                                            <span class="for-span-header">BD</span>
                                        </li>
                                    </ul>
                                    <!--body-->
                                    <div class="tab-content no-padding row" style="margin-top:2%; margin-left:15px;margin-right:15px">
                                        <div class="col-sm-12 col-md-12 col-xs-12">
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12 col-xs-12">

                                                </div>
                                            </div>

                                            <div class="row" style="width:100%;position:relative;margin:0 auto;background:#f9f9f9;padding-top:10px;">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <div id="BDChartPanel">
                                                        <div class="chart tab-pane active" id="BDChart" style="position: relative; width:98%;height: 500px;">

                                                        </div>

                                                        <div class="chart tab-pane active" id="BDChartLoading" style="position: relative; width:98%;height: 500px;">

                                                        </div>
                                                    </div>
                                                    <div id="BDChartLoadingPanel">
                                                        <div style="text-align: center;position:relative;top:-250px;">
                                                            <img src="/images/loading.gif"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <h1 style="position:relative;margin-bottom: 30px;font-size:18px;font-weight:600;width:100%;padding-right:20px;">

                                                    </h1>
                                                    <hr>
                                                </div>
                                            </div>

                                            <div class="row" style="width:100%;position:relative;margin:0 auto;background:#f9f9f9;padding-top:10px;">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <div id="BDTablePanel" style="height:500px;">
                                                        <table id="BDTable" class="table table-striped"
                                                               data-toggle="table"
                                                               data-show-export="true"
                                                               data-pagination="true"
                                                               data-click-to-select="true">
                                                        </table>
                                                    </div>
                                                    <div id="BDTableLoadingPanel">
                                                        <div style="text-align: center;position:relative;top:-250px;">
                                                            <img src="/images/loading.gif"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <h1 style="position:relative;margin-bottom: 30px;font-size:18px;font-weight:600;width:100%;padding-right:20px;">

                                                    </h1>
                                                    <hr>
                                                </div>
                                            </div>

                                            <div class="row" style="width:100%;position:relative;margin:0 auto;background:#f9f9f9;padding-top:10px;">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <div id="BDBrandTablePanel" style="height:500px;">
                                                        <table id="BDBrandTable" class="table table-striped"
                                                               data-toggle="table"
                                                               data-show-export="true"
                                                               data-pagination="true"
                                                               data-click-to-select="true">
                                                        </table>
                                                    </div>
                                                    <div id="BDBrandTableLoadingPanel">
                                                        <div style="text-align: center;position:relative;top:-250px;">
                                                            <img src="/images/loading.gif"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                                </button>
                                <h4 class="modal-title" id="myModalLabel">

                                </h4>
                            </div>
                            <div class="modal-body">
                                <div name="showContent"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
</template>
