<template name="VenderProfitProfitTradeDataInfo">
    <!-- Content Wrapper. Contains page content -->
    <div class="content">
        <!-- Main content -->
        <section class="content">

            <!-- Your Page Content Here -->

            <div id="chartContent" class="template-dashboard content body">
                <span style="color:red">注：</span><span>利润及利润率情况 1、每日利润率的值和走势,在一张图表中呈现，时间维度是2周，横坐标是日期，纵坐标是利润率。</span>
                                <!--<span style="color:red">注：</span><span>只包含官网和M版流量</span>-->
                <div class="row desktop-only c-border">
                    <div class=" col-md-12 col-sm-12 col-xs-12 ">
                        <span>请选择查看时间:</span>

                        <button type="button" class="daily btn btn-default webTrafficFunnelDate"  style="border: 1px gray solid;width:240px;background-color:white">
                            <i class="fa fa-calendar"></i>
                            <span class="dateSelectLabel"></span>
                            <i class="fa fa-caret-down"></i>
                        </button>



                    </div>
                    <div class=" col-md-12 col-sm-12 col-xs-12 ">

                    </div>

                </div>
                <div class="row mobile-only desktop-none">
                    <div>
                        <span>请选择查看时间:</span>

                    </div>
                    <div>
                        <button type="button" class="daily btn btn-default webTrafficFunnelDate"  style="border: 1px gray solid;width:240px;background-color:white">
                            <i class="fa fa-calendar"></i>
                            <span class="dateSelectLabel"></span>
                            <i class="fa fa-caret-down"></i>
                        </button>
                    </div>
                </div>
                <div >

                    <div class="row">

                    </div>


                    <label style="margin-top:20px">爱机汇汇总利润及利润率</label>
                    <div id="collectTable" class="row" style="margin-top: 15px;border: 1px solid gray">
                        <div style="text-align: center;margin-top: 150px" id="loadingCollect">
                            <img src="/images/loading.gif">
                        </div>
                        <div id="collectVender" class="col-md-12 col-sm-12 col-xs-12" style="">
                            <table id="tableCollect"
                                   data-toggle="table"
                                   data-show-export="false"
                                   data-pagination="false"
                                   data-click-to-select="false"
                            >
                                <thead>
                                <tr>
                                    <th data-field="date" data-sortable="true">累计毛利额</th>
                                    <th data-field="cancelCnt" data-sortable="true">累计出货金额</th>
                                    <th data-field="cnt" data-sortable="true">累计毛利率</th>
                                </tr>
                                </thead>


                            </table>

                        </div>
                    </div>

                </div>
                <div id="venderTradeTrendMixedChart" class="col-md-12 col-sm-12 col-xs-12"
                     style="height:400px;margin-top: 3%">
                </div>

                <div >


                </div>
                <div >


                    <label style="margin-top:20px">爱机汇每日累计利润率走势</label>
                    <div id="allTable" class="row" style="margin-top: 15px;border: 1px solid gray">
                        <div style="text-align: center;margin-top: 150px" id="loadingAll">
                            <img src="/images/loading.gif">
                        </div>
                        <div id="rightVender" class="col-md-12 col-sm-12 col-xs-12" style="">
                            <table id="tableAll"
                                   data-toggle="table"
                                   data-show-export="true"
                                   data-pagination="true"
                                   data-click-to-select="true"
                            >
                                <thead>
                                <tr>
                                    <th data-field="date" data-sortable="true">时间</th>
                                    <th data-field="cnt" data-sortable="true">利润率</th>
                                </tr>
                                </thead>


                            </table>

                        </div>
                    </div>

                </div>


                </div>

        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
</template>