<template name="IPhonePriceRate">
    <!-- Content Wrapper. Contains page content -->
    <div class="content">
        <!-- Main content -->
        <section class="content">
            <div id="chartContent" class="template-dashboard content body">
                <div class="row c-border" style="padding-left: 15px;padding-right: 15px;margin-bottom: 1%">

                    <div class="col-md-12 col-sm-12 col-xs-12 "
                         style="display:flex;flex-wrap:wrap;">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <label for="productSelect">请选择产品:</label>
                            <select id="productSelect"
                                    style=";border-radius: 4px;padding: 6px 12px;">
                                <option value="-">-</option>
                                <option value="iPhone 4">iPhone 4</option>
                                <option value="iPhone 4s">iPhone 4s</option>
                                <option value="iPhone 5">iPhone 5</option>
                                <option value="iPhone 5c">iPhone 5c</option>
                                <option value="iPhone 5s">iPhone 5s</option>
                                <option value="iPhone 6">iPhone 6</option>
                                <option value="iPhone 6S">iPhone 6S</option>
                                <option value="iPhone 6S Plus">iPhone 6S Plus</option>
                                <option value="iPhone 7">iPhone 7</option>
                                <option value="iPhone 7 Plus">iPhone 7 Plus</option>
                                <option value="iPhone SE">iPhone SE</option>
                            </select>
                        </div>

                    </div>

                </div>
                <div class="row box box-primary" style="width: auto;">
                    <div class="box-header with-border">
                        <h3 class="box-title" style="border-style: none;font-weight: bold">图形化</h3>

                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">

                        </div>
                        <div class="row">
                            <div id="IPhonePriceRateChart"
                                 class="col-md-12 col-sm-12 col-xs-12"
                                 style="height:400px;">
                            </div>
                        </div>

                    </div><!-- /.box-body -->
                </div><!-- /.box -->
                <div class="row box box-primary" style="width: auto;">
                    <div class="box-header with-border">
                        <h3 class="box-title" style="border-style: none;font-weight: bold">数据表格</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="row" style="">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <table id="IPhonePriceRateTable"
                                       data-toggle="table"
                                       data-show-export="true"
                                       data-pagination="true"
                                       data-click-to-select="true"
                                >
                                    <thead>
                                    <tr>
                                        <th data-field="week" data-sortable="true">周数</th>
                                        <th data-field="max" data-sortable="true">max</th>
                                        <th data-field="median" data-sortable="true">median</th>
                                        <th data-field="min" data-sortable="true">min</th>
                                        <th data-field="product" data-sortable="true">选定商品</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                </div>
            </div>
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
</template>
