<template name="metadataDefinitionLibrary">
    <!-- Content Wrapper. Contains page content -->
    <div class="content">
        <!-- Main content -->
        <section class="content">
            <div class="template-metadataDefinitionLibrary content body">
                <div class="row" style="margin-bottom: 20px " align="center">
                    <a href="https://shimo.im/doc/HnAm1Ev8KOgDOPi0?r=DRM7XD/%20%E3%80%8C%E5%85%83%E6%95%B0%E6%8D%AE%E5%AE%9A%E4%B9%89%E5%BA%93%E3%80%8D/">
                        <button type="button" class="btn btn-primary" style="margin-right: 5px;">
                            <i class="fa fa-hand-o-right" style="margin-right: 10px;"></i>元数据定义库
                        </button>
                    </a>
                </div>

                <div class="row" align="center">
                    <span><strong>Note:点击图标即可查看元数据定义!</strong></span>
                </div>
            </div>
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
</template>